Repository tier4/autoware_universe, pull requests merged in 2022-12, with the labels that each got.

#197 chore: cherry-pick bug fixes
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  system/default_ad_api/launch/default_ad_api.launch.py
  system/default_ad_api/script/web_server.py
Labels: planning, system

#200 chore: cherry pick bug fixes
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  vehicle/raw_vehicle_cmd_converter/include/raw_vehicle_cmd_converter/csv_loader.hpp
  vehicle/raw_vehicle_cmd_converter/src/accel_map.cpp
  vehicle/raw_vehicle_cmd_converter/src/brake_map.cpp
  vehicle/raw_vehicle_cmd_converter/src/csv_loader.cpp
  vehicle/raw_vehicle_cmd_converter/src/steer_map.cpp
Labels: planning, vehicle

#207 fix(behavior_path_planner): fix planner data copy (#2501)
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: planning

#208 chore: cherry pick adapi support for rviz state plugin
  common/tier4_state_rviz_plugin/README.md
  common/tier4_state_rviz_plugin/images/select_auto.png
  common/tier4_state_rviz_plugin/images/select_engage.png
  common/tier4_state_rviz_plugin/package.xml
  common/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  common/tier4_state_rviz_plugin/src/autoware_state_panel.hpp
Labels: documentation, common

#211 fix(intersection): always set RTC distance to default stop line (#2529)
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#213 fix(trajectory_follower_node): remove unused include line (#2550)
  control/trajectory_follower_nodes/include/trajectory_follower_nodes/controller_node.hpp
Labels: control

#219 chore: cherry pick bug fix for network monitoring
  system/system_monitor/CMakeLists.txt
  system/system_monitor/README.md
  system/system_monitor/config/net_monitor.param.yaml
  system/system_monitor/docs/ros_parameters.md
  system/system_monitor/docs/topics_net_monitor.md
  system/system_monitor/include/system_monitor/net_monitor/net_monitor.hpp
  system/system_monitor/include/traffic_reader/traffic_reader_common.hpp
  system/system_monitor/include/traffic_reader/traffic_reader_service.hpp
  system/system_monitor/reader/traffic_reader/traffic_reader.cpp
  system/system_monitor/reader/traffic_reader/traffic_reader_main.cpp
  system/system_monitor/reader/traffic_reader/traffic_reader_service.cpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
Labels: documentation, system

#222 fix: hotfix to beta v0.7.0
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/obstacle_avoidance_planner/src/eb_path_optimizer.cpp
  planning/obstacle_cruise_planner/README.md
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/optimization_based_planner/optimization_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/debug_values.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/pid_based_planner/pid_based_planner.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/polygon_utils.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/type_alias.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/utils.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/optimization_based_planner/optimization_based_planner.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
  planning/obstacle_cruise_planner/src/utils.cpp
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/launch/accel_brake_map_calibrator.launch.xml
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/scripts/new_accel_brake_map_server.py
Labels: documentation, planning, vehicle

#223 fix(mission_planner): set goal in shoulder lane (#2548)
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
Labels: planning

#224 feat(behavior_path_planner): plan shift pull over/out on curve
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/config/pull_out/pull_out.param.yaml
  planning/behavior_path_planner/config/pull_over/pull_over.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/shift_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/shift_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/goal_searcher.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/shift_pull_over.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/util.cpp
  planning/behavior_path_planner/src/scene_module/utils/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/planning_debug_tools/include/planning_debug_tools/trajectory_analyzer.hpp
  planning/planning_debug_tools/include/planning_debug_tools/util.hpp
Labels: documentation, planning, common

#227 fix(behavior_path_planner): return node status in each scene modules
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/scene_module/scene_module_bt_node_interface.cpp
Labels: planning

#225 feat(behavior_path_planner): pull over no stopping area
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher.hpp
  planning/behavior_path_planner/src/scene_module/pull_over/goal_searcher.cpp
Labels: planning

#226 fix(behavior_path_planner): pull over emergency stop velocity
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#228 feat(behavior_path_planner): generate pull over path candidates in advance
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/goal_searcher_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/shift_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/utils/geometric_parallel_parking.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/pull_out/geometric_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/geometric_pull_over.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/goal_searcher.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/shift_pull_over.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/util.cpp
  planning/behavior_path_planner/src/scene_module/utils/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#229 fix(crosswalk): fix base path for stop point caluculation (#2584)
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_crosswalk.cpp
Labels: planning

#230 fix(behavior_path_planner): pull over emergency stop (#2601)
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning
