Repository tier4/autoware_universe, pull requests merged in 2023-07, with the labels that each got.

#637 feat(vehicle_cmd_gate): reduce delay
  control/vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/vehicle_cmd_gate/package.xml
  control/vehicle_cmd_gate/script/delays_checker.py
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  system/default_ad_api/src/motion.cpp
  system/default_ad_api/src/motion.hpp
Labels: control, system

#588 feat: cherry-picks for beta/v0.8.1-odaiba1
  common/tier4_planning_rviz_plugin/include/path/display.hpp
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/config/dynamic_avoidance/dynamic_avoidance.param.yaml
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_dynamic_avoidance_design.md
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/debug_utilities.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_shifter/path_shifter.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
  planning/behavior_path_planner/src/marker_util/debug_utilities.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_shifter/path_shifter.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/motion_velocity_smoother/config/default_motion_velocity_smoother.param.yaml
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/smoother/smoother_base.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/trajectory_utils.hpp
  planning/motion_velocity_smoother/launch/motion_velocity_smoother.launch.xml
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/motion_velocity_smoother/src/smoother/smoother_base.cpp
  planning/motion_velocity_smoother/src/trajectory_utils.cpp
  planning/motion_velocity_smoother/test/test_motion_velocity_smoother_node_interface.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/trajectory_utils.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: documentation, planning, common, perception

#638 feat(start_planner): add option for lane departure (#4151)
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_start_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: documentation, planning

#643 fix(behavior_path_planner): some fixes for lane change
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/marker_util/lane_change/debug.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: documentation, launch, planning

#649 feat(avoidance): extend lanelets for target filtering (#4189)
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#651 feat(avoidance): improve avoidance stop & decel behavior (#4141)
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_avoidance_design.md
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_shifter/path_shifter.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/marker_util/avoidance/debug.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/path_shifter/path_shifter.cpp
Labels: documentation, planning

#650 perf(behavior_path_planner): simplify calculateDistanceLimit for dynamic drivable area expansion (#4163)
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning

#653 fix(behavior_path_planner): insert stop point in root reference path
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#655 fix: hotfix start planner and goal planner
  planning/behavior_path_planner/include/behavior_path_planner/utils/geometric_parallel_parking/geometric_parallel_parking.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#657 fix(behavior_path_planner): fix execution request condition
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#663 fix(run_out): clear stop pose to prevent virtual wall from remaining
  planning/behavior_velocity_run_out_module/src/debug.cpp
Labels: planning

#661 feat(lane_change): fix safety check functions
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/image/lane_change/lane_change-debug-1.png
  planning/behavior_path_planner/image/lane_change/lane_change-debug-2.png
  planning/behavior_path_planner/image/lane_change/lane_change-debug-3.png
  planning/behavior_path_planner/image/lane_change/lane_change-debug.png
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/debug_utilities.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/marker_util/lane_change/debug.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
Labels: documentation, planning

#667 fix(intersection): fix uninitialized tl_arrow_info variable issue (autowarefoundation#4283)
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#665 feat(start_planner): add offset to not finish before engage (autowarefoundation#4121)
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#671 fix(behavior_velocity_intersection_module): prevent invalid access for empty polygon
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: planning

#672 fix(avoidance): fix small issues
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#682 fix(occlusion_spot): add lacking param (#4290)
  planning/behavior_velocity_occlusion_spot_module/config/occlusion_spot.param.yaml
Labels: planning

#675 feat(behavior_velocity): support the new traffic signal interface
  common/tier4_traffic_light_rviz_plugin/README.md
  common/tier4_traffic_light_rviz_plugin/package.xml
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.cpp
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.hpp
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  perception/traffic_light_arbiter/README.md
  planning/behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_planner/README.md
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/node.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner_common/package.xml
  planning/behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
  planning/planning_debug_tools/scripts/perception_reproducer.py
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager.hpp
  planning/planning_test_utils/package.xml
Labels: documentation, launch, planning, common, perception

#683 feat(behavior_velocity): support new traffic signal interface
  common/tier4_traffic_light_rviz_plugin/README.md
  common/tier4_traffic_light_rviz_plugin/package.xml
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.cpp
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.hpp
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_planner/README.md
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/node.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner_common/package.xml
  planning/behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
  planning/planning_debug_tools/scripts/perception_reproducer.py
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager.hpp
  planning/planning_test_utils/package.xml
Labels: documentation, launch, planning, common

#685 fix(traffic_light): fix traffic_light_arbiter pipeline
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  perception/traffic_light_arbiter/launch/traffic_light_arbiter.launch.xml
Labels: launch, perception

#689 fix: change traffic light topic name
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
Labels: launch

#688 fix: add s/p hotfix for beta/v0.10.0
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/traffic_light_occlusion_predictor/src/nodelet.cpp
Labels: perception

#694 chore: change output topic of traffic light RViz plugin
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.cpp
Labels: common

#698 feat: roi_cluster_fusion bug fix and compare_map_segmentation input topic change
  launch/tier4_perception_launch/launch/object_recognition/detection/pointcloud_map_filter.launch.py
  perception/compare_map_segmentation/CMakeLists.txt
  perception/compare_map_segmentation/README.md
  perception/compare_map_segmentation/include/compare_map_segmentation/voxel_grid_map_loader.hpp
  perception/compare_map_segmentation/package.xml
  perception/compare_map_segmentation/src/voxel_grid_map_loader.cpp
  perception/euclidean_cluster/launch/euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: documentation, launch, perception

#700 feat(goal_planner): add no_parking_area for goal search (#3467)
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_searcher.hpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
Labels: planning, map

#701 fix(traffic_light_arbiter): clear perception msg when the stamp is over the tolerance
  perception/traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: perception
