Repository tier4/autoware_universe, pull requests merged in 2023-04, with the labels that each got.

#343 perf(motion_utils): improve performance of findNearestIndex (#3082)
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
Labels: common

#344 perf(motion_utils): improve performance of findNearestIndex (#3082)
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
Labels: common

#347 fix(obstacle_avoidance_planner): remove the option march=native (#3009)
  planning/obstacle_avoidance_planner/CMakeLists.txt
Labels: planning

#357 fix(system_error_monitor): typo
  system/system_error_monitor/config/diagnostic_aggregator/system.param.yaml
Labels: system

#332 feat: add collision_checker
  planning/collision_checker/CMakeLists.txt
  planning/collision_checker/README.md
  planning/collision_checker/config/collision_checker.param.yaml
  planning/collision_checker/include/collision_checker/node.hpp
  planning/collision_checker/launch/collision_checker.launch.xml
  planning/collision_checker/package.xml
  planning/collision_checker/src/node.cpp
Labels: documentation, planning

#360 feat: add release note workflow to v0.7.0
  .github/workflows/dispatch-release-note.yaml
Labels: ci

#361 feat: add release note workflow to v0.7.1
  .github/workflows/dispatch-release-note.yaml
Labels: ci

#333 feat: imu monitor
  system/imu_monitor/CMakeLists.txt
  system/imu_monitor/README.md
  system/imu_monitor/config/imu_monitor.param.yaml
  system/imu_monitor/include/imu_monitor/imu_monitor.hpp
  system/imu_monitor/launch/imu_monitor.launch.xml
  system/imu_monitor/package.xml
  system/imu_monitor/src/imu_monitor.cpp
Labels: documentation, system

#339 feat: add bus stop module
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
  planning/behavior_velocity_planner/CMakeLists.txt
  planning/behavior_velocity_planner/include/scene_module/bus_stop/debug.hpp
  planning/behavior_velocity_planner/include/scene_module/bus_stop/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/bus_stop/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/bus_stop/state_machine.hpp
  planning/behavior_velocity_planner/include/scene_module/bus_stop/turn_indicator.hpp
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/scene_module/bus_stop/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/bus_stop/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/bus_stop/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/bus_stop/state_machine.cpp
  planning/behavior_velocity_planner/src/scene_module/bus_stop/turn_indicator.cpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: planning, common, map

#363 chore: update aggregator
  system/system_error_monitor/config/diagnostic_aggregator/planning.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/sensing.param.yaml
Labels: system

#367 feat(dummy diag publisher): change diag name specification method to YAML #2840
  launch/tier4_system_launch/launch/system.launch.xml
  system/dummy_diag_publisher/CMakeLists.txt
  system/dummy_diag_publisher/README.md
  system/dummy_diag_publisher/config/_empty.param.yaml
  system/dummy_diag_publisher/config/dummy_diag_publisher.param.yaml
  system/dummy_diag_publisher/config/extra.param.yaml
  system/dummy_diag_publisher/include/dummy_diag_publisher/dummy_diag_publisher_core.hpp
  system/dummy_diag_publisher/launch/dummy_diag_publisher.launch.xml
  system/dummy_diag_publisher/launch/dummy_diag_publisher_node.launch.xml
  system/dummy_diag_publisher/package.xml
  system/dummy_diag_publisher/src/dummy_diag_publisher_core.cpp
  system/dummy_diag_publisher/src/dummy_diag_publisher_node.cpp
  system/dummy_diag_publisher/src/dummy_diag_publisher_node/dummy_diag_publisher_node.cpp
Labels: documentation, launch, system

#377 chore: fix pyrocan temperature diagnostic_aggregator config
  system/system_error_monitor/config/diagnostic_aggregator/sensing.param.yaml
Labels: system

#379 ci(sync-upstream): run weekdays except holidays
  .github/workflows/sync-upstream.yaml
Labels: ci

#387 feat: use new behavior_path_planner architecture
  planning/behavior_path_planner/CMakeLists.txt
Labels: planning

#391 chore: fix MRM diag are tf_status and external_cmd_converter #278
  system/system_error_monitor/config/diagnostic_aggregator/control.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/localization.param.yaml
Labels: system

#386 fix(motion_velocity_smoother): insert the point when applying external velocity limit
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: planning

#397 feat(behavior_velocity_planner::intersection): modify module deletion condition
  planning/behavior_velocity_planner/src/utilization/util.cpp
Labels: planning
