Repository tier4/autoware_universe, pull requests merged in 2023-09, with the labels that each got.

#796 fix(start_planner): fix build
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#801 fix(crosswalk): fix build
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: planning

#784 feat(behavior_velocity): support new traffic signal interface
  common/tier4_traffic_light_rviz_plugin/README.md
  common/tier4_traffic_light_rviz_plugin/package.xml
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.cpp
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.hpp
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_planner/README.md
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/node.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner_common/package.xml
  planning/behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
  planning/planning_test_utils/include/planning_interface_test_manager/planning_interface_test_manager.hpp
  planning/planning_test_utils/package.xml
Labels: documentation, launch, planning, common

#803 ci: add dispatch-push-event workflow
  .github/workflows/dispatch-push-event.yaml
Labels: ci

#806 fix(tier4_planning_rviz_plugin): update vehicle info parameters in panel received from global parameter
  common/tier4_planning_rviz_plugin/include/path/display_base.hpp
Labels: common

#815 fix(euclidean_cluster): reduce false negative
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.xml
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/crop_box_filter/crop_box_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/faster_voxel_grid_downsample_filter.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/voxel_grid_downsample_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/filter.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/transform_info.hpp
  sensing/pointcloud_preprocessor/src/downsample_filter/faster_voxel_grid_downsample_filter.cpp
  sensing/pointcloud_preprocessor/src/downsample_filter/voxel_grid_downsample_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/filter.cpp
Labels: launch, perception, sensing

#817 chore(traffic_light_arbiter): use THROTTLE to prevent obscuring other logs (autowarefoundation#4870)
  perception/traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: perception

#821 chore: cherry-pick from v0.9.1
  common/tier4_planning_rviz_plugin/include/path/display_base.hpp
Labels: common

#822 chore: cherry pick from v0.10.0
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_walkway_module/src/manager.cpp
Labels: planning

#824 fix(control_validator): resolve the bug causing inappropriate diagnostic messages. (#4846)
  control/control_validator/src/utils.cpp
Labels: control

#792 chore: update sync upstream script
  .github/workflows/sync-upstream.yaml
Labels: ci

#811 chore: add workflow to merge beta branch to tier4 main
  .github/workflows/beta-to-tier4-main-sync.yaml
Labels: ci

#814 feat(simple_planning_simulator): consider ego pitch angle for simulation
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/launch/simple_planning_simulator.launch.py
  simulator/simple_planning_simulator/package.xml
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: simulator

#825 feat(simple_planning_simulator): consider ego pitch angle for simulat…
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/launch/simple_planning_simulator.launch.py
  simulator/simple_planning_simulator/package.xml
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: simulator

#826 chore(build): include missing lanelet2 header (#4819)
  localization/ar_tag_based_localizer/src/tag_tf_caster_core.cpp
  map/util/lanelet2_map_preprocessor/src/fix_lane_change_tags.cpp
  perception/traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: perception, localization, map

#829 fix: suppress unintended permits at intersections
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/stuck-vehicle.drawio.svg
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: documentation, planning

#819 feat(avoidance): safety check improvement
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
Labels: planning

#832 feat(tier4_system_rviz_plugin): add package (autowarefoundation#4945)
  common/tier4_system_rviz_plugin/CMakeLists.txt
  common/tier4_system_rviz_plugin/README.md
  common/tier4_system_rviz_plugin/package.xml
  common/tier4_system_rviz_plugin/plugins/plugin_description.xml
  common/tier4_system_rviz_plugin/src/jsk_overlay_utils.cpp
  common/tier4_system_rviz_plugin/src/jsk_overlay_utils.hpp
  common/tier4_system_rviz_plugin/src/mrm_summary_overlay_display.cpp
  common/tier4_system_rviz_plugin/src/mrm_summary_overlay_display.hpp
Labels: documentation, common

#810 perf(map_based_prediction): performance improvement of interpolateReferencePath with cumulative sum
  perception/map_based_prediction/src/path_generator.cpp
Labels: perception

#812 perf(detection_area): point and polygon inclusion check by minimum enclosing circle (autowarefoundation#2846)
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
Labels: planning

#833 fix(tier4_perception_launch): camera lidar fusion launch
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
Labels: launch

#834 fix: camera lidar fusion launch
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
Labels: launch

#808 chore: cherry pick
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#837 fix(resample): remove duplicated point before resampling (#4965)
  common/motion_utils/src/resample/resample.cpp
Labels: common

#838 fix(start_planner): uninitialized hysteresis_factor_expand_rate
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
Labels: planning

#839 hotfix(crosswalk): cherry pick crosswalk module improvement
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/docs/ttc-ttv.svg
  planning/behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: documentation, planning

#840 fix(avoidance): avoidance safety check
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/avoidance/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/lane_change/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/src/marker_utils/avoidance/debug.cpp
  planning/behavior_path_planner/src/marker_utils/lane_change/debug.cpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
Labels: planning

#841 hotfix(lane_change): cherry-pick lane change object filtering
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#843 feat(voxel_grid_downsample_filter): cherry-pick and revert
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.xml
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/crop_box_filter/crop_box_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/faster_voxel_grid_downsample_filter.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/voxel_grid_downsample_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/filter.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/transform_info.hpp
  sensing/pointcloud_preprocessor/src/downsample_filter/faster_voxel_grid_downsample_filter.cpp
  sensing/pointcloud_preprocessor/src/downsample_filter/voxel_grid_downsample_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/filter.cpp
Labels: launch, perception, sensing

#813 feat(surround_obstacle_checker): make parameters more tunable (#4925)
  planning/surround_obstacle_checker/config/surround_obstacle_checker.param.yaml
  planning/surround_obstacle_checker/include/surround_obstacle_checker/debug_marker.hpp
  planning/surround_obstacle_checker/include/surround_obstacle_checker/node.hpp
  planning/surround_obstacle_checker/src/debug_marker.cpp
  planning/surround_obstacle_checker/src/node.cpp
Labels: planning

#805 feat(goal_planner): always run fixed_goal_planner
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_planner_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
Labels: documentation, planning

#846 feat: update start goal planner v0.10.1
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/freespace_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/geometric_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/pull_out_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/shift_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
  planning/behavior_path_planner/src/utils/start_planner/freespace_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: documentation, planning

#845 feat(interface): add new option `last_keep` (#4811)
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#848 refactor(perception): rearrange clustering pipeline (#4999)
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/pointcloud_map_filter.launch.py
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/euclidean_cluster/config/compare_map.param.yaml
  perception/euclidean_cluster/config/outlier.param.yaml
  perception/euclidean_cluster/config/voxel_grid.param.yaml
  perception/euclidean_cluster/config/voxel_grid_based_euclidean_cluster.param.yaml
  perception/euclidean_cluster/launch/euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/euclidean_cluster.launch.xml
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.xml
Labels: launch, perception

#850 feat(behavior_path_planner): add always executable module option (#4785)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
Labels: planning

#853 fix(obstacle_cruise_planner): fix stop against objects after backward trajectory terminal
  common/motion_utils/include/motion_utils/marker/marker_helper.hpp
  common/motion_utils/include/motion_utils/marker/virtual_wall_marker_creator.hpp
  common/motion_utils/src/marker/marker_helper.cpp
  common/motion_utils/src/marker/virtual_wall_marker_creator.cpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: planning, common

#854 Feat/sugahara/update start goal planner v0.10.1 2
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/geometric_parallel_parking/geometric_parallel_parking.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_goal_planner_common/common_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_goal_planner_common/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/pull_out_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/util.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
  planning/behavior_path_planner/src/utils/start_goal_planner_common/utils.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
Labels: planning

#855 perf(planner_manger): remove lifo limitation (#4458)
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#860 feat(start_planner): prevent start planner execution in the middle of…
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_start_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: documentation, planning

#859 feat(ekf_localizer): ignore zero band
  localization/ekf_localizer/CMakeLists.txt
  localization/ekf_localizer/README.md
  localization/ekf_localizer/config/ekf_localizer.param.yaml
  localization/ekf_localizer/include/ekf_localizer/diagnostics.hpp
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
  localization/ekf_localizer/include/ekf_localizer/hyper_parameters.hpp
  localization/ekf_localizer/media/ekf_diagnostics.png
  localization/ekf_localizer/package.xml
  localization/ekf_localizer/src/diagnostics.cpp
  localization/ekf_localizer/src/ekf_localizer.cpp
  localization/ekf_localizer/test/test_diagnostics.cpp
  localization/stop_filter/CMakeLists.txt
  localization/stop_filter/config/stop_filter.param.yaml
  localization/stop_filter/launch/stop_filter.launch.xml
  localization/stop_filter/src/stop_filter.cpp
Labels: documentation, localization

#863 feat(avoidance): imporove avoidance near goal
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#865 fix(drivable_area_expansion): stabler expansion
  planning/behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/drivable_area_expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/footprints.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/replan_checker.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/types.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning

#864 feat(merge_from_private): make stop_distance_threshold tunable (#5086)
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
Labels: planning

#874 tmp: add mpc steer intervention topic
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc_lateral_controller.hpp
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
Labels: control

#871 fix(crosswalk): fix module launch condition
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.hpp
  planning/behavior_velocity_walkway_module/src/manager.cpp
  planning/behavior_velocity_walkway_module/src/manager.hpp
Labels: planning

#872 feat(lane_change): not execute LC on crosswalk
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: documentation, planning

#868 feat(pid_longitudinal_controller): several bug fix
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/longitudinal_controller_utils.hpp
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/pid_longitudinal_controller/src/longitudinal_controller_utils.cpp
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/pid_longitudinal_controller/test/test_longitudinal_controller_utils.cpp
Labels: control

#882 fix(autoware_auto_tf2): remove tf2 geometry function duplicated in tf2 geometry msgs
  common/autoware_auto_tf2/include/autoware_auto_tf2/tf2_autoware_auto_msgs.hpp
Labels: common

#887 fix(autoware_auto_tf2): remove tf2 geometry function duplicated in tf2 geometry msgs (#5089)
  common/autoware_auto_geometry/CMakeLists.txt
  common/autoware_auto_tf2/CMakeLists.txt
  common/autoware_auto_tf2/include/autoware_auto_tf2/tf2_autoware_auto_msgs.hpp
  planning/behavior_path_planner/CMakeLists.txt
  planning/surround_obstacle_checker/CMakeLists.txt
Labels: planning, common

#886 fix(autoware_auto_tf2): remove duplicated function in tf2_geometry_msg
  common/autoware_auto_geometry/CMakeLists.txt
  common/autoware_auto_tf2/CMakeLists.txt
  common/autoware_auto_tf2/include/autoware_auto_tf2/tf2_autoware_auto_msgs.hpp
  planning/behavior_path_planner/CMakeLists.txt
  planning/surround_obstacle_checker/CMakeLists.txt
Labels: planning, common

#889 fix(pointcloud_preprocessor): organize input twist topic (#5125)
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  sensing/pointcloud_preprocessor/docs/concatenate-data.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/pointcloud_preprocessor/launch/preprocessor.launch.py
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
Labels: documentation, launch, sensing

#890 fix: ml model path
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/centerpoint_vs_centerpoint-tiny.launch.xml
  perception/lidar_centerpoint/launch/lidar_centerpoint.launch.xml
  perception/lidar_centerpoint/launch/single_inference_lidar_centerpoint.launch.xml
  perception/tensorrt_yolo/README.md
  perception/tensorrt_yolo/launch/tensorrt_yolo.launch.xml
  perception/tensorrt_yolox/README.md
  perception/tensorrt_yolox/launch/yolox_s_plus_opt.launch.xml
  perception/tensorrt_yolox/launch/yolox_tiny.launch.xml
  perception/traffic_light_classifier/README.md
  perception/traffic_light_classifier/launch/traffic_light_classifier.launch.xml
  perception/traffic_light_fine_detector/README.md
  perception/traffic_light_fine_detector/launch/traffic_light_fine_detector.launch.xml
  perception/traffic_light_ssd_fine_detector/README.md
  perception/traffic_light_ssd_fine_detector/launch/traffic_light_ssd_fine_detector.launch.xml
Labels: documentation, launch, perception

#893 fix(out_of_lane): reduce "Same Points are given" messages
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
Labels: planning

#891 feat(intersection): use planned velocity from upstream modules (#5156)
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
Labels: planning

#869 feat(behavior_path_planner): add virtual stop wall for lane change
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning
