Repository tier4/autoware_universe, pull requests merged in 2023-03, with the labels that each got.

#297 fix(fault injection): add find package to cmake (#2973)
  simulator/fault_injection/CMakeLists.txt
  simulator/fault_injection/package.xml
Labels: simulator

#274 fix(behavior_path_planner): fix geometric pull out lane id for overlapping (#2828)
  planning/behavior_path_planner/src/scene_module/utils/geometric_parallel_parking.cpp
Labels: planning

#304 feat(intersection): additional fix for LC and Avoidance on intersection
  planning/behavior_velocity_planner/include/scene_module/intersection/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_merge_from_private_road.hpp
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/include/utilization/util.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
  planning/behavior_velocity_planner/src/utilization/util.cpp
Labels: planning

#306 fix(behavior_path_planner): fix calcLateralDistanceFromEgoToObject (#3012)
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#307 fix(run_out): place of clearing points (#3021)
  planning/behavior_velocity_planner/src/scene_module/run_out/dynamic_obstacle.cpp
Labels: planning

#310 fix(behavior_path_planner): backport drivable area for loop route
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#315 ci(dispatch-release-note): use Github Apps instead of GIHUB_TOKEN
  .github/workflows/dispatch-release-note.yaml
Labels: ci

#318 feat: update roi_cluster_fusion
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: perception

#321 feat: add release note workflow to v0.7.0 odaiba1
  .github/workflows/dispatch-release-note.yaml
Labels: ci

#320 feat: add release note workflow to v0.7.2
  .github/workflows/dispatch-release-note.yaml
Labels: ci

#322 feat(planing_evaluator): add dianostic_converter and modfied_goal_deviation
  common/tier4_planning_rviz_plugin/CMakeLists.txt
  common/tier4_planning_rviz_plugin/icons/classes/PoseWithUuidStamped.png
  common/tier4_planning_rviz_plugin/include/pose_with_uuid_stamped/display.hpp
  common/tier4_planning_rviz_plugin/package.xml
  common/tier4_planning_rviz_plugin/plugins/plugin_description.xml
  common/tier4_planning_rviz_plugin/src/pose_with_uuid_stamped/display.cpp
  evaluator/diagnostic_converter/CMakeLists.txt
  evaluator/diagnostic_converter/README.md
  evaluator/diagnostic_converter/include/converter_node.hpp
  evaluator/diagnostic_converter/package.xml
  evaluator/diagnostic_converter/src/converter_node.cpp
  evaluator/diagnostic_converter/test/test_converter_node.cpp
  evaluator/planning_evaluator/CMakeLists.txt
  evaluator/planning_evaluator/README.md
  evaluator/planning_evaluator/include/planning_evaluator/metrics/deviation_metrics.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/metric.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/metrics_utils.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/obstacle_metrics.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/stability_metrics.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics/trajectory_metrics.hpp
  evaluator/planning_evaluator/include/planning_evaluator/metrics_calculator.hpp
  evaluator/planning_evaluator/include/planning_evaluator/motion_evaluator_node.hpp
  evaluator/planning_evaluator/include/planning_evaluator/parameters.hpp
  evaluator/planning_evaluator/include/planning_evaluator/planning_evaluator_node.hpp
  evaluator/planning_evaluator/include/planning_evaluator/stat.hpp
  evaluator/planning_evaluator/launch/motion_evaluator.launch.xml
  evaluator/planning_evaluator/launch/planning_evaluator.launch.xml
  evaluator/planning_evaluator/package.xml
  evaluator/planning_evaluator/param/planning_evaluator.defaults.yaml
  evaluator/planning_evaluator/src/metrics/deviation_metrics.cpp
  evaluator/planning_evaluator/src/metrics/metrics_utils.cpp
  evaluator/planning_evaluator/src/metrics/obstacle_metrics.cpp
  evaluator/planning_evaluator/src/metrics/stability_metrics.cpp
  evaluator/planning_evaluator/src/metrics/trajectory_metrics.cpp
  evaluator/planning_evaluator/src/metrics_calculator.cpp
  evaluator/planning_evaluator/src/motion_evaluator_node.cpp
  evaluator/planning_evaluator/src/planning_evaluator_node.cpp
  evaluator/planning_evaluator/test/test_planning_evaluator_node.cpp
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/mission_planner/src/mission_planner/arrival_checker.cpp
  planning/mission_planner/src/mission_planner/arrival_checker.hpp
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
  planning/planning_evaluator/launch/planning_evaluator.launch.xml
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: documentation, launch, planning, common, evaluator

#329 chore: cherry pick for ground segmentation
  perception/ground_segmentation/docs/scan-ground-filter.md
  perception/ground_segmentation/include/ground_segmentation/scan_ground_filter_nodelet.hpp
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
Labels: documentation, perception

#331 fix(rtc_interface): fix initial auto mode (#3029)
  planning/rtc_interface/include/rtc_interface/rtc_interface.hpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: planning

#336 fix(euclidean_cluster): keep pointcloud resolution in long-range for Euclidean cluster (#2749)
  perception/euclidean_cluster/config/voxel_grid_based_euclidean_cluster.param.yaml
  perception/euclidean_cluster/launch/voxel_grid_based_euclidean_cluster.launch.py
Labels: perception

#338 fix(behavior_velocity_planner): fix detection area being ignored when the ego vehicle stops over the stop line (#3114)
  planning/behavior_velocity_planner/config/detection_area.param.yaml
  planning/behavior_velocity_planner/detection-area-design.md
  planning/behavior_velocity_planner/include/scene_module/detection_area/scene.hpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
Labels: documentation, planning
