Repository tier4/autoware_universe, pull requests merged in 2023-08, with the labels that each got.

#692 chore(traffic_light): cherry pick traffic light launcher updates
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  launch/tier4_perception_launch/package.xml
  perception/traffic_light_arbiter/launch/traffic_light_arbiter.launch.xml
  perception/traffic_light_multi_camera_fusion/src/node.cpp
Labels: launch, perception

#693 chore: update input topic of traffic signal in planning modules
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.cpp
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
Labels: launch, common

#704 chore(tier4_planning_launch): enable to abort lane change from a parameter file
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
Labels: launch

#707 fix(object_merger): preserve unknown objects close to known objects (…
  perception/object_merger/README.md
  perception/object_merger/config/overlapped_judge.param.yaml
  perception/object_merger/include/object_association_merger/node.hpp
  perception/object_merger/launch/object_association_merger.launch.xml
  perception/object_merger/src/object_association_merger/node.cpp
Labels: documentation, perception

#710 fix(behavior_path_planner): fix turn signal for lane change abort
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#709 refactor(traffic_light_arbiter): read parameters from config file
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/traffic_light_arbiter/CMakeLists.txt
  perception/traffic_light_arbiter/config/traffic_light_arbiter.param.yaml
  perception/traffic_light_arbiter/launch/traffic_light_arbiter.launch.xml
Labels: launch, perception

#705 fix(behavior_path_planner): insert stop point for multiple lane change
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#690 feat(vehicle_cmd_gate): use vehicle_stop_checker for judging vehicle stop
  control/vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/vehicle_cmd_gate/package.xml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: control

#719 fix(image_projection_based_fusion, tier4_perception_launch): update camera-lidar-fusion based detection
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  perception/image_projection_based_fusion/CMakeLists.txt
  perception/image_projection_based_fusion/config/pointpainting.param.yaml
  perception/image_projection_based_fusion/config/roi_detected_object_fusion.param.yaml
  perception/image_projection_based_fusion/docs/roi-detected-object-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_detected_object_fusion/node.hpp
  perception/image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/image_projection_based_fusion/package.xml
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/preprocess_kernel.cu
  perception/image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/image_projection_based_fusion/src/utils/utils.cpp
Labels: documentation, launch, perception

#722 chore: fix to throttle log
  perception/image_projection_based_fusion/src/fusion_node.cpp
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
Labels: perception

#721 fix(behavior_path_planner): fix bad dynamic drivable area expansion at path extremities (#4259)
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/drivable_area_expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/footprints.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/map_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/types.hpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/map_utils.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning

#713 feat(intersection): extract occlusion contour as polygon (#4442)
  planning/behavior_velocity_intersection_module/CMakeLists.txt
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#714 feat(intersection_occlusion): ignore occlusion behind parked vehicles on the attention lane (#4466)
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: planning

#716 chore(intersection): publish decision status string (#4456)
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: planning

#717 feat: disable pass judge decision while peeking (#4468)
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: planning

#727 fix(behavior_path_planner): fix side shift node die
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
Labels: planning

#723 fix: update start goal planner v0.10
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/pull_out_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/shift_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/util.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
  planning/scenario_selector/src/scenario_selector_node/scenario_selector_node.cpp
Labels: planning

#725 fix(behavior_path_planner): fix simultaneous execution
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/util.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
Labels: planning

#735 feat(behavior_path_planner): improve lane change path sampling
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#736 fix(traffic_light_arbiter): use the shape as a key to find the highest confidence signal
  perception/traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: perception

#737 chore(tier4_simulator_launch): launch camera and V2X fusion module in simple planning simulator
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: launch

#738 fix(behavior_path_planner): [TO BE REVERTED] set max velocity
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#728 fix(avoidance): fix trimmed shift line alignment
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#739 fix(start_planner): fix path when goal is out of current lanes (#4636)
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/util.hpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/util.cpp
Labels: planning

#740 fix(behavior_path_planner): fix simultaneous execution (#4622)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/util.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
Labels: planning

#741 fix(intersection): cherry pick for intersection die
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: planning

#744 refactor(behavior_path_planner): separete utils function to objects filtering and define parameters for safety check
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/docs/behavior_path_planner_safety_check.md
  planning/behavior_path_planner/image/path_safety_checker/extended_polygons.drawio.svg
  planning/behavior_path_planner/image/path_safety_checker/front_object.drawio.svg
  planning/behavior_path_planner/image/path_safety_checker/safety_check_flow.drawio.svg
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_lane_change_utils.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
Labels: documentation, planning

#732 fix(planner_manager): output total time
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#743 feat(obstacle_avoidance_planner): faster obstacle avoidance planner
  planning/obstacle_avoidance_planner/config/obstacle_avoidance_planner.param.yaml
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/debug_marker.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/mpt_optimizer.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/state_equation_generator.hpp
  planning/obstacle_avoidance_planner/scripts/calculation_time_plotter.py
  planning/obstacle_avoidance_planner/src/debug_marker.cpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_avoidance_planner/src/state_equation_generator.cpp
Labels: planning

#745 chore(system_monitor): disable gpu monitor until bug is fixed
  system/system_monitor/launch/system_monitor.launch.xml
Labels: system

#746 chore(tier4_perception_launch): disable internal traffic light signals
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
Labels: launch

#729 feat(lane_departure_checker): add road boarder deparcher checker
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/geometry.hpp
  common/tier4_autoware_utils/test/src/geometry/test_geometry.cpp
  control/lane_departure_checker/README.md
  control/lane_departure_checker/config/lane_departure_checker.param.yaml
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker_node.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
Labels: documentation, control, common

#749 fix(behavior_path_planner): fix build error
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#752 fix(traffic_light_occlusion_predictor): bug fix (#4426)
  perception/traffic_light_occlusion_predictor/src/nodelet.cpp
Labels: perception

#753 fix(compare_map_segmentation): fix process died for invalid access #4676
  perception/compare_map_segmentation/include/compare_map_segmentation/voxel_grid_map_loader.hpp
Labels: perception

#750 fix(behavior_path_planner): add fallback for splitting the dynamic drivable area into left and right bounds (autowarefoundation#4646)
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning

#757 feat(merge_from_private): use separate param (#4692)
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
Labels: planning

#761 fix(intersection): modify ego polygon calculation
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#762 fix(intersection): modify ego polygon calculation (#4694)
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#767 fix(costmap_generator): prevent invalid access for current_pose (#4696)
  planning/costmap_generator/nodes/costmap_generator/costmap_generator_node.cpp
Labels: planning

#771 chore(map_based_prediction): prediction param to yaml
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: perception

#772 feat(launch): enable glog to print stack trace autonatically when the process die in planning/control modules
  common/glog_component/CMakeLists.txt
  common/glog_component/README.md
  common/glog_component/include/glog_component/glog_component.hpp
  common/glog_component/package.xml
  common/glog_component/src/glog_component.cpp
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_planning_launch/launch/mission_planning/mission_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  launch/tier4_planning_launch/package.xml
Labels: documentation, launch, common

#760 chore(multi_object_tracker): fix jerky object yaw
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
Labels: launch, perception

#775 fix(behavior_path_planner): use the avoid_linestring.distance param
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
Labels: planning

#777 fix(traffic_light_multi_camera_fusion): assign multiple regulatory element id for one traffic light
  perception/traffic_light_multi_camera_fusion/include/traffic_light_multi_camera_fusion/node.hpp
  perception/traffic_light_multi_camera_fusion/src/node.cpp
Labels: perception
