Repository tier4/autoware_universe, pull requests merged in 2023-02, with the labels that each got.

#267 chore: change lifetime of object marker
  common/autoware_auto_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
Labels: common

#268 fix(behavior_velocity_planner): clean up expired intersection/merge_from_private/traffic_light (#2790)
  planning/behavior_velocity_planner/include/scene_module/intersection/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/traffic_light/manager.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/traffic_light/manager.cpp
Labels: planning

#270 fix(behavior_path_planner): do not access empty path in pull out module (#2805)
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
Labels: planning

#271 feat(autoware_auto_perception_rviz_plugin): add simple visualize mode (autowarefoundation#2814)
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_detail.hpp
  common/autoware_auto_perception_rviz_plugin/include/object_detection/object_polygon_display_base.hpp
  common/autoware_auto_perception_rviz_plugin/package.xml
  common/autoware_auto_perception_rviz_plugin/src/object_detection/object_polygon_detail.cpp
Labels: common

#272 perf(motion_utils): improve performance of zero_order_hold (#2744)
  common/interpolation/include/interpolation/zero_order_hold.hpp
  common/motion_utils/src/resample/resample.cpp
Labels: common

#273 fix(behavior_path_planner): fix path distortion of no back pull out (#2829)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/utils/geometric_parallel_parking.cpp
Labels: planning

#275 fix(lane_change): get sorted lane ids (#2847)
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#276 fix(behavior_path_planner): fix geometric parallel parking guard (#2857)
  planning/behavior_path_planner/src/scene_module/utils/geometric_parallel_parking.cpp
Labels: planning

#280 perf(map_based_prediction): performance improvement of interpolateRef…
  perception/map_based_prediction/src/path_generator.cpp
Labels: perception

#277 perf(detection_area): point and polygon inclusion check by minimum enclosing circle
  planning/behavior_velocity_planner/src/scene_module/detection_area/scene.cpp
Labels: planning

#284 feat(behavior_velocity): add mandatory detection area for run out module
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/compare_map.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/vector_map_inside_area_filter.launch.py
  planning/behavior_velocity_planner/CMakeLists.txt
  planning/behavior_velocity_planner/config/run_out.param.yaml
  planning/behavior_velocity_planner/include/scene_module/run_out/debug.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/dynamic_obstacle.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/manager.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/scene.hpp
  planning/behavior_velocity_planner/include/scene_module/run_out/utils.hpp
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/scene_module/run_out/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/dynamic_obstacle.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/scene.cpp
  planning/behavior_velocity_planner/src/scene_module/run_out/utils.cpp
Labels: launch, planning

#283 fix(behavior_path_planner): fix pull over deceleration before search area start (#2898)
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#286 fix(behavior_path_planner): fix cutOverlappedLanes (#2916)
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#287 feat: improve map_based_prediction
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: perception

#294 feat: improve lc computing performance
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utilities.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/external_request_lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
  planning/behavior_path_planner/src/utilities.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning
