Repository tier4/autoware_universe, pull requests merged in 2023-05, with the labels that each got.

#400 fix: performance_monitoring
  system/system_error_monitor/config/diagnostic_aggregator/sensing.param.yaml
Labels: system

#402 fix(behavior_velocity_planner::intersection): strictly wait at 1st stop line when occlusion is detected
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#403 fix(intersection): fixed to restart after occlusion is cleared (#3552)
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#407 fix(behavior_path_planner): fix goal planner backward parking (#3601)
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#412 fix(*_rviz_plugin): the timing of updating
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
  common/tier4_traffic_light_rviz_plugin/src/traffic_light_publish_panel.cpp
Labels: common

#417 fix(behavior_path_planner): hotfix for behavior path planner
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#419 feat(intersection): remove lanelets on path from detection area (#3655)
  planning/behavior_velocity_planner/include/scene_module/intersection/util.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/util.cpp
Labels: planning

#420 fix(behavior_path_planner): hotfix for behavior path planner
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/side_shift/side_shift_module.cpp
  planning/behavior_path_planner/src/utils/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/static_centerline_optimizer/src/utils.cpp
Labels: planning, map

#422 fix(planner_manager): delete subsequent approved modules (#3652)
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#421 fix(behavior_path_planner): add drivable area information (#3660)
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_tree_manager.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#429 feat(behavior_path_planner): update lane change safety check
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
Labels: planning

#433 fix(behavior_path_planner): fix pull_over and pull_out
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#423 fix(multi_object_tracker): fix unintended perturbation in tracking estimation via non initialized eigen vector (#3651)
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
Labels: perception

#442 feat(intersection): switch default/occlusion_first_stop when occlusion appeared/disappeared or approved/disapproved (#3664)
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#481 fix(behavior_path_planner): handle overlap lane in isEgoOutOfRoute() …
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#479 fix(behavior_path_planner): init idling module (#3709)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
Labels: planning

#482 fix(avoidance): clear waiting approval only when all target module are unavoidable (#3662)
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#478 fix(behavior_velocity_planner): fixed virtual wall marker id duplication (#3654)
  common/motion_utils/include/motion_utils/marker/marker_helper.hpp
  common/motion_utils/src/marker/marker_helper.cpp
  planning/behavior_velocity_planner/src/scene_module/crosswalk/debug.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/debug.cpp
Labels: planning, common

#487 fix(vehicle_cmd_gate): fix the gear transition
  control/shift_decider/include/shift_decider/shift_decider.hpp
  control/shift_decider/src/shift_decider.cpp
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: control, launch

#488 revert: "fix(behavior_path_planner): keep terminal point in resamplePathWithSpline (#3720)"
  planning/behavior_path_planner/src/utils/path_utils.cpp
Labels: planning

#490 fix(avoidance): update ego avoidance velocity if the ego is faster than saved velocity (#3730)
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#492 fix(compare_map_segmentation): fix bug when set dynamic map loader for no split map (autowarefoundation#3732)
  perception/compare_map_segmentation/README.md
  perception/compare_map_segmentation/include/compare_map_segmentation/voxel_grid_map_loader.hpp
Labels: documentation, perception

#493 fix(lane_change): get lane change lanes actual length (#3687)
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#496 feat(lane_change): add dynamic lateral acceleration for lane change
  common/motion_utils/src/resample/resample.cpp
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_lane_change_design.md
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_lane_change_utils.cpp
Labels: documentation, planning, common

#499 fix(behavior_path_planner): remove setting maximum velocity after lane change
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#500 feat(avoidance): don't avoid objects around crosswalks (#3767)
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#504 fix(behavior_path_planner): generate drivable area for long backward path (#3772)
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#505 feat(obstacle_cruise_planner): make slow down feature stabler
  common/motion_utils/src/distance/distance.cpp
  common/motion_utils/test/src/distance/test_distance.cpp
  common/signal_processing/include/signal_processing/lowpass_filter_1d.hpp
  common/signal_processing/src/lowpass_filter_1d.cpp
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: planning, common

#507 feat: hotfix to beta/v0.8.0
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/include/scene_module/intersection/scene_intersection.hpp
  planning/behavior_velocity_planner/src/scene_module/intersection/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/intersection/scene_intersection.cpp
Labels: planning

#510 feat(map_based_prediction): use time_to_change_lane
  perception/map_based_prediction/config/map_based_prediction.param.yaml
Labels: perception

#511 fix(behavior_path_planner): do not execute goal_planner when the fixed goal is not in current lanes (#3796)
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#512 revert(distortion corrector_node): performance tuning (#2913)
  common/tier4_autoware_utils/CMakeLists.txt
  common/tier4_autoware_utils/include/tier4_autoware_utils/math/sin_table.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/math/trigonometry.hpp
  common/tier4_autoware_utils/include/tier4_autoware_utils/tier4_autoware_utils.hpp
  common/tier4_autoware_utils/src/math/sin_table.cpp
  common/tier4_autoware_utils/test/src/math/test_trigonometry.cpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
Labels: common, sensing

#513 fix(avoidance): reset rtc status in yield status (#3798)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#519 fix(goal_planner): add buffer to stop_pose for restarting (#3801)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#517 fix(intersection): static pass judge
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: planning

#525 feat(behavior_path_planner): output stop reasons (#3807)
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/behavior_tree_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: launch, planning

#538 feat(lane_change): lane change virtual wall marker (#3808)
  planning/behavior_path_planner/include/behavior_path_planner/marker_util/lane_change/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_path.hpp
  planning/behavior_path_planner/src/marker_util/lane_change/debug.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#532 feat(cherry-pick): add detection of ECC memory errors
  system/system_monitor/include/system_monitor/mem_monitor/mem_monitor.hpp
  system/system_monitor/src/mem_monitor/mem_monitor.cpp
Labels: system

#541 fix(behavior_path_planner): return default value if no registered module exists (#3843)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_manager_interface.hpp
Labels: planning

#543 fix(goal_planner): generate goal candidates after execution (#3854)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#501 fix(bus_stop): create virtual wall at the stop line
  planning/behavior_velocity_planner/src/scene_module/bus_stop/scene.cpp
Labels: planning

#545 fix(behavior_path_planner): do not return FAILURE in lane change module if it uses new architecture (#3820)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/interface.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
Labels: planning

#546 feat(lane_change): check lateral offset at lc finish judgement (#3861)
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#548 refactor(behavior_velocity_planner): new framework for creating virtual wall markers (#3851)
  common/motion_utils/CMakeLists.txt
  common/motion_utils/include/motion_utils/marker/marker_helper.hpp
  common/motion_utils/include/motion_utils/marker/virtual_wall_marker_creator.hpp
  common/motion_utils/src/marker/marker_helper.cpp
  common/motion_utils/src/marker/virtual_wall_marker_creator.cpp
  common/motion_utils/test/src/marker/test_virtual_wall_marker_creator.cpp
  planning/behavior_velocity_blind_spot_module/src/debug.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
  planning/behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_crosswalk_module/src/scene_walkway.hpp
  planning/behavior_velocity_detection_area_module/src/debug.cpp
  planning/behavior_velocity_detection_area_module/src/scene.hpp
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_no_stopping_area_module/src/debug.cpp
  planning/behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.hpp
  planning/behavior_velocity_occlusion_spot_module/src/debug.cpp
  planning/behavior_velocity_occlusion_spot_module/src/scene_occlusion_spot.hpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_run_out_module/src/debug.cpp
  planning/behavior_velocity_run_out_module/src/debug.hpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_speed_bump_module/src/debug.cpp
  planning/behavior_velocity_speed_bump_module/src/scene.hpp
  planning/behavior_velocity_stop_line_module/src/debug.cpp
  planning/behavior_velocity_stop_line_module/src/scene.hpp
  planning/behavior_velocity_traffic_light_module/src/debug.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
  planning/behavior_velocity_virtual_traffic_light_module/src/debug.cpp
  planning/behavior_velocity_virtual_traffic_light_module/src/scene.hpp
Labels: planning, common
