Repository tier4/autoware_universe, pull requests merged in 2023-01, with the labels that each got.

#232 chore: cherry pick PRs to 0.6.0
  planning/behavior_velocity_planner/src/scene_module/crosswalk/scene_crosswalk.cpp
  planning/external_velocity_limit_selector/include/external_velocity_limit_selector/external_velocity_limit_selector_node.hpp
  planning/external_velocity_limit_selector/launch/external_velocity_limit_selector.launch.xml
  planning/external_velocity_limit_selector/package.xml
  planning/external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
Labels: planning

#233 fix(external_velocity_limit_selector): increase history depth external velocity limit selector
  planning/external_velocity_limit_selector/include/external_velocity_limit_selector/external_velocity_limit_selector_node.hpp
  planning/external_velocity_limit_selector/launch/external_velocity_limit_selector.launch.xml
  planning/external_velocity_limit_selector/package.xml
  planning/external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
Labels: planning

#234 fix(avoidance): ignore unavoidable objects around the goal (#2612)
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#235 fix(behavior_path_planner): build avoidance module
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#236 fix(obstacle_avoidance_planner): fix lat_dist_to_front_bound comparison (autowarefoundation#2594)
  planning/obstacle_avoidance_planner/src/utils/utils.cpp
Labels: planning

#237 fix(behavior_path_planner): consider length for unavoidable objects around the goal (#2617)
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#239 feat(lane_change): update resamplePath function for target section (#2622)
  planning/behavior_path_planner/include/behavior_path_planner/path_utilities.hpp
  planning/behavior_path_planner/src/path_utilities.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#241 feat(behavior_path_planner): visualize full pull out path as candidat…
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#242 feat(behavior_path_planner): error messsage when no pull over/out planners (#2644)
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/pull_over_module.cpp
Labels: planning

#243 fix(obstacle_avoidance_planner): fix drivable area checker (#2639)
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/utils.hpp
  planning/obstacle_avoidance_planner/src/utils/utils.cpp
Labels: planning

#245 fix(behavior_path_planner): fix overlapping lane cutter (#2648)
  planning/behavior_path_planner/src/scene_module/lane_following/lane_following_module.cpp
  planning/behavior_path_planner/src/utilities.cpp
Labels: planning

#246 fix(lane_change): fix lane change force approval by rtc (#2672)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/lane_change_module.cpp
Labels: planning

#247 feat(pullover): hotfix to beta/v0.7.0
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/config/pull_out/pull_out.param.yaml
  planning/behavior_path_planner/config/pull_over/pull_over.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_over/pull_over_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/geometric_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/goal_searcher.cpp
  planning/behavior_path_planner/src/scene_module/pull_over/shift_pull_over.cpp
Labels: documentation, planning

#248 feat(behavior_path_planner): ignore pull out start near lane end (#2675)
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/config/pull_out/pull_out.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: documentation, planning

#249 fix(accel_brake_map_calibrator): fix usage of transform listener (#2682)
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/package.xml
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
Labels: vehicle

#250 fix(route_handler): fix getShoulderLaneletSequence (#2683)
  planning/route_handler/src/route_handler.cpp
Labels: planning

#251 feat(behavior_velocity_planner): improve pull over and pull out module
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/pull_out/pull_out_module.hpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#252 fix(behavior_path_planner): fix pull out stop path (#2699)
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#253 fix(behavior_path_planner): prevent pull out back twice (#2700)
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/config/pull_out/pull_out.param.yaml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: documentation, planning

#256 fix(lane_change): fix bug when target reference path is empty (#2752)
  planning/behavior_path_planner/src/scene_module/lane_change/util.cpp
Labels: planning

#258 fix(behavior_velocity_planner): fix blind spot over-detection (#2570)
  perception/map_based_prediction/src/path_generator.cpp
  planning/behavior_velocity_planner/config/blind_spot.param.yaml
  planning/behavior_velocity_planner/include/scene_module/blind_spot/scene.hpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/manager.cpp
  planning/behavior_velocity_planner/src/scene_module/blind_spot/scene.cpp
Labels: planning, perception

#259 fix(behavior_path_planner): support the goal behind ego in pull out (#2759)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/utils/geometric_parallel_parking.hpp
  planning/behavior_path_planner/src/scene_module/pull_out/geometric_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
  planning/behavior_path_planner/src/scene_module/pull_out/shift_pull_out.cpp
  planning/behavior_path_planner/src/scene_module/utils/geometric_parallel_parking.cpp
Labels: planning

#265 fix(behavior_path_planner): fix pull out module when enable_back is false (#2779)
  planning/behavior_path_planner/src/scene_module/pull_out/pull_out_module.cpp
Labels: planning

#264 fix(behavior_path_planner): disable avoidance in preferred lane
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning
