Repository tier4/autoware_universe, pull requests merged in 2023-11, with the labels that each got.

#999 fix(pid_longitudinal_control): not check steering convergence when moving
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: control, perception

#997 feat(intersection): 信号連携周りの改善
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#990 feat(perception): add iou x and change the points_num of the validator
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/detected_object_validation/config/obstacle_pointcloud_based_validator.param.yaml
  perception/detected_object_validation/include/obstacle_pointcloud_based_validator/obstacle_pointcloud_based_validator.hpp
  perception/detected_object_validation/launch/obstacle_pointcloud_based_validator.launch.xml
  perception/detected_object_validation/src/obstacle_pointcloud_based_validator.cpp
  perception/image_projection_based_fusion/docs/roi-cluster-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: documentation, launch, perception

#1001 chore(tier4_perception_launch): use tracking fusion for far radar detection
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: launch

#1002 fix(behavior_path_planner): change straight turn signal condition
  planning/behavior_path_planner/src/turn_signal_decider.cpp
Labels: planning

#1008 fix(intersection): fix wrong resample process (#5516)
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: component:planning

#1009 fix(lane_change): do not cut abort path
  localization/yabloc/COLCON_IGNORE
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning, localization

#1010 fix(ndt_scan_matcher): delete diagnostics thread (#5532)
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/include/ndt_scan_matcher/ndt_scan_matcher_core.hpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: component:localization

#1011 fix(yabloc): delete unsused COLCON_IGNORE
  localization/yabloc/COLCON_IGNORE
Labels: localization

#1014 fix(avoidance): fix a bug regarding the nearest search (#5575)
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#1013 fix(avoidance): discard envelope polygon if the objects move long distance (#5388)
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#1018 feat(intersection): reduce calculation and improve pass judge
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/docs/data-structure.drawio.svg
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner_common/src/utilization/util.cpp
Labels: documentation, planning

#1019 perf(image_projection_based_fusion): replace std::bitset
  perception/image_projection_based_fusion/src/pointpainting_fusion/voxel_generator.cpp
Labels: perception

#1020 feat(duplicated_node_checker): add new package
  launch/tier4_system_launch/launch/system.launch.xml
  system/duplicated_node_checker/CMakeLists.txt
  system/duplicated_node_checker/README.md
  system/duplicated_node_checker/config/duplicated_node_checker.param.yaml
  system/duplicated_node_checker/include/duplicated_node_checker/duplicated_node_checker_core.hpp
  system/duplicated_node_checker/launch/duplicated_node_checker.launch.xml
  system/duplicated_node_checker/package.xml
  system/duplicated_node_checker/schema/duplicated_node_checker.schema.json
  system/duplicated_node_checker/src/duplicated_node_checker_core.cpp
  system/system_error_monitor/config/diagnostic_aggregator/system.param.yaml
  system/system_error_monitor/config/system_error_monitor.param.yaml
  system/system_error_monitor/config/system_error_monitor.planning_simulation.param.yaml
Labels: documentation, launch, system

#1012 fix(avoidance): fix avoidance path chattering
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#1022 fix(intersection): fix infinite loop in tsort (#5332)
  planning/behavior_velocity_intersection_module/src/util.cpp
Labels: planning

#1024 feat(motion_velocity_smoother): add motion_velocity_smoother's virtual wall
  planning/external_velocity_limit_selector/src/external_velocity_limit_selector_node.cpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: planning

#1023 refactor(perception_rviz_plugin): apply thread pool to manage detached thread
  common/autoware_auto_perception_rviz_plugin/include/object_detection/predicted_objects_display.hpp
  common/autoware_auto_perception_rviz_plugin/src/object_detection/predicted_objects_display.cpp
Labels: common

#1026 fix(simple_planning_simulator): change default value of manual gear, DRIVE -> PARK (backport #5563)
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: simulator

#1025 fix(simulator, controller): fix inverse pitch calculation (backport #5199)
  control/pid_longitudinal_controller/README.md
  control/pid_longitudinal_controller/media/slope_definition.drawio.svg
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/media/pitch-calculation.drawio.svg
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: documentation, control, simulator

#1027 fix(simple_planning_simulator): set ego pitch to 0 if road slope is not simulated (#5501)
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: simulator

#1030 fix(traffic_light): discard remaining time to red if it is timeout
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Labels: planning

#1028 fix(intersection): reduce processing time and fix wrong resample process
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner_common/src/utilization/util.cpp
Labels: planning

#1029 fix(simple_planning_simulator): fix ego sign pitch problem (#5616)
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: documentation, simulator

#1032 feat(component_state_monitor): monitor pose_estimator output (#5617)
  system/component_state_monitor/config/topics.yaml
Labels: system

#1033 fix(detection_by_tracker): add ignore option for each label
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/detection_by_tracker/CMakeLists.txt
  perception/detection_by_tracker/config/detection_by_tracker.param.yaml
  perception/detection_by_tracker/include/detection_by_tracker/detection_by_tracker_core.hpp
  perception/detection_by_tracker/include/utils/utils.hpp
  perception/detection_by_tracker/launch/detection_by_tracker.launch.xml
  perception/detection_by_tracker/src/detection_by_tracker_core.cpp
  perception/detection_by_tracker/src/utils.cpp
Labels: launch, perception

#1038 fix(autoware_auto_tf2): remove tf2 geometry function duplicated in tf2 geometry msgs (#5089)
  common/autoware_auto_tf2/include/autoware_auto_tf2/tf2_autoware_auto_msgs.hpp
Labels: common

#986 fix(lane_change): stop point activated too early
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#1031 feat(ndt_scan_matcher): use glog (#5465)
  localization/ndt_scan_matcher/CMakeLists.txt
  localization/ndt_scan_matcher/package.xml
  localization/ndt_scan_matcher/src/ndt_scan_matcher_node.cpp
Labels: localization

#1041 perf(image_projection_based_fusion,lidar_centerpoint): add cuda preprocess
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/pointpainting_trt.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/preprocess_kernel.hpp
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/voxel_generator.hpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/pointpainting_trt.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/preprocess_kernel.cu
  perception/image_projection_based_fusion/src/pointpainting_fusion/voxel_generator.cpp
  perception/lidar_centerpoint/include/lidar_centerpoint/centerpoint_trt.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/network/scatter_kernel.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/preprocess/preprocess_kernel.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/preprocess/voxel_generator.hpp
  perception/lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/lidar_centerpoint/lib/network/scatter_kernel.cu
  perception/lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
  perception/lidar_centerpoint/lib/preprocess/voxel_generator.cpp
Labels: perception

#1047 fix(behavior_velocity_planner_common): sync activation when safety status is set
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/rtc_interface/include/rtc_interface/rtc_interface.hpp
  planning/rtc_interface/src/rtc_interface.cpp
Labels: planning

#1049 feat(shape_estimation): fix truck filter max size is too small problem
  perception/shape_estimation/include/shape_estimation/corrector/truck_corrector.hpp
  perception/shape_estimation/lib/filter/truck_filter.cpp
Labels: perception

#1046 feat(avoidance): configurable object type for safety check (#5699)
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/config/avoidance_by_lc/avoidance_by_lc.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#1044 feat(intersection): rectify initial accel/velocity profile in ego velocity profile (5496)
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/ttc.gif
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/scripts/ttc.py
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_planner_common/src/utilization/trajectory_utils.cpp
Labels: documentation, planning
