Repository tier4/autoware_universe, pull requests merged in 2023-10, with the labels that each got.

#877 fix(elastic_band, obstacle_avoidance_planner): fix velocity update (#…
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/path_smoother/src/elastic_band_smoother.cpp
Labels: planning

#901 perf(system_monitor): fix program command line reading (#5191)
  system/system_monitor/include/system_monitor/process_monitor/process_monitor.hpp
  system/system_monitor/src/process_monitor/process_monitor.cpp
Labels: system

#903 fix(avoidance): cherry pick bug fix commits
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#904 fix(radar_detection): radar detection bugs
  perception/lidar_apollo_instance_segmentation/include/lidar_apollo_instance_segmentation/cluster2d.hpp
  perception/lidar_apollo_instance_segmentation/src/cluster2d.cpp
  perception/lidar_apollo_segmentation_tvm/include/lidar_apollo_segmentation_tvm/cluster2d.hpp
  perception/lidar_apollo_segmentation_tvm/src/cluster2d.cpp
  perception/radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
  perception/radar_object_tracker/src/tracker/model/linear_motion_tracker.cpp
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
Labels: perception

#905 feat: update start goal planner v0.10.2
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  planning/behavior_path_planner/config/goal_planner/goal_planner.param.yaml
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_goal_planner_design.md
  planning/behavior_path_planner/docs/behavior_path_planner_start_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/geometric_parallel_parking/geometric_parallel_parking.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_searcher.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/goal_searcher_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/shift_pull_over.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/goal_planner/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/shift_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/util.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/geometric_parallel_parking/geometric_parallel_parking.cpp
  planning/behavior_path_planner/src/utils/goal_planner/goal_searcher.cpp
  planning/behavior_path_planner/src/utils/goal_planner/shift_pull_over.cpp
  planning/behavior_path_planner/src/utils/goal_planner/util.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/src/utils/path_shifter/path_shifter.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
  planning/behavior_path_planner/src/utils/start_planner/freespace_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/util.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: documentation, planning, common

#906 fix(avoidance): use find nearest index to calculate object's overhang & longitudinal (#4874)
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#899 fix(map_based_prediction): filter by distance for opposite lanes as well (#5195)
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: perception

#898 fix: crosswalk pedestrian lights
  perception/crosswalk_traffic_light_estimator/src/node.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: planning, perception

#900 feat(localization_error_monitor): update parameter (#5201)
  localization/localization_error_monitor/config/localization_error_monitor.param.yaml
Labels: localization

#908 fix(obstacle_cruise_planner): fix coordinate transformation bag (#5180)
  planning/obstacle_cruise_planner/src/node.cpp
Labels: planning

#902 feat(crosswalk): dynamic timeout for no intention to walk decision (#5188)
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning

#913 feat(intersection): aggressively peek into attention area if traffic light does not exist
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/data-structure.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-ll-rr.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-lr-rl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-straight.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention.drawio.svg
  planning/behavior_velocity_intersection_module/docs/occlusion-without-tl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/stuck-vehicle.drawio.svg
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: documentation, planning

#914 feat(intersection): ignore high curvature lane occlusion
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#917 fix(behavior_path_planner): prevent crashes with the drivable area expansion
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
Labels: planning

#897 fix(lane_change): cherry pick lane change PRs for x2
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/lane_change/debug.hpp
  planning/behavior_path_planner/include/behavior_path_planner/marker_utils/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/src/marker_utils/lane_change/debug.cpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
Labels: planning

#892 feat: add radar pipeline
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/object_merger/include/object_association_merger/node.hpp
  perception/object_merger/launch/object_association_merger.launch.xml
  perception/object_merger/src/object_association_merger/node.cpp
  perception/radar_fusion_to_detected_object/src/radar_fusion_to_detected_object.cpp
  perception/radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node/radar_tracks_msgs_converter_node.cpp
  perception/simple_object_merger/src/simple_object_merger_node/simple_object_merger_node.cpp
Labels: launch, perception

#915 fix(behavior_velocity_crosswalk_module): stop at stop line associated with crosswalk
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: planning

#919 fix(tier4_perception_launch): fix faraway detection to reduce calculation cost
  launch/tier4_perception_launch/launch/object_recognition/detection/radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
Labels: launch

#896 feat(out_of_lane): more stable stop decisions
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/behavior_velocity_out_of_lane_module/src/debug.cpp
  planning/behavior_velocity_out_of_lane_module/src/debug.hpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/decisions.hpp
  planning/behavior_velocity_out_of_lane_module/src/manager.cpp
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.cpp
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.hpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.hpp
  planning/behavior_velocity_out_of_lane_module/src/types.hpp
Labels: planning

#923 fix(avoidance): cherry pick PRs for avoidance issue
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#922 feat(intersection): latest intersection cherry pick v0.11.0
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/data-structure.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-ll-rr.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-lr-rl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention-straight.drawio.svg
  planning/behavior_velocity_intersection_module/docs/intersection-attention.drawio.svg
  planning/behavior_velocity_intersection_module/docs/occlusion-without-tl.drawio.svg
  planning/behavior_velocity_intersection_module/docs/occlusion_grid.drawio.svg
  planning/behavior_velocity_intersection_module/docs/stuck-vehicle.drawio.svg
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: documentation, planning

#920 feat(obstacle_cruise_planner): obstacle type dependent slow down for …
  planning/obstacle_cruise_planner/README.md
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
Labels: documentation, planning

#932 fix(avoidance): prevent endless planning loop in behavior path planner
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#937 refactor(planning_modules): publish processing time topics
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/common_structs.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/type_alias.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/src/node.cpp
  planning/path_smoother/include/path_smoother/common_structs.hpp
  planning/path_smoother/include/path_smoother/elastic_band_smoother.hpp
  planning/path_smoother/include/path_smoother/type_alias.hpp
  planning/path_smoother/src/elastic_band_smoother.cpp
  planning/planning_validator/include/planning_validator/planning_validator.hpp
  planning/planning_validator/src/planning_validator.cpp
Labels: planning

#936 feat(avoidance): add feature to guard unfeasible path
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#942 feat(obstacle_cruise_planner)!: add ego pose consideration (#5036)
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/polygon_utils.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
Labels: planning

#938 fix(lane_change): prevent node from dying for trimmed shifted path (#5271)
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_utils.cpp
Labels: planning

#939 fix(lane_change): add visualization for passParkedObject
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#931 feat(intersection): cherry-pick latest changes
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#945 feat(logger-level-reconfigure): cherry-pick from awf/main
  common/tier4_autoware_utils/CMakeLists.txt
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/logger_level_configure.hpp
  common/tier4_autoware_utils/package.xml
  common/tier4_autoware_utils/src/ros/logger_level_configure.cpp
  common/tier4_logging_level_configure_rviz_plugin/CMakeLists.txt
  common/tier4_logging_level_configure_rviz_plugin/README.md
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  common/tier4_logging_level_configure_rviz_plugin/include/tier4_logging_level_configure_rviz_plugin/logging_level_configure.hpp
  common/tier4_logging_level_configure_rviz_plugin/package.xml
  common/tier4_logging_level_configure_rviz_plugin/plugins/plugin_description.xml
  common/tier4_logging_level_configure_rviz_plugin/src/logging_level_configure.cpp
  common/tier4_logging_level_configure_rviz_plugin/tier4_logging_level_configure_rviz_plugin.png
  control/trajectory_follower_node/include/trajectory_follower_node/controller_node.hpp
  control/trajectory_follower_node/src/controller_node.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/node.hpp
  planning/freespace_planner/include/freespace_planner/freespace_planner_node.hpp
  planning/freespace_planner/src/freespace_planner/freespace_planner_node.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/node.hpp
  planning/obstacle_avoidance_planner/src/node.cpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_stop_planner/include/obstacle_stop_planner/node.hpp
  planning/obstacle_stop_planner/src/node.cpp
  planning/obstacle_velocity_limiter/include/obstacle_velocity_limiter/obstacle_velocity_limiter_node.hpp
  planning/obstacle_velocity_limiter/src/obstacle_velocity_limiter_node.cpp
  planning/path_smoother/include/path_smoother/elastic_band_smoother.hpp
  planning/path_smoother/src/elastic_band_smoother.cpp
  planning/planning_validator/include/planning_validator/planning_validator.hpp
  planning/planning_validator/src/planning_validator.cpp
  planning/surround_obstacle_checker/include/surround_obstacle_checker/node.hpp
  planning/surround_obstacle_checker/src/node.cpp
  system/system_error_monitor/include/system_error_monitor/system_error_monitor_core.hpp
  system/system_error_monitor/src/system_error_monitor_core.cpp
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/include/accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
  vehicle/raw_vehicle_cmd_converter/include/raw_vehicle_cmd_converter/node.hpp
  vehicle/raw_vehicle_cmd_converter/src/node.cpp
Labels: documentation, control, planning, common, system, vehicle

#944 feat(intersection): cherry-pick latest changes
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#935 feat(behavior_path_planner): curvature based drivable area expansion
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/config/drivable_area_expansion.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/data_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/drivable_area_expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/footprints.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/map_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/path_projection.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/replan_checker.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/types.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/footprints.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/map_utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/behavior_path_planner/test/test_drivable_area_expansion.cpp
Labels: planning

#948 feat(vehicle_cmd_gate): improve control command filter to prevent sudden acc and steer
  control/vehicle_cmd_gate/CMakeLists.txt
  control/vehicle_cmd_gate/README.md
  control/vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/vehicle_cmd_gate/image/filter.png
  control/vehicle_cmd_gate/launch/vehicle_cmd_gate.launch.xml
  control/vehicle_cmd_gate/msg/IsFilterActivated.msg
  control/vehicle_cmd_gate/package.xml
  control/vehicle_cmd_gate/src/marker_helper.hpp
  control/vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
  control/vehicle_cmd_gate/test/src/test_filter_in_vehicle_cmd_gate_node.cpp
  control/vehicle_cmd_gate/test/src/test_vehicle_cmd_filter.cpp
Labels: documentation, control

#951 fix(mpc): use optimization result when polish failed (#4673)
  control/mpc_lateral_controller/src/qp_solver/qp_solver_osqp.cpp
  control/mpc_lateral_controller/test/test_mpc.cpp
Labels: control

#949 feat: add radar far detection pipeline
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/radar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/object_merger/include/object_association_merger/node.hpp
  perception/object_merger/launch/object_association_merger.launch.xml
  perception/object_merger/src/object_association_merger/node.cpp
  perception/radar_fusion_to_detected_object/src/radar_object_fusion_to_detected_object_node/radar_object_fusion_to_detected_object_node.cpp
  perception/simple_object_merger/src/simple_object_merger_node/simple_object_merger_node.cpp
Labels: launch, perception

#947 feat(tracking_object_merger): add radar far object tracking and its merger into perception flow
  perception/tracking_object_merger/CMakeLists.txt
  perception/tracking_object_merger/README.md
  perception/tracking_object_merger/config/data_association_matrix.param.yaml
  perception/tracking_object_merger/config/decorative_tracker_merger.param.yaml
  perception/tracking_object_merger/config/decorative_tracker_merger_policy.param.yaml
  perception/tracking_object_merger/image/decorative_tracker_merger.drawio.svg
  perception/tracking_object_merger/image/time_sync.drawio.svg
  perception/tracking_object_merger/image/tracklet_management.drawio.svg
  perception/tracking_object_merger/include/tracking_object_merger/data_association/data_association.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/gnn_solver.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/gnn_solver_interface.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/mu_successive_shortest_path.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/successive_shortest_path.hpp
  perception/tracking_object_merger/include/tracking_object_merger/decorative_tracker_merger.hpp
  perception/tracking_object_merger/include/tracking_object_merger/utils/tracker_state.hpp
  perception/tracking_object_merger/include/tracking_object_merger/utils/utils.hpp
  perception/tracking_object_merger/launch/decorative_tracker_merger.launch.xml
  perception/tracking_object_merger/package.xml
  perception/tracking_object_merger/src/data_association/data_association.cpp
  perception/tracking_object_merger/src/data_association/mu_successive_shortest_path/mu_successive_shortest_path_wrapper.cpp
  perception/tracking_object_merger/src/data_association/successive_shortest_path/successive_shortest_path.cpp
  perception/tracking_object_merger/src/decorative_tracker_merger.cpp
  perception/tracking_object_merger/src/utils/tracker_state.cpp
  perception/tracking_object_merger/src/utils/utils.cpp
Labels: documentation, perception

#952 chore: add far radar tracking and detection fusion pipeline
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/prediction/prediction.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/tracking/tracking.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
  perception/tracking_object_merger/include/tracking_object_merger/utils/utils.hpp
Labels: launch, perception

#955 fix(mpc): change the way to calculate target steering rate
  control/mpc_lateral_controller/src/mpc.cpp
Labels: control

#954 fix(drivable_area_expansion): correct bound limit check (#5325)
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
Labels: planning

#943 feat(lane_change): cherry-pick LC PRs
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/src/marker_utils/utils.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/test/test_safety_check.cpp
Labels: planning, common

#953 feat: revert "feat(avoidance): add feature to guard unfeasible path"
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: planning

#958 feat(mpc): 1d interpolate in steering rate limit calculation
  control/mpc_lateral_controller/include/mpc_lateral_controller/mpc.hpp
  control/mpc_lateral_controller/src/mpc.cpp
Labels: control

#924 fix(vehicle_cmd_gate): fix filtering condition (#5250)
  control/vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: control

#959 fix(lane_change): change logger level in isVehicleStuckByObstacle (#5315)
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#961 fix(lane_change): prevent stuck and chattering
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/path_safety_checker/safety_check.cpp
Labels: planning

#926 feat(pid_longitudinal_controller): transit to STOPPED even if the sign of the ego velocity goes opposite
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: control

#963 feat(intersection): suppress pass judge sudden stop
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
Labels: planning

#956 feat(imu_corrector): changed GyroBiasEstimator to use ndt pose instead of twist
  sensing/imu_corrector/README.md
  sensing/imu_corrector/config/gyro_bias_estimator.param.yaml
  sensing/imu_corrector/launch/gyro_bias_estimator.launch.xml
  sensing/imu_corrector/src/gyro_bias_estimation_module.cpp
  sensing/imu_corrector/src/gyro_bias_estimation_module.hpp
  sensing/imu_corrector/src/gyro_bias_estimator.cpp
  sensing/imu_corrector/src/gyro_bias_estimator.hpp
  sensing/imu_corrector/test/test_gyro_bias_estimation_module.cpp
Labels: documentation, sensing

#965 feat(map_based_prediction): remove crossing fence path (#5356)
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: perception

#966 feat: improve autonomous_emergency_braking
  control/autonomous_emergency_braking/src/node.cpp
Labels: control

#970 chore: add workaround for tf2 update (#5127)
  common/autoware_auto_geometry/CMakeLists.txt
  common/autoware_auto_tf2/CMakeLists.txt
  common/autoware_auto_tf2/include/autoware_auto_tf2/tf2_autoware_auto_msgs.hpp
  planning/behavior_path_planner/CMakeLists.txt
  planning/surround_obstacle_checker/CMakeLists.txt
Labels: planning, common

#969 feat(intersection): timeout static occlusion with traffic light
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#964 feat(tier4_perception_launch): make switchable detection by tracker in x2 project
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_based_detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: launch

#960 perf(drivable area expansion): use faster lateral offset and nearest line calculations
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/drivable_area_expansion.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/map_utils.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/drivable_area_expansion/types.hpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
  planning/behavior_path_planner/src/utils/drivable_area_expansion/map_utils.cpp
Labels: planning

#968 fix(route_handler): fix getting next lane logic to prevent from unexpected path cut (#5355)
  planning/route_handler/src/route_handler.cpp
Labels: planning

#978 fix(crosswalk): fix duplicated crosswalk launch
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: planning

#981 fix(goal_planner): revert "refactor(goal_planner): rebuild state transition (#5371)" (#5399)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/goal_planner/goal_planner_module.hpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
Labels: planning

#982 fix(motion_utils): fix build error (#5404)
  common/motion_utils/include/motion_utils/vehicle/vehicle_state_checker.hpp
  common/motion_utils/src/vehicle/vehicle_state_checker.cpp
Labels: common

#985 feat(tier4_perecption_launch): change radar object clustering parameter for ars408 in xx1
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/lidar_radar_based_detection.launch.xml
Labels: launch

#991 feat(behavior_velocity_run_out): ignore momentary detection caused by…
  planning/behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Labels: documentation, planning

#977 fix(utils): fix drivable area expansion with intersection area
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#984 fix(lane_change): fix terminal stop distance (#5392)
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#992 fix(lane_change): filter objects for skip parking objects
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#994 fix(lane_change): separate backward buffer for blocking object
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#983 feat(avoidance): add use_conservative_buffer_longitudinal
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: planning

#941 feat(behavior velocity planner, traffic light)!: conject with v2i msg
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/node.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner_common/package.xml
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Labels: launch, planning

#998 chore(map_based_prediction): prediction update
  perception/map_based_prediction/README.md
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
Labels: documentation, perception
