Repository tier4/autoware_universe, pull requests merged in 2023-06, with the labels that each got.

#550 fix(avoidance): hotfix
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
  planning/route_handler/src/route_handler.cpp
Labels: planning

#551 fix(behavior_path_planner): fix build error
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#553 fix(motion_utils): check if the buffer is empty (#3883)
  common/motion_utils/src/vehicle/vehicle_state_checker.cpp
  common/motion_utils/test/src/vehicle/test_vehicle_state_checker.cpp
Labels: common

#557 fix(lane_change): hotfix visualization and parameterization
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
Labels: planning

#558 fix(behavior_path_planner): clear stop factors (#3910)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
Labels: planning

#563 fix(compare_map_segmentation): initialize timer_callback_group_ (#3914)
  perception/compare_map_segmentation/src/voxel_grid_map_loader.cpp
Labels: perception

#564 fix(avoidance): candidate path must be filled no matter when (#3881)
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#565 refactor(start_planner): rename pull out to start planner
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
  common/tier4_state_rviz_plugin/src/velocity_steering_factors_panel.cpp
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/package.xml
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint.rviz
  perception/lidar_centerpoint/launch/centerpoint_vs_centerpoint-tiny/rviz/centerpoint_tiny.rviz
  planning/behavior_path_planner/CMakeLists.txt
  planning/behavior_path_planner/README.md
  planning/behavior_path_planner/config/behavior_path_planner_tree.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_lane_change_only.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_lane_change_only_old.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_old.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_pull_out.xml
  planning/behavior_path_planner/config/behavior_path_planner_tree_with_external_request_LC.xml
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/config/start_planner/start_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_start_planner_design.md
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_visitor.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/start_planner/start_planner_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/geometric_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/pull_out_path.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/pull_out_planner_base.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/shift_pull_out.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/start_planner_parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/start_planner/util.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/goal_planner/goal_planner_module.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/manager.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
  planning/behavior_path_planner/src/utils/start_planner/geometric_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/shift_pull_out.cpp
  planning/behavior_path_planner/src/utils/start_planner/util.cpp
  planning/behavior_path_planner/test/test_behavior_path_planner_node_interface.cpp
  planning/rtc_auto_mode_manager/config/rtc_auto_mode_manager.param.yaml
  planning/rtc_auto_mode_manager/src/rtc_auto_mode_manager_interface.cpp
  planning/rtc_interface/src/rtc_interface.cpp
  planning/rtc_replayer/src/rtc_replayer_node.cpp
  system/default_ad_api/src/planning.cpp
  system/default_ad_api_helpers/ad_api_visualizers/ad_api_visualizers/planning_factors.py
Labels: documentation, launch, planning, common, perception, system

#568 chore(obstacle_cruise_planner): change cruise color
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
Labels: planning

#569 chore(imu_monitor): change yaw_rate_diff_threshold from 0.07 to 0.14
  system/imu_monitor/config/imu_monitor.param.yaml
Labels: system

#573 refactor: intersection module (#3899)
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
  planning/behavior_velocity_planner/config/intersection.param.yaml
  planning/behavior_velocity_planner/docs/intersection/intersection-attention-ll-rr.drawio.svg
  planning/behavior_velocity_planner/docs/intersection/intersection-attention-lr-rl.drawio.svg
  planning/behavior_velocity_planner/docs/intersection/intersection-attention-straight.drawio.svg
  planning/behavior_velocity_planner/docs/intersection/intersection-attention.drawio.svg
  planning/behavior_velocity_planner/docs/intersection/intersection-topology.drawio.svg
  planning/behavior_velocity_planner/docs/intersection/intersection.drawio.svg
  planning/behavior_velocity_planner/docs/intersection/intersection.svg
  planning/behavior_velocity_planner/docs/intersection/intersection_fig.png
  planning/behavior_velocity_planner/docs/intersection/intersection_straight.png
  planning/behavior_velocity_planner/docs/intersection/intersection_turn_left.png
  planning/behavior_velocity_planner/docs/intersection/intersection_turn_right.png
  planning/behavior_velocity_planner/docs/intersection/stuck-vehicle.drawio.svg
  planning/behavior_velocity_planner/intersection-design.md
Labels: documentation, planning

#575 fix(behavior_path_planner): unable to fix bound (#3942)
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#577 fix(avoidance): fix candidate path inconsistency
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#579 fix(avoidance): don't reset registered shift lines if the base offset is not zero (#3971)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#581 feat(motion_velocity_smoother): add a diagnostic for smoothing failure
  planning/motion_velocity_smoother/config/default_motion_velocity_smoother.param.yaml
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/motion_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  system/system_error_monitor/config/diagnostic_aggregator/planning.param.yaml
Labels: planning, system

#582 chore(imu_monitor): change yaw_rate_diff_threshold from 0.14 to 0.18
  system/imu_monitor/config/imu_monitor.param.yaml
Labels: system

#583 fix(motion velocity smoother): add dependency
  planning/motion_velocity_smoother/package.xml
Labels: planning

#586 fix(tier4_perception_launch): fix duplicated topic name (#3645)
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
Labels: launch

#587 feat(behavior_path_planner): use module status idle before approval and keep candiate running module when approved module succeed #3928
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/scene_module_interface.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/start_planner/start_planner_module.cpp
Labels: planning

#601 feat(avoidance): ignore behind unavoidable objects (#4034)
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#606 chore(system_error_monitor): change the timeout threshold of temperature monitor
  system/system_error_monitor/config/diagnostic_aggregator/sensing.param.yaml
Labels: system

#608 revert(avoidance): reset rtc status in yield status (#3798)
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#598 feat: improve lane change process
  planning/behavior_path_planner/include/behavior_path_planner/utils/safety_check.hpp
  planning/behavior_path_planner/src/utils/safety_check.cpp
Labels: planning

#616 hotfix(avoidance): cherry pick
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/helper.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/avoidance_by_lane_change.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#619 feat(avoidance): set additional buffer margin independently (#4041)
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
  planning/behavior_path_planner/src/utils/avoidance/utils.cpp
Labels: planning

#620 feat(behavior_path_planner): dont cut centerline but insert stop
  planning/behavior_path_planner/include/behavior_path_planner/parameters.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#621 fix(behavior_path_planner): print avoidance and lane change debug message (#4058)
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: planning

#622 feat(behavior_path_planner): remove redundant process (#4077)
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/base_class.hpp
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/lane_change/normal.hpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
Labels: planning

#615 hotfix: murooka's change for beta v0.42.1.0
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  planning/behavior_path_planner/config/dynamic_avoidance/dynamic_avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/package.xml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/interface.cpp
  planning/behavior_path_planner/src/utils/utils.cpp
  planning/obstacle_avoidance_planner/include/obstacle_avoidance_planner/utils/trajectory_utils.hpp
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
  planning/obstacle_avoidance_planner/src/node.cpp
Labels: planning, perception

#623 feat(behavior_path_planner): enable delay lane change when necessary (#3991)
  planning/behavior_path_planner/config/lane_change/lane_change.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/lane_change_module_data.hpp
  planning/behavior_path_planner/include/behavior_path_planner/utils/lane_change/utils.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/lane_change/normal.cpp
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
Labels: planning

#627 feat: use new behavior_path_planner architecture
  planning/behavior_path_planner/CMakeLists.txt
Labels: planning

#632 fix(dynamic_avoidance): ignore objects on LC target lane
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/dynamic_avoidance/dynamic_avoidance_module.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/dynamic_avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/dynamic_avoidance/manager.cpp
Labels: planning
