Repository tier4/autoware_universe, pull requests merged in 2023-12, with the labels that each got.

#1054 feat(intersection): ignore occlusion on amber color too (#5693)
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: planning

#1055 chore: add workaround for tf2 update (#5127)
  common/autoware_auto_geometry/CMakeLists.txt
  common/autoware_auto_tf2/CMakeLists.txt
  common/autoware_auto_tf2/include/autoware_auto_tf2/tf2_autoware_auto_msgs.hpp
  planning/behavior_path_planner/CMakeLists.txt
  planning/surround_obstacle_checker/CMakeLists.txt
Labels: planning, common

#1017 feat(out_of_lane): improve reuse of previous decision
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.hpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.hpp
Labels: planning

#1058 feat: add message
  localization/ndt_scan_matcher/src/ndt_scan_matcher_core.cpp
Labels: localization

#1057 fix(system_monitor): output command line (#5430)
  system/system_monitor/include/system_monitor/process_monitor/process_monitor.hpp
  system/system_monitor/src/process_monitor/process_monitor.cpp
Labels: system

#1060 chore(tracking_object_merger): add tracking object merger from awf/main
  perception/tracking_object_merger/CMakeLists.txt
  perception/tracking_object_merger/README.md
  perception/tracking_object_merger/config/data_association_matrix.param.yaml
  perception/tracking_object_merger/config/decorative_tracker_merger.param.yaml
  perception/tracking_object_merger/config/decorative_tracker_merger_policy.param.yaml
  perception/tracking_object_merger/image/decorative_tracker_merger.drawio.svg
  perception/tracking_object_merger/image/time_sync.drawio.svg
  perception/tracking_object_merger/image/tracklet_management.drawio.svg
  perception/tracking_object_merger/include/tracking_object_merger/data_association/data_association.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/gnn_solver.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/gnn_solver_interface.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/mu_successive_shortest_path.hpp
  perception/tracking_object_merger/include/tracking_object_merger/data_association/solver/successive_shortest_path.hpp
  perception/tracking_object_merger/include/tracking_object_merger/decorative_tracker_merger.hpp
  perception/tracking_object_merger/include/tracking_object_merger/utils/tracker_state.hpp
  perception/tracking_object_merger/include/tracking_object_merger/utils/utils.hpp
  perception/tracking_object_merger/launch/decorative_tracker_merger.launch.xml
  perception/tracking_object_merger/package.xml
  perception/tracking_object_merger/src/data_association/data_association.cpp
  perception/tracking_object_merger/src/data_association/mu_successive_shortest_path/mu_successive_shortest_path_wrapper.cpp
  perception/tracking_object_merger/src/data_association/successive_shortest_path/successive_shortest_path.cpp
  perception/tracking_object_merger/src/decorative_tracker_merger.cpp
  perception/tracking_object_merger/src/utils/tracker_state.cpp
  perception/tracking_object_merger/src/utils/utils.cpp
Labels: documentation, perception

#1056 feat(intersection): check path margin for overshoot vehicles on red light (#5394)
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
Labels: planning

#1062 fix(avoidance): include shoulder lane to avoid (#5750)
  planning/behavior_path_planner/src/utils/lane_change/utils.cpp
  planning/route_handler/include/route_handler/route_handler.hpp
Labels: planning

#1063 fix(avoidance): fix avoidance return dead point calculation logic for high curverture path (#5489)
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#1065 fix(lidar_centerpoint,image_projection_based_fusion): add guard to avoid exceeding max voxel size
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/preprocess_kernel.hpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/pointpainting_trt.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/preprocess_kernel.cu
  perception/lidar_centerpoint/include/lidar_centerpoint/preprocess/preprocess_kernel.hpp
  perception/lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
Labels: component:perception

#1069 feat(ad_api_distributor): add adapi distributor
  system/default_ad_api_helpers/ad_api_distributor/CMakeLists.txt
  system/default_ad_api_helpers/ad_api_distributor/README.md
  system/default_ad_api_helpers/ad_api_distributor/launch/distributor.launch.xml
  system/default_ad_api_helpers/ad_api_distributor/launch/remapped_api.launch.py
  system/default_ad_api_helpers/ad_api_distributor/package.xml
  system/default_ad_api_helpers/ad_api_distributor/src/distributor.cpp
  system/default_ad_api_helpers/ad_api_distributor/src/distributor.hpp
Labels: documentation, system, execute-autoware-evaluator

#1075 fix(static_drivable_area_expansion): fix bug in expansion logic for hatched road marking (#5842)
  planning/behavior_path_planner/src/utils/utils.cpp
Labels: planning

#1077 feat(behavior_velocity_planner): add new 'dynamic_obstacle_stop' module
  planning/behavior_velocity_dynamic_obstacle_stop_module/CMakeLists.txt
  planning/behavior_velocity_dynamic_obstacle_stop_module/README.md
  planning/behavior_velocity_dynamic_obstacle_stop_module/config/dynamic_obstacle_stop.param.yaml
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-Collision.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-Filtering.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-ImmediatePaths.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-StopPoint.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/dynamic_obstacle_stop_rviz.png
  planning/behavior_velocity_dynamic_obstacle_stop_module/package.xml
  planning/behavior_velocity_dynamic_obstacle_stop_module/plugins.xml
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/collision.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/collision.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/debug.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/debug.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/footprint.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/footprint.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/manager.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/manager.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/object_filtering.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/object_filtering.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/types.hpp
  planning/behavior_velocity_planner/config/behavior_velocity_planner.param.yaml
  planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
Labels: documentation, planning

#1043 feat(map_loader): display curbstone as marker array (#4958)
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
Labels: map

#1081 chore(system_monitor): anable gpu monitor in beta/v0.9.1
  system/system_monitor/launch/system_monitor.launch.xml
Labels: system

#1082 feat: add github workflow of create-awf-latest.yml
  .github/workflows/create-awf-latest.yml
Labels: type:ci
