Repository tier4/autoware_universe, pull requests merged in 2024-11, with the labels that each got.

#1619 fix(bpp): prevent accessing nullopt (#9204)
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/traffic_light_utils.cpp
Labels: component:planning

#1621 fix(traffic_light_utils): prevent accessing nullopt (#9163)
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/traffic_light_utils.cpp
Labels: component:planning

#1620 feat: merge beta/v0.29.0 1 to beta/x2_gen2_v0.29.0
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
Labels: component:planning, component:control, component:launch, component:sensing

#1623 feat(autoware_image_projection_based_fusion): make optional to consider lens distortion or not
  perception/autoware_image_projection_based_fusion/config/fusion_common.param.yaml
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/fusion_node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/utils/utils.hpp
  perception/autoware_image_projection_based_fusion/src/fusion_node.cpp
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_detected_object_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/utils/utils.cpp
Labels: component:perception, tag:require-cuda-build-and-test

#1624 fix(bvp): planning process death
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner_common/src/scene_module_interface.cpp
Labels: component:planning

#1626 fix(lane_change): delay lane change cancel (#8048) (for RT0-33952)
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning

#1630 fix(crosswalk): don't use vehicle stop checker to remove unnecessary callback (#9234)
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning

#1633 fix(bpp): prevent accessing nullopt (#9269)
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/traffic_light_utils.cpp
Labels: component:planning

#1632 fix(bpp): prevent accessing nullopt (#9269)
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/traffic_light_utils.cpp
Labels: component:planning

#1635 fix(crosswalk): don't use vehicle stop checker to remove unnecessary …
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning

#1639 feat(start_planner): speed up start planner v0.36
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker.hpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning, component:control

#1641 fix: ground segmentation recheck condition relax
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
Labels: component:perception

#1647 feat(aeb): set global param to override autoware state check (#9263)
  launch/tier4_control_launch/launch/control.launch.xml
Labels: component:launch

#1650 feat(blind_spot): consider road_shoulder if exist (autowarefoundation#7925)
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
Labels: component:planning

#1652 chore: compatible with RT0-33313
  .github/workflows/cppcheck-differential.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, type:ci

#1657 fix: revert Merge pull request #1652
  .github/workflows/cppcheck-differential.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, type:ci

#1655 feat(pointcloud preprocessor): add hysteresis to concat diag
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
Labels: component:sensing

#1660 feat(autoware_vehicle_cmd_gate): prevent steering when vehicle stopping.
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: component:control

#1654 feat(mrm_handler): mrm recoverable option (#1316)
  launch/tier4_system_launch/launch/system.launch.xml
  system/diagnostic_graph_utils/CMakeLists.txt
  system/diagnostic_graph_utils/package.xml
  system/diagnostic_graph_utils/src/node/recovery.cpp
  system/diagnostic_graph_utils/src/node/recovery.hpp
  system/mrm_handler/config/mrm_handler.param.yaml
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/schema/mrm_handler.schema.json
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:launch, component:system

#1659 chore: lc goal update
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/shift_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/parking_departure/geometric_parallel_parking.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
Labels: component:planning, type:documentation

#1668 feat(goal_planner): safety check with only parking path (#9293)
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning

#1662 feat(autoware_vehicle_cmd_gate): prevent steering when vehicle stoppi…
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
Labels: component:control
