Repository tier4/autoware_universe, pull requests merged in 2024-07, with the labels that each got.

#1361 perf(motion_velocity_planner): resample trajectory and build rtree with packing algorithm
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker_node.hpp
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker_node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/footprint.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacle_velocity_limiter_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/plugin_module_interface.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
Labels: component:planning, component:control

#1362 feat: change MrmState.msg to internal one
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system

#1359 feat: add launch for one host test
  launch/tier4_control_launch/launch/control.main.mrm-v0.6.tmp.launch.py
  launch/tier4_planning_launch/launch/planning.main.mrm-v0.6.tmp.launch.xml
  launch/tier4_system_launch/launch/system.main.mrm-v0.6.tmp.launch.xml
  launch/tier4_system_launch/package.xml
Labels: component:launch

#1358 feat: add control cmd switcher
  simulator/simple_planning_simulator/CMakeLists.txt
  system/control_cmd_switcher/CMakeLists.txt
  system/control_cmd_switcher/README.md
  system/control_cmd_switcher/config/control_cmd_switcher.yaml
  system/control_cmd_switcher/launch/control_cmd_switcher.launch.xml
  system/control_cmd_switcher/package.xml
  system/control_cmd_switcher/src/control_cmd_switcher/control_cmd_switcher.cpp
  system/control_cmd_switcher/src/control_cmd_switcher/control_cmd_switcher.hpp
  system/control_cmd_switcher/tool/rely_trajectry.py
Labels: type:documentation, component:system, component:simulation

#1365 feat: add control cmd switcher
  simulator/simple_planning_simulator/CMakeLists.txt
Labels: component:simulation

#1364 fix(static_centerline_generator): cherry-pick several changes
  planning/autoware_static_centerline_generator/CMakeLists.txt
  planning/autoware_static_centerline_generator/config/static_centerline_generator.param.yaml
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
  planning/autoware_static_centerline_generator/rviz/static_centerline_generator.rviz
  planning/autoware_static_centerline_generator/scripts/centerline_updater_helper.py
  planning/autoware_static_centerline_generator/scripts/tmp/bag_ego_trajectory_based_centerline.sh
  planning/autoware_static_centerline_generator/src/main.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.hpp
  planning/autoware_static_centerline_generator/src/type_alias.hpp
  planning/autoware_static_centerline_generator/src/utils.cpp
  planning/autoware_static_centerline_generator/src/utils.hpp
  planning/autoware_static_centerline_generator/test/data/bag_ego_trajectory_turn-left-right.db3
  planning/autoware_static_centerline_generator/test/data/bag_ego_trajectory_turn-right.db3
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator.test.py
  vehicle/autoware_vehicle_info_utils/include/autoware_vehicle_info_utils/vehicle_info.hpp
  vehicle/autoware_vehicle_info_utils/src/vehicle_info.cpp
Labels: component:planning, component:vehicle

#1367 fix: fix CMakefile
  system/control_cmd_switcher/CMakeLists.txt
  system/control_cmd_switcher/tool/rely_trajectory.py
Labels: component:system

#1368 modify: fix qos setting
  dummy/dummy_operation_mode_publisher/src/dummy_operation_mode_publisher.cpp
  dummy/dummy_operation_mode_publisher/src/dummy_operation_mode_publisher.hpp
  launch/tier4_system_launch/launch/system.main.mrm-v0.6.tmp.launch.xml
  launch/tier4_system_launch/package.xml
  system/control_cmd_switcher/README.md
  system/control_cmd_switcher/config/control_cmd_switcher.yaml
  system/control_cmd_switcher/package.xml
  system/control_cmd_switcher/src/control_cmd_switcher/control_cmd_switcher.cpp
  system/control_cmd_switcher/src/control_cmd_switcher/control_cmd_switcher.hpp
  system/control_cmd_switcher/tool/rely_trajectory.py
  system/leader_election_converter/src/common/converter/availability_converter.cpp
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
  system/mrm_stop_operator/config/mrm_stop_operator.param.yaml
  system/mrm_stop_operator/launch/mrm_stop_operator.launch.xml
  system/mrm_stop_operator/src/mrm_stop_operator.cpp
  system/mrm_stop_operator/src/mrm_stop_operator.hpp
Labels: type:documentation, component:launch, component:system

#1369 feat: add leader election converter
  system/leader_election_converter/src/common/converter/availability_converter.cpp
Labels: component:system

#1370 fix(pose_instability_detector): fix a crash bug in pose_instability_detector
  localization/pose_instability_detector/src/pose_instability_detector.cpp
  localization/pose_instability_detector/test/test.cpp
Labels: component:localization

#1371 fix(obstacle_avoidance_planner): use update_bounds instead of update_…
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: planning

#1374 feat: add launch for one host test
  launch/tier4_system_launch/launch/system.main.mrm-v0.6.tmp.launch.xml
  launch/tier4_system_launch/package.xml
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:launch, component:system

#1376 feat: add mrm state publisher to mrm stop operator
  system/mrm_stop_operator/launch/mrm_stop_operator.launch.xml
  system/mrm_stop_operator/package.xml
  system/mrm_stop_operator/src/mrm_stop_operator.cpp
  system/mrm_stop_operator/src/mrm_stop_operator.hpp
Labels: component:system

#1377 feat(mrm_handler): operate mrm only when autonomous operation mode
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system

#1379 fix(image_transport_decompressor): missing config setting (#7615)
  sensing/image_transport_decompressor/CMakeLists.txt
Labels: component:sensing

#1378 fix(euclidean_cluster, ground_segmentation): cherry-pick bug fix PRs
  launch/tier4_perception_launch/package.xml
  perception/euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
  perception/ground_segmentation/src/ransac_ground_filter_nodelet.cpp
Labels: component:launch, component:perception

#1384 fix(motion_velocity_planner): use the slowdown velocity (instead of 0)
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
Labels: component:planning

#1385 feat(control_cmd_switcher): mrm v0.6 add control cmd switcher based on x2 v3.0.0
  system/control_cmd_switcher/CMakeLists.txt
  system/control_cmd_switcher/README.md
  system/control_cmd_switcher/config/control_cmd_switcher.yaml
  system/control_cmd_switcher/launch/control_cmd_switcher.launch.xml
  system/control_cmd_switcher/package.xml
  system/control_cmd_switcher/src/control_cmd_switcher/control_cmd_switcher.cpp
  system/control_cmd_switcher/src/control_cmd_switcher/control_cmd_switcher.hpp
  system/control_cmd_switcher/tool/relay_trajectory.py
Labels: type:documentation, component:system

#1390 feat(trajectory_repeater): mrm v0.6 add trajectory repeater based on x2 v3.0.0
  planning/trajectory_repeater/CMakeLists.txt
  planning/trajectory_repeater/README.md
  planning/trajectory_repeater/config/trajectory_repeater.param.yaml
  planning/trajectory_repeater/launch/trajectory_repeater.launch.xml
  planning/trajectory_repeater/package.xml
  planning/trajectory_repeater/src/trajectory_repeater.cpp
  planning/trajectory_repeater/src/trajectory_repeater.hpp
Labels: component:planning, type:documentation

#1389 feat(mrm_stop_operator): mrm v0.6 add mrm stop operator based on x2 v3.0.0
  system/mrm_stop_operator/CMakeLists.txt
  system/mrm_stop_operator/README.md
  system/mrm_stop_operator/config/mrm_stop_operator.param.yaml
  system/mrm_stop_operator/launch/mrm_stop_operator.launch.xml
  system/mrm_stop_operator/package.xml
  system/mrm_stop_operator/src/mrm_stop_operator.cpp
  system/mrm_stop_operator/src/mrm_stop_operator.hpp
Labels: type:documentation, component:system

#1388 feat(leader_election_converter): mrm v0.6 add leader election converter based on x2 v3.0.0
  system/leader_election_converter/CMakeLists.txt
  system/leader_election_converter/README.md
  system/leader_election_converter/config/leader_election_converter.param.yaml
  system/leader_election_converter/launch/leader_election_converter.launch.xml
  system/leader_election_converter/package.xml
  system/leader_election_converter/schema/leader_election_converter.schema.json
  system/leader_election_converter/src/common/converter/availability_converter.cpp
  system/leader_election_converter/src/common/converter/availability_converter.hpp
  system/leader_election_converter/src/common/converter/log_converter.cpp
  system/leader_election_converter/src/common/converter/log_converter.hpp
  system/leader_election_converter/src/common/converter/mrm_converter.cpp
  system/leader_election_converter/src/common/converter/mrm_converter.hpp
  system/leader_election_converter/src/common/converter/udp_receiver.hpp
  system/leader_election_converter/src/common/converter/udp_sender.hpp
  system/leader_election_converter/src/node/leader_election_converter.cpp
  system/leader_election_converter/src/node/leader_election_converter.hpp
Labels: type:documentation, component:system

#1387 feat: mrm v0.6 add launch file one host test based on x2 v3.0.0
  launch/tier4_control_launch/launch/control.main.mrm-v0.6.tmp.launch.py
  launch/tier4_planning_launch/launch/planning.main.mrm-v0.6.tmp.launch.xml
  launch/tier4_system_launch/launch/system.main.mrm-v0.6.tmp.launch.xml
  launch/tier4_system_launch/package.xml
Labels: component:launch

#1391 feat: change initial control mode
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: component:simulation

#1392 feat: change mrm state type to internal one
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system

#1394 fix(motion_planning): fix processing time topic names (#7885)
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
Labels: component:planning

#1400 fix(multi_object_tracker): fix publish interval adjust timing (#7904)
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception

#1401 fix(static_obstacle_avoidance): cherry pick PRs to fix some issues
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/README.md
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, type:documentation

#1402 fix(multi_object_tracker): fix publish interval adjust timing
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception

#1404 fix(controller): revival of dry steering (#7903)
  control/mpc_lateral_controller/src/mpc.cpp
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/trajectory_follower_node/test/test_controller_node.cpp
Labels: component:control

#1405 fix(controller): revival of dry steering (#7903)
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/autoware_trajectory_follower_node/test/test_controller_node.cpp
Labels: component:control

#1407 fix(pid_longitudinal_controller): fix cherry-pick
  control/pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/trajectory_follower_node/test/test_controller_node.cpp
Labels: component:control

#1406 fix(multi_object_tracker): calculation of detection delay diagnostics…
  perception/multi_object_tracker/src/debugger/debugger.cpp
Labels: component:perception

#1408 fix(autoware_external_cmd_converter, system_diagnostic_monitor): fix check_topic_state and local mode config
  system/system_diagnostic_monitor/config/control.yaml
  vehicle/autoware_external_cmd_converter/src/node.cpp
Labels: component:system, component:vehicle

#1409 feat(motion_velocity_smoother): force slow driving
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: component:planning

#1410 feat(duplicated_node_checker): add duplicate nodes to ignore (#7959)
  system/duplicated_node_checker/config/duplicated_node_checker.param.yaml
  system/duplicated_node_checker/include/duplicated_node_checker/duplicated_node_checker_core.hpp
  system/duplicated_node_checker/src/duplicated_node_checker_core.cpp
Labels: component:system

#1411 feat(blind_spot): consider road_shoulder if exist
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
Labels: component:planning

#1413 feat(autoware_behavior_path_planner): remove max_iteration_num parameter
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: component:planning

#1414 fix(dummy_diag_publisher): not use diagnostic_updater and param callback for v0.29.0
  system/dummy_diag_publisher/include/dummy_diag_publisher/dummy_diag_publisher_core.hpp
  system/dummy_diag_publisher/src/dummy_diag_publisher_core.cpp
Labels: component:system

#1415 fix: resolve build error of dummy diag publisher
  system/dummy_diag_publisher/src/dummy_diag_publisher_core.cpp
Labels: component:system

#1417 feat(autoware_universe_utils,etc): add time keeper to measure processing time
  common/autoware_universe_utils/CMakeLists.txt
  common/autoware_universe_utils/README.md
  common/autoware_universe_utils/examples/example_time_keeper.cpp
  common/autoware_universe_utils/include/autoware/universe_utils/system/time_keeper.hpp
  common/autoware_universe_utils/src/system/time_keeper.cpp
  common/autoware_universe_utils/test/src/system/test_time_keeper.cpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/common_structs.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/node.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/state_equation_generator.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_path_optimizer/src/state_equation_generator.cpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/jerk_filtered_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/l2_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/linf_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/scene_module_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
Labels: component:planning, type:documentation, component:common

#1419 fix(start/goal_planner): improve start/goal planner
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/motion_utils/src/trajectory/trajectory.cpp
  planning/behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/pull_over_planner_base.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_goal_planner_module/src/shift_pull_over.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, component:common

#1418 fix(star/goal_planner): improve start/goal planner
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/src/trajectory/trajectory.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, component:common

#1420 fix(detected_object_validation): use search for searching intersected lanelet
  perception/detected_object_validation/include/detected_object_validation/detected_object_filter/object_lanelet_filter.hpp
  perception/detected_object_validation/src/object_lanelet_filter.cpp
Labels: component:perception

#1422 fix(autoware_overlay_rviz_plugin): topic type of traffic light (#8098)
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/signal_display.hpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/include/traffic_display.hpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/signal_display.cpp
  common/autoware_overlay_rviz_plugin/autoware_overlay_rviz_plugin/src/traffic_display.cpp
Labels: component:common

#1421 fix: all the processing_time publishing of the planning works as expected
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/node.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/type_alias.hpp
  planning/autoware_obstacle_cruise_planner/src/node.cpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/node.hpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/src/node.cpp
Labels: component:planning

#1423 fix(start/goal_planner): bug of autoware prefix and current_pose
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning

#1425 feat(pid_long, vehicle_cmd_gate)!: quick pedal change
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/param/longitudinal_controller_defaults.param.yaml
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
  control/autoware_trajectory_follower_node/param/longitudinal/pid.param.yaml
  control/autoware_vehicle_cmd_gate/README.md
  control/autoware_vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  simulator/simple_planning_simulator/CMakeLists.txt
  simulator/simple_planning_simulator/README.md
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.hpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/sim_model_delay_steer_acc_geared_wo_fall_guard.cpp
  simulator/simple_planning_simulator/test/test_simple_planning_simulator.cpp
Labels: type:documentation, component:control, component:simulation

#1426 feat(map_based_prediction): add time_keeper (#8176)
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception

#1427 perf(dynamic_obstacle_avoidance): decrease the computation time with time_keeper (#7986)
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

#1430 fix(static_obstacle_avoidance): cherry pick avoidance PRs
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/debug.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/schema/avoidance.schema.json
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/README.md
Labels: component:planning, type:documentation

#1428 feat(start_planner): add end_pose_curvature_threshold (#7901)
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning, type:documentation

#1432 feat(evalautor): rename evaluator diag topics
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_planning_evaluator/launch/planning_evaluator.launch.xml
  evaluator/perception_online_evaluator/launch/perception_online_evaluator.launch.xml
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, component:evaluator

#1433 perf(autoware_detected_object_validation): reduce lanelet_filter processing time (#8240)
  perception/detected_object_validation/include/detected_object_validation/detected_object_filter/object_lanelet_filter.hpp
  perception/detected_object_validation/src/object_lanelet_filter.cpp
Labels: component:perception

#1435 fix(tier4_simulator_launch): update diag name
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch

#1436 fix(autoware_multi_object_tracker): revert latency reduction logic and bring back to timer trigger #8277
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception
