Repository tier4/autoware_universe, pull requests merged in 2024-12, with the labels that each got.

#1636 feat(system_monitor): add a hostname for diagnostic information
  system/system_monitor/src/cpu_monitor/cpu_monitor_base.cpp
  system/system_monitor/src/gpu_monitor/gpu_monitor_base.cpp
  system/system_monitor/src/hdd_monitor/hdd_monitor.cpp
  system/system_monitor/src/mem_monitor/mem_monitor.cpp
  system/system_monitor/src/net_monitor/net_monitor.cpp
  system/system_monitor/src/ntp_monitor/ntp_monitor.cpp
  system/system_monitor/src/process_monitor/process_monitor.cpp
  system/system_monitor/src/voltage_monitor/voltage_monitor.cpp
Labels: component:system

#1674 feat(factors_panel, tier4_state_rviz_plugin): check abrupt deceleration
  common/tier4_state_rviz_plugin/package.xml
  common/tier4_state_rviz_plugin/src/include/velocity_steering_factors_panel.hpp
  common/tier4_state_rviz_plugin/src/velocity_steering_factors_panel.cpp
Labels: component:common

#1675 revert(behavior_velocity): revert unknown traffic light handling PR6036
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning

#1676 feat(autoware_lidar_centerpoint): added a check to notify if we are dropping pillars (#9488)
  perception/lidar_centerpoint/lib/centerpoint_trt.cpp
Labels: component:perception

#1678 feat(control_cmd_switcher): add control cmd switcher
  system/control_cmd_switcher/CMakeLists.txt
  system/control_cmd_switcher/README.md
  system/control_cmd_switcher/config/control_cmd_switcher.yaml
  system/control_cmd_switcher/launch/control_cmd_switcher.launch.xml
  system/control_cmd_switcher/package.xml
  system/control_cmd_switcher/src/control_cmd_switcher/control_cmd_switcher.cpp
  system/control_cmd_switcher/src/control_cmd_switcher/control_cmd_switcher.hpp
  system/control_cmd_switcher/tool/relay_trajectory.py
Labels: type:documentation, component:system

#1680 feat(dummy_gear_cmd_publisher): add dummy gear cmd publisher
  dummy/dummy_gear_cmd_publisher/CMakeLists.txt
  dummy/dummy_gear_cmd_publisher/README.md
  dummy/dummy_gear_cmd_publisher/config/dummy_gear_cmd_publisher.param.yaml
  dummy/dummy_gear_cmd_publisher/launch/dummy_gear_cmd_publisher.launch.xml
  dummy/dummy_gear_cmd_publisher/package.xml
  dummy/dummy_gear_cmd_publisher/src/dummy_gear_cmd_publisher.cpp
  dummy/dummy_gear_cmd_publisher/src/dummy_gear_cmd_publisher.hpp
Labels: type:documentation

#1681 feat(dummy_operation_mode_publisher): add dummy operation mode publisher
  dummy/dummy_operation_mode_publisher/CMakeLists.txt
  dummy/dummy_operation_mode_publisher/README.md
  dummy/dummy_operation_mode_publisher/config/dummy_operation_mode_publisher.param.yaml
  dummy/dummy_operation_mode_publisher/launch/dummy_operation_mode_publisher.launch.xml
  dummy/dummy_operation_mode_publisher/package.xml
  dummy/dummy_operation_mode_publisher/src/dummy_operation_mode_publisher.cpp
  dummy/dummy_operation_mode_publisher/src/dummy_operation_mode_publisher.hpp
Labels: type:documentation

#1682 feat(mrm_stop_operator): add mrm stop operator
  system/mrm_stop_operator/CMakeLists.txt
  system/mrm_stop_operator/README.md
  system/mrm_stop_operator/config/mrm_stop_operator.param.yaml
  system/mrm_stop_operator/launch/mrm_stop_operator.launch.xml
  system/mrm_stop_operator/package.xml
  system/mrm_stop_operator/src/mrm_stop_operator.cpp
  system/mrm_stop_operator/src/mrm_stop_operator.hpp
Labels: type:documentation, component:system

#1683 feat(redundancy_switcher_interface): add redundancy switcher interface
  system/redundancy_switcher_interface/CMakeLists.txt
  system/redundancy_switcher_interface/README.md
  system/redundancy_switcher_interface/config/redundancy_switcher_interface.param.yaml
  system/redundancy_switcher_interface/launch/redundancy_switcher_interface.launch.xml
  system/redundancy_switcher_interface/package.xml
  system/redundancy_switcher_interface/schema/redundancy_switcher_interface.schema.json
  system/redundancy_switcher_interface/script/relay_to_sub.py
  system/redundancy_switcher_interface/src/common/converter/availability_converter.cpp
  system/redundancy_switcher_interface/src/common/converter/availability_converter.hpp
  system/redundancy_switcher_interface/src/common/converter/log_converter.cpp
  system/redundancy_switcher_interface/src/common/converter/log_converter.hpp
  system/redundancy_switcher_interface/src/common/converter/mrm_converter.cpp
  system/redundancy_switcher_interface/src/common/converter/mrm_converter.hpp
  system/redundancy_switcher_interface/src/common/converter/udp_receiver.hpp
  system/redundancy_switcher_interface/src/common/converter/udp_sender.hpp
  system/redundancy_switcher_interface/src/node/redundancy_switcher_interface.cpp
  system/redundancy_switcher_interface/src/node/redundancy_switcher_interface.hpp
Labels: type:documentation, component:system

#1684 feat(trajectory_repeater): add trajectory repeater node
  planning/trajectory_repeater/CMakeLists.txt
  planning/trajectory_repeater/README.md
  planning/trajectory_repeater/config/trajectory_repeater.param.yaml
  planning/trajectory_repeater/launch/trajectory_repeater.launch.xml
  planning/trajectory_repeater/package.xml
  planning/trajectory_repeater/src/trajectory_repeater.cpp
  planning/trajectory_repeater/src/trajectory_repeater.hpp
Labels: component:planning, type:documentation

#1685 feat(tier4_control_launch): switch control cmd topic
  launch/tier4_control_launch/launch/control.launch.py
Labels: component:launch

#1686 feat(simple_planning_simulator): initiate manual
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: component:simulation

#1687 feat(ekf_localizer): check zero division
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
Labels: component:localization

#1689 feat(lidar_centerpoint): optimize non-maximum suppression algorithm
  perception/lidar_centerpoint/include/lidar_centerpoint/postprocess/non_maximum_suppression.hpp
  perception/lidar_centerpoint/lib/postprocess/non_maximum_suppression.cpp
Labels: component:perception

#1691 feat: remove max rois limit in the image projection based fusion (#9596)
  perception/image_projection_based_fusion/src/fusion_node.cpp
Labels: component:perception

#1696 fix(surround_obstacle_checker): use tf2::TimePointZero
  planning/surround_obstacle_checker/include/surround_obstacle_checker/node.hpp
  planning/surround_obstacle_checker/src/node.cpp
Labels: component:planning

#1643 feat(autonomous_emergency_braking): cherry pick/aeb latest to v4.0.0
  .github/CODEOWNERS
  control/autoware_autonomous_emergency_braking/CMakeLists.txt
  control/autoware_autonomous_emergency_braking/README.md
  control/autoware_autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autoware_autonomous_emergency_braking/image/closest-point.drawio.svg
  control/autoware_autonomous_emergency_braking/image/obstacle_filtering_2.drawio.svg
  control/autoware_autonomous_emergency_braking/image/rss_check.drawio.svg
  control/autoware_autonomous_emergency_braking/image/speed_calculation_expansion.drawio.svg
  control/autoware_autonomous_emergency_braking/image/using-predicted-objects.drawio.svg
  control/autoware_autonomous_emergency_braking/image/wrong-mpc.drawio.svg
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/utils.hpp
  control/autoware_autonomous_emergency_braking/launch/autoware_autonomous_emergency_braking.launch.xml
  control/autoware_autonomous_emergency_braking/package.xml
  control/autoware_autonomous_emergency_braking/src/node.cpp
  control/autoware_autonomous_emergency_braking/src/utils.cpp
  control/autoware_autonomous_emergency_braking/test/test.cpp
  control/autoware_autonomous_emergency_braking/test/test.hpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: type:ci, type:documentation, component:control, component:launch

#1645 fix(autoware_mpc_lateral_controller): fix calculation method
  control/autoware_mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
Labels: component:control

#1644 feat(control_evaluator): cherry pick/control evaluator to v4.0.0
  .github/CODEOWNERS
  evaluator/autoware_control_evaluator/CMakeLists.txt
  evaluator/autoware_control_evaluator/README.md
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/deviation_metrics.hpp
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_control_evaluator/package.xml
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/src/metrics/deviation_metrics.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
  evaluator/autoware_evaluator_utils/CMakeLists.txt
  evaluator/autoware_evaluator_utils/README.md
  evaluator/autoware_evaluator_utils/include/autoware/evaluator_utils/evaluator_utils.hpp
  evaluator/autoware_evaluator_utils/package.xml
  evaluator/autoware_evaluator_utils/src/evaluator_utils.cpp
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: type:ci, type:documentation, component:launch, component:evaluator

#1698 chore: sync main branch's workflows to beta branch
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/comment-on-pr.yaml
  .github/workflows/dispatch-push-event.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/slack-send.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-upstream.yaml
Labels: type:ci

#1701 chore: rename codeowners file
  .github/_CODEOWNERS
Labels: type:ci

#1702 chore: rename codeowners file
  .github/_CODEOWNERS
Labels: type:ci

#1688 feat: optimize voxel indexing in preprocess_kernel.cu
  perception/lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
Labels: component:perception

#1705 feat(autoware_crosswalk_traffic_light_estimator): overwrite invalid detection result
  perception/autoware_crosswalk_traffic_light_estimator/include/autoware_crosswalk_traffic_light_estimator/node.hpp
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: component:perception

#1706 fix(multi_object_tracker): implementing trigger timing fix
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception

#1697 feat(camera_lidar_fusion): enable to use camera 8,9,10 in image_projection_based_fusion nodes
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_radar_merger.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/image_projection_based_fusion/launch/roi_pointcloud_fusion.launch.xml
Labels: component:launch, component:perception

#1708 fix(intersection): cherry pick/pr8561 v0.29.0-1
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test/test_util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/test_map/intersection/lanelet2_map.osm
Labels: component:planning

#1707 fix: overwrite invalid detection result for gen1
  perception/autoware_crosswalk_traffic_light_estimator/include/autoware_crosswalk_traffic_light_estimator/node.hpp
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: component:perception

#1716 feat(dummy_diag_publisher): update param setting
  launch/tier4_control_launch/launch/control.launch.py
  system/dummy_diag_publisher/include/dummy_diag_publisher/dummy_diag_publisher_core.hpp
  system/dummy_diag_publisher/package.xml
  system/dummy_diag_publisher/src/dummy_diag_publisher_core.cpp
Labels: component:launch, component:system

#1717 feat(surrround_obstacle_checker): use planning factor
  planning/autoware_surround_obstacle_checker/src/debug_marker.cpp
  planning/autoware_surround_obstacle_checker/src/debug_marker.hpp
Labels: component:planning

#1718 fix(obstacle_cruise_planner): use planning factor interface
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/planner_interface.hpp
  planning/autoware_obstacle_cruise_planner/src/node.cpp
  planning/autoware_obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/autoware_obstacle_cruise_planner/src/planner_interface.cpp
Labels: component:planning

#1709 fix(mpc_lateral_controller): prevent unstable steering command while stopped
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
Labels: component:control

#1719 feat(bpp): use planning factor
  planning/behavior_path_planner/autoware_behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/interface/scene_module_manager_interface.cpp
Labels: component:planning

#1712 chore(lane change): cherry-pick bug fixes
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/marker_utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, type:documentation

#1710 fix(static_obstacle_avoidance): cherry pick PRs to improve processing time
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning

#1704 feat(pid_longitudinal_controller): update trajectory_adaptive; add debug_values, adopt rate limit fillter (#9656)
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/debug_values.hpp
  control/autoware_pid_longitudinal_controller/include/autoware/pid_longitudinal_controller/pid_longitudinal_controller.hpp
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control

#1726 feat(static_obstacle_avoidance): use planning factor
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

#1727 feat(lane_change): use planning factor
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_external_request_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
Labels: component:planning

#1728 feat(bpp-intersection): use planning factor
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
Labels: component:planning

#1731 feat(goal_planner): use planning factor
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
Labels: component:planning

#1730 feat(start_planner): use planning factor
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning

#1729 feat(dynamic_obstacle_avoidace, side_shift, sampling_planner): use planning factor
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/include/autoware/behavior_path_sampling_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/include/autoware/behavior_path_sampling_planner_module/sampling_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/src/sampling_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/src/scene.cpp
Labels: component:planning

#1732 feat(dynamic_obstacle_stop): output planning factor interface
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/plugin_module_interface.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/planner_manager.cpp
Labels: component:planning

#1733 feat(out_of_lane): use planning factor
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.hpp
Labels: component:planning

#1722 fix(crosswalk_module): improve direction calculation for vehicle passage at crosswalks
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning

#1656 fix(lane_change): extending lane change path for multiple lane change (RT1-8427) (#9268)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning

#1714 fix(pid_longitudinal_controller): fix overrun distance calculation against goal position
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control

#1723 migrating
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/decision_state.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/bezier_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/freespace_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/geometric_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/shift_pull_over.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/decision_state.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/default_fixed_goal_planner.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/freespace_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/pull_over_planner_base.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/thread_data.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, type:documentation

#1721 feat(mpc_lateral_controller): add delayed initial state and debug trajectory publishing flags
  control/autoware_mpc_lateral_controller/README.md
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc.hpp
  control/autoware_mpc_lateral_controller/param/lateral_controller_defaults.param.yaml
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/autoware_trajectory_follower_node/param/lateral/mpc.param.yaml
Labels: type:documentation, component:control

#1720 perf(lane_change): path stability and correctness
  .github/_CODEOWNERS
  planning/autoware_route_handler/include/autoware/route_handler/route_handler.hpp
  planning/autoware_route_handler/src/route_handler.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/delay_lane_change_1.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/delay_lane_change_2.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/delay_lane_change_3.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/delay_lane_change_4.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/delay_lane_change_5.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/data.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/path.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/markers.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/markers.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
Labels: component:planning, type:ci, type:documentation

#1725 feat: customize hazard status converter
  launch/tier4_system_launch/launch/system.launch.xml
  system/hazard_status_converter/launch/hazard_status_converter.launch.xml
  system/hazard_status_converter/src/converter.cpp
  system/hazard_status_converter/src/converter.hpp
Labels: component:launch, component:system

#1735 fix: cherry-pick #8997 and #9279
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning

#1734 fix(default_adapi): subscribe planning factor
  system/autoware_default_adapi/package.xml
  system/autoware_default_adapi/src/planning.cpp
  system/autoware_default_adapi/src/planning.hpp
Labels: component:system

#1736 fix(goal_planner_module): adjust object filtering to consider velocity threshold
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning

#1738 fix(motion_velocity_planner)!: remove velocity factor
  planning/motion_velocity_planner/autoware_motion_velocity_dynamic_obstacle_stop_module/src/dynamic_obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_velocity_limiter_module/src/obstacle_velocity_limiter_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/plugin_module_interface.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/velocity_planning_result.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
Labels: component:planning, type:documentation

#1743 revert(autoware_lidar_centerpoint): process front voxels first
  perception/lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
Labels: component:perception

#1739 fix(goal_planner): remove velocity factor
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning

#1740 fix(static_obstacle_avoidance): remove velocity factor
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

#1745 fix(lidar_centerpoint): reintroduce voxel order from front
  perception/lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
Labels: component:perception

#1737 fix(surround_obstacle_checker)!: remove velocity factor
  planning/autoware_surround_obstacle_checker/package.xml
  planning/autoware_surround_obstacle_checker/src/debug_marker.cpp
  planning/autoware_surround_obstacle_checker/src/debug_marker.hpp
Labels: component:planning

#1742 fix(start_planner): remove velocity factor
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning

#1746 fix(behavior_path_planner): remove velocity factor
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/interface/scene_module_manager_interface.cpp
Labels: component:planning

#1747 fix(obstacle_cruise_planner): remove velocity factor
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/planner_interface.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/type_alias.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/utils.hpp
  planning/autoware_obstacle_cruise_planner/package.xml
  planning/autoware_obstacle_cruise_planner/src/pid_based_planner/pid_based_planner.cpp
  planning/autoware_obstacle_cruise_planner/src/planner_interface.cpp
  planning/autoware_obstacle_cruise_planner/src/utils.cpp
Labels: component:planning
