Repository tier4/autoware_universe, pull requests merged in 2024-03, with the labels that each got.

#1167 feat(workflow): modify workflow from sync-awf-latest workflow
  .github/workflows/sync-awf-latest.yaml
Labels: type:ci

#1155 feat(traffic_light_multi_camera_fusion): take confidence into consideration(#6267)
  perception/traffic_light_multi_camera_fusion/src/node.cpp
Labels: component:perception

#1156 feat(behavior_velocity_traffic_light): ensure stopping if a signal, once received, is not received again (autowarefoundation#6468)
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning

#1169 feat(start_planner): override lane departure check
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_parameters.hpp
  planning/behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, type:documentation

#1168 feat(obstacle_cruise_planner): yield function for ocp (#6242)
  planning/obstacle_cruise_planner/README.md
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
Labels: component:planning, type:documentation

#1173 feat(start_planner): cherry pick
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_parameters.hpp
  planning/behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, type:documentation

#1174 feat(mpc_lateral_controller): cherry pick
  control/mpc_lateral_controller/src/mpc_lateral_controller.cpp
Labels: component:control

#1177 fix(tracker_object_merger): add sanity check for tracker merger (#6386)
  perception/tracking_object_merger/README.md
  perception/tracking_object_merger/include/tracking_object_merger/utils/tracker_state.hpp
  perception/tracking_object_merger/src/decorative_tracker_merger.cpp
  perception/tracking_object_merger/src/utils/tracker_state.cpp
Labels: type:documentation, component:perception

#1180 chore(duplicate_node_checker): print duplication name (#6488)
  system/duplicated_node_checker/config/duplicated_node_checker.param.yaml
  system/duplicated_node_checker/package.xml
  system/duplicated_node_checker/src/duplicated_node_checker_core.cpp
Labels: component:system

#1181 fix(drivable_area_expansion): fix invalid access (#6566)
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning

#1171 feat(traffic_light): depend on is_simulation for scenario simulator (…
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/test/src/test_node_interface.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning, component:launch

#1183 fix(start_planner): consider backward completion before preparing blinker (#6558)
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning

#1182 fix(route_handler): query shoulder lane in getLaneletSequence() if only_route_lanes is false and the arg is shoulder type (#6567)
  planning/route_handler/src/route_handler.cpp
Labels: component:planning

#1178 feat(behavior_velocity_traffic_light): check if remaining time is available
  planning/behavior_velocity_planner/src/node.cpp
Labels: component:planning

#1176 feat(behavior_velocity_traffic_light): stop when the signal is unknown or timed out
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Labels: component:planning

#1125 feat: keep stop policy v0.11.2
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: planning

#1185 feat: revert keep stop policy v0.11.2
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: planning

#1188 fix(lane_departure_checker): empty lanelet polygon (#6588)
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning, component:control

#1187 fix(out_of_lane): ignore overlaps over all lanelets crossed by the eg…
  planning/behavior_velocity_out_of_lane_module/src/footprint.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.hpp
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
Labels: planning

#1189 feat(diagnostic_graph_aggregator): add dump tool (#6427)
  system/diagnostic_graph_aggregator/CMakeLists.txt
  system/diagnostic_graph_aggregator/script/dump.py
Labels: component:system

#1195 fix(avoidance): cherry pick PRs for avoidance module
  planning/behavior_path_avoidance_by_lane_change_module/config/avoidance_by_lane_change.param.yaml
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning

#1196 feat(dynamic_obstacle_stop): add option to ignore unavoidable collisions
  planning/behavior_velocity_dynamic_obstacle_stop_module/README.md
  planning/behavior_velocity_dynamic_obstacle_stop_module/config/dynamic_obstacle_stop.param.yaml
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/manager.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/object_filtering.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/types.hpp
Labels: component:planning, type:documentation

#1197 fix(blind_spot): find collision point using sibling straight lanelet boundary (#6599)
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
Labels: component:planning

#1198 Cherry pick/pr6608+6585
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: component:planning

#1199 fix(shape estimation): 5330 + 6157 + 6598
  perception/shape_estimation/CMakeLists.txt
  perception/shape_estimation/README.md
  perception/shape_estimation/config/shape_estimation.param.yaml
  perception/shape_estimation/launch/shape_estimation.launch.xml
  perception/shape_estimation/lib/shape_estimator.cpp
  perception/shape_estimation/schema/shape_estimation.schema.json
  perception/shape_estimation/src/node.cpp
  perception/shape_estimation/src/node.hpp
Labels: type:documentation, component:perception

#1190 feat(hazard_status_converter): add package (#6428)
  system/hazard_status_converter/CMakeLists.txt
  system/hazard_status_converter/launch/hazard_status_converter.launch.xml
  system/hazard_status_converter/package.xml
  system/hazard_status_converter/src/converter.cpp
  system/hazard_status_converter/src/converter.hpp
Labels: component:system

#1200 feat(avoidance): wait and see ambiguous stopped vehicle (#6631)
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning

#1203 fix(lane_change): consider max velocity during path planning (#6615)
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/parameters.hpp
Labels: component:planning

#1204 fix(behavior_velocity_run_out): construct predicted path up to max pr…
  planning/behavior_velocity_run_out_module/src/dynamic_obstacle.cpp
Labels: component:planning

#1205 fix(motion_utils): check size after overlap points removal (#6653)
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
Labels: component:common

#1206 fix(lane_change): consider max velocity during path planning
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/launch/behavior_path_planner.launch.xml
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/parameters.hpp
Labels: component:planning, component:launch

#1207 fix(drivable_area_expansion): fix bug when reusing previous path poin…
  planning/behavior_path_planner/src/utils/drivable_area_expansion/drivable_area_expansion.cpp
Labels: planning

#1212 feat(tier4_control_launch): enable multithreading for the control container
  launch/tier4_control_launch/launch/control.launch.py
Labels: component:launch

#1211 fix(out_of_lane): cherry-pick hotfix
  planning/behavior_velocity_out_of_lane_module/src/footprint.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.hpp
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
Labels: component:planning

#1210 fix(out_of_lane): calculate path lanelets that we can miss during a lane change
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.hpp
Labels: planning

#1209 fix(planning_validator): cherry-pick numerically safe calculation of max lateral acceleration for MRM check
  planning/planning_validator/include/planning_validator/utils.hpp
  planning/planning_validator/src/planning_validator.cpp
  planning/planning_validator/src/utils.cpp
Labels: planning

#1213 fix(planning_validator): calculate max lateral acceleration after resampling trajectory (autowarefoundation#6679)
  planning/planning_validator/src/planning_validator.cpp
Labels: component:planning

#1191 feat: fix lv4 bicycle pedestrian prediction issue
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/multi_object_tracker/models.md
  perception/multi_object_tracker/src/data_association/data_association.cpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/multiple_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/tracker_base.cpp
  perception/tracking_object_merger/src/utils/utils.cpp
Labels: type:documentation, component:perception

#1217 chore: cherry pick 5971
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
Labels: component:map
