Repository tier4/autoware_universe, pull requests merged in 2024-05, with the labels that each got.

#1278 perf(behavior_path_planner): improve getReferencePath to support very long routes (#6739)
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/docs/behavior_path_planner_manager_design.md
  planning/behavior_path_planner/image/manager/avoidance.svg
  planning/behavior_path_planner/image/manager/current_route_lanelet.svg
  planning/behavior_path_planner/image/manager/lane_change.svg
  planning/behavior_path_planner/image/manager/root_lanelet.svg
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_sampling_planner_module/include/behavior_path_sampling_planner_module/sampling_planner_module.hpp
Labels: component:planning, type:documentation

#1280 fix(avoidance): cherry pick PRs
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  planning/behavior_path_avoidance_module/README.md
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/schema/avoidance.schema.json
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/parameters.hpp
Labels: component:planning, type:documentation, component:common

#1282 fix: pre-commit.ci error
  system/diagnostic_graph_aggregator/script/dump.py
Labels: component:system

#1281 ci: add comment-on-pr.yaml
  .github/workflows/comment-on-pr.yaml
Labels: type:ci

#1279 perf(behavior_path_planner): improve getReferencePath to support very long routes (#6739)
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/docs/behavior_path_planner_manager_design.md
  planning/behavior_path_planner/image/manager/avoidance.svg
  planning/behavior_path_planner/image/manager/current_route_lanelet.svg
  planning/behavior_path_planner/image/manager/lane_change.svg
  planning/behavior_path_planner/image/manager/root_lanelet.svg
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
Labels: component:planning, type:documentation

#1284 fix(avoidance): cherry pick PRs
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/polling_subscriber.hpp
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  planning/behavior_path_avoidance_by_lane_change_module/config/avoidance_by_lane_change.param.yaml
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_module/README.md
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/schema/avoidance.schema.json
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/parameters.hpp
Labels: component:planning, type:documentation, component:common

#1286 feat(crosswalk)!: change ego min assumed speed (#6904)
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning

#1277 fix: use TRAFFIC_LIGHT_CAMERA_NUMBER env var
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch

#1287 fix: fix pre-commit
  planning/planning_debug_tools/scripts/perception_replayer/utils.py
  system/diagnostic_graph_aggregator/script/dump.py
Labels: component:planning, component:system

#1272 fix(dummy_diag_publisher): not use diagnostic_updater and param callback
  system/dummy_diag_publisher/include/dummy_diag_publisher/dummy_diag_publisher_core.hpp
  system/dummy_diag_publisher/src/dummy_diag_publisher_core.cpp
Labels: enhancement, component:system

#1258 feat(obstacle_cruise): pseudo occlusion
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/type_alias.hpp
  planning/obstacle_cruise_planner/launch/obstacle_cruise_planner.launch.xml
  planning/obstacle_cruise_planner/src/node.cpp
Labels: component:planning, component:launch

#1288 chore: display hazard status that has no hardware_id
  common/tier4_system_rviz_plugin/src/mrm_summary_overlay_display.cpp
Labels: component:common

#1292 feat(out_of_lane): add option to ignore overlaps in lane changes (#6991)
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/manager.cpp
  planning/behavior_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning

#1293 chore: backport autowarefoundation#6973 and #6992
  common/tier4_calibration_rviz_plugin/src/accel_brake_map_calibrator_button_panel.cpp
  common/tier4_calibration_rviz_plugin/src/accel_brake_map_calibrator_button_panel.hpp
  planning/planning_debug_tools/scripts/perception_replayer/utils.py
  vehicle/accel_brake_map_calibrator/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
Labels: component:planning, component:common, component:vehicle

#1297 feat(goal_planner): reject candidate path whose start pose direction is not aligned with ego path (#6935)
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning

#1296 feat(goal_planner): reject candidate path whose start pose direction is not aligned with ego path (#6935)
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning

#1294 fix(pseudo occulusion): fix out of range access
  planning/obstacle_cruise_planner/src/node.cpp
Labels: component:planning

#1299 fix(start_planner): issue when ego does not straddle lane bounds and …
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning

#1302 chore(simple_planning_simulator): publish control mode before the sel…
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
Labels: component:simulation

#1303 fix: start/goal_plannerのスレッドセーフ修正
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/geometric_pull_over.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/shift_pull_over.hpp
  planning/behavior_path_goal_planner_module/src/geometric_pull_over.cpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_goal_planner_module/src/shift_pull_over.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning

#1289 feat(X2 performance tuning): merge pr about concatenate_data, downsample_filter, occupancy_grid_map
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/probabilistic_occupancy_grid_map/README.md
  perception/probabilistic_occupancy_grid_map/config/pointcloud_based_occupancy_grid_map.param.yaml
  perception/probabilistic_occupancy_grid_map/launch/pointcloud_based_occupancy_grid_map.launch.py
  perception/probabilistic_occupancy_grid_map/package.xml
  perception/probabilistic_occupancy_grid_map/pointcloud-based-occupancy-grid-map.md
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/README.md
  sensing/pointcloud_preprocessor/docs/downsample-filter.md
  sensing/pointcloud_preprocessor/docs/image/pointcloud_preprocess_pipeline.drawio.png
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/pickup_based_voxel_grid_downsample_filter.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/time_synchronizer/time_synchronizer_nodelet.hpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/pointcloud_preprocessor/src/downsample_filter/pickup_based_voxel_grid_downsample_filter.cpp
  sensing/pointcloud_preprocessor/src/downsample_filter/robin_hood.h
  sensing/pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_nodelet.cpp
Labels: type:documentation, component:launch, component:perception, component:sensing

#1283 fix(ground_segmentation launch): fix ground segmentation concatenate node and timeout
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
Labels: component:launch

#1304 feat(aeb): update aeb module and add control evaluator
  control/autonomous_emergency_braking/README.md
  control/autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
  control/autonomous_emergency_braking/src/node.cpp
  evaluator/control_evaluator/CMakeLists.txt
  evaluator/control_evaluator/README.md
  evaluator/control_evaluator/include/control_evaluator/control_evaluator_node.hpp
  evaluator/control_evaluator/launch/control_evaluator.launch.xml
  evaluator/control_evaluator/package.xml
  evaluator/control_evaluator/param/control_evaluator.defaults.yaml
  evaluator/control_evaluator/src/control_evaluator_node.cpp
  launch/tier4_control_launch/launch/control.launch.py
  launch/tier4_control_launch/package.xml
Labels: type:documentation, component:control, component:launch, component:evaluator

#1305 feat(behavior_velocity_traffic_light): do not overwrite unknown with past known color (#7044)
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/manager.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Labels: component:planning

#1300 fix(lane_change): cherry-pick several lane change commits
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_lane_change_module/README.md
  planning/behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/debug_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, type:documentation, component:common

#1306 feat(obstacle cruise): reduce computation cost (#7040)
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/polygon_utils.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
Labels: component:planning

#1301 fix(lane_change): cherry-pick disable terminal path
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning

#1308 fix: cherry pick avoidance PRs
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/debug.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/shift_line_generator.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/type_alias.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/schema/avoidance.schema.json
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning

#1309 feat(pointcloud preprocessor): add hysteresis to diag
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
Labels: component:launch, component:sensing

#1310 fix(pointcloud_preprocessor): typo consecutive_concatenate_failures
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
Labels: component:sensing

#1311 fix(geometric_parallel_parking): increase max dist threshold for geom pullout
  planning/behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
Labels: component:planning

#1312 chore(blind_spot): PR7110 and PR7164
  planning/behavior_velocity_blind_spot_module/CMakeLists.txt
  planning/behavior_velocity_blind_spot_module/config/blind_spot.param.yaml
  planning/behavior_velocity_blind_spot_module/src/debug.cpp
  planning/behavior_velocity_blind_spot_module/src/decisions.cpp
  planning/behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
Labels: component:planning

#1314 fix(multi_object_tracker): huge tracking object bug fix for x2
  perception/multi_object_tracker/CMakeLists.txt
  perception/multi_object_tracker/include/multi_object_tracker/debugger.hpp
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/include/multi_object_tracker/processor/processor.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/bicycle_motion_model.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/ctrv_motion_model.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/cv_motion_model.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/motion_model_base.hpp
  perception/multi_object_tracker/include/multi_object_tracker/utils/utils.hpp
  perception/multi_object_tracker/launch/multi_object_tracker.launch.xml
  perception/multi_object_tracker/package.xml
  perception/multi_object_tracker/src/debugger.cpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/multi_object_tracker/src/processor/processor.cpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/unknown_tracker.cpp
  perception/multi_object_tracker/src/tracker/motion_model/bicycle_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/ctrv_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/cv_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/motion_model_base.cpp
Labels: component:perception
