Repository tier4/autoware_universe, pull requests merged in 2024-04, with the labels that each got.

#1218 fix(blockage_diag): add dust detection enable option pr5932+6645
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/config/blockage_diagnostics_param_file.yaml
  sensing/pointcloud_preprocessor/docs/blockage_diag.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/blockage_diag/blockage_diag_nodelet.hpp
  sensing/pointcloud_preprocessor/launch/blockage_diag.launch.xml
  sensing/pointcloud_preprocessor/src/blockage_diag/blockage_diag_nodelet.cpp
Labels: type:documentation, component:sensing

#1219 feat: run sync-awf-latest every one hour
  .github/workflows/sync-awf-latest.yaml
Labels: type:ci

#1214 feat(tier4_system_launch): add option to launch mrm handler (#6660)
  launch/tier4_system_launch/launch/system.launch.xml
  system/hazard_status_converter/launch/hazard_status_converter.launch.xml
  system/hazard_status_converter/src/converter.cpp
Labels: component:launch, component:system

#1222 feat(map_based_prediction): cope with consecutive crosswalks (#6009)
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception

#1224 feat(tier4_autoware_utils, obstacle_cruise): change to read topic by polling (#6702)
  common/tier4_autoware_utils/include/tier4_autoware_utils/ros/polling_subscriber.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/src/node.cpp
Labels: component:planning, component:common

#1166 fix(mission_planner): find the first common interval naively for main/mrm reroute check (#6504)
  planning/mission_planner/src/mission_planner/mission_planner.cpp
  planning/mission_planner/src/mission_planner/mission_planner.hpp
Labels: component:planning

#1223 fix(lane_change): cherry pick for improvements
  planning/behavior_path_lane_change_module/README.md
  planning/behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_lane_change_module/images/lane_change-lane_change_phases.png
  planning/behavior_path_lane_change_module/images/lane_change-lane_expansion-with.png
  planning/behavior_path_lane_change_module/images/lane_change-lane_expansion-without.png
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, type:documentation

#1193 feat(avoidance): (TEMPORARY) steering factor for avoidance maneuver
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
Labels: component:planning

#1220 feat(lane departure check,start planner): update lane departure check (cherry pick 8bdb5422c68 and 0042c2086d9)
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/boost_geometry.hpp
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/parking_departure/geometric_parallel_parking.hpp
  planning/behavior_path_planner_common/package.xml
  planning/behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/geometric_pull_out.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/geometric_pull_out.cpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, component:common, component:control

#1226 fix(lane_change): solve lane changing after intersection and/or turning
  planning/behavior_path_lane_change_module/README.md
  planning/behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, type:documentation

#1235 fix(hazard_status_converter): check current operation mode (cherrypick autowarefoundation#6733)
  system/hazard_status_converter/package.xml
  system/hazard_status_converter/src/converter.cpp
  system/hazard_status_converter/src/converter.hpp
Labels: component:system

#1236 fix(multi_object_tracker): mot timer cherrypicks
  perception/multi_object_tracker/include/multi_object_tracker/debugger.hpp
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/src/debugger.cpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception

#1238 fix(avoidance): cherry pick avoidance hotfix PRs
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning

#1233 feat(out_of_lane): cherry-pick lane change bug fix + cut pred paths at red light
  planning/behavior_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/behavior_velocity_out_of_lane_module/package.xml
  planning/behavior_velocity_out_of_lane_module/src/decisions.cpp
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/behavior_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.hpp
  planning/behavior_velocity_out_of_lane_module/src/manager.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
  planning/behavior_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning

#1240 fix(raw_vehicle_cmd_converter): csv paths are resolved in param.yaml
  vehicle/raw_vehicle_cmd_converter/config/raw_vehicle_cmd_converter.param.yaml
  vehicle/raw_vehicle_cmd_converter/launch/raw_vehicle_converter.launch.xml
  vehicle/raw_vehicle_cmd_converter/schema/raw_vehicle_cmd_converter.schema.json
Labels: component:vehicle

#1231 feat(emergency_goal_manager, mrm_pull_over_manager): add mrm pull over
  launch/tier4_system_launch/launch/system.launch.xml
  system/emergency_goal_manager/CMakeLists.txt
  system/emergency_goal_manager/README.md
  system/emergency_goal_manager/config/emergency_goal_manager.param.yaml
  system/emergency_goal_manager/include/emergency_goal_manager_core.hpp
  system/emergency_goal_manager/launch/emergency_goal_manager.launch.xml
  system/emergency_goal_manager/package.xml
  system/emergency_goal_manager/src/emergency_goal_manager_core.cpp
  system/emergency_goal_manager/src/emergency_goal_manager_node.cpp
  system/mrm_pull_over_manager/CMakeLists.txt
  system/mrm_pull_over_manager/README.md
  system/mrm_pull_over_manager/config/mrm_pull_over_manager.param.yaml
  system/mrm_pull_over_manager/config/pull_over_point.csv
  system/mrm_pull_over_manager/include/mrm_pull_over_manager/csv_parser.hpp
  system/mrm_pull_over_manager/include/mrm_pull_over_manager/mrm_pull_over_manager_core.hpp
  system/mrm_pull_over_manager/launch/mrm_pull_over_manager.launch.xml
  system/mrm_pull_over_manager/package.xml
  system/mrm_pull_over_manager/src/mrm_pull_over_manager/mrm_pull_over_manager_core.cpp
  system/mrm_pull_over_manager/src/mrm_pull_over_manager/mrm_pull_over_manager_node.cpp
Labels: type:documentation, component:launch, component:system

#1242 fix(avoidance): cherry pick avoidance hotfix PRs
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning

#1244 fix(map_loader): show traffic light regulatory element id per lanelet…
  map/map_loader/src/lanelet2_map_loader/lanelet2_map_visualization_node.cpp
Labels: component:map

#1246 feat: keep stop policy v0.11.2 (reopen)
  planning/behavior_path_planner/config/avoidance/avoidance.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/utils/avoidance/avoidance_module_data.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
  planning/behavior_path_planner/src/scene_module/avoidance/manager.cpp
Labels: planning

#1247 feat(fault injection): change for diagnostic graph aggregator (#6750)
  simulator/fault_injection/README.md
  simulator/fault_injection/config/fault_injection.param.yaml
  simulator/fault_injection/include/fault_injection/fault_injection_diag_updater.hpp
  simulator/fault_injection/include/fault_injection/fault_injection_node.hpp
  simulator/fault_injection/src/fault_injection_node/fault_injection_node.cpp
  simulator/fault_injection/test/config/test_event_diag.param.yaml
  simulator/fault_injection/test/test_fault_injection_node.test.py
Labels: type:documentation, component:simulation

#1250 fix(avoidance): fix invalid road bound distance calculation (#6781)
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning

#1251 feat(behavior_velocity_traffic_light): ensure stopping if a signal is not received
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.py
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: launch, planning

#1249 feat(behavior_velocity_run_out): cherry pick feature improvements
  planning/behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/package.xml
  planning/behavior_velocity_run_out_module/src/debug.hpp
  planning/behavior_velocity_run_out_module/src/dynamic_obstacle.cpp
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Labels: documentation, planning

#1248 feat(diagnostic_graph_aggregator): report the highest error level
  system/diagnostic_graph_aggregator/src/common/graph/graph.cpp
  system/diagnostic_graph_aggregator/src/common/graph/units.cpp
  system/diagnostic_graph_aggregator/src/common/graph/units.hpp
Labels: component:system

#1241 fix(lane_change): cherry pick small fixes
  planning/behavior_path_lane_change_module/README.md
  planning/behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/include/behavior_path_planner/behavior_path_planner_node.hpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning, type:documentation

#1252 refactor(avoidance): rebuild parameter structure (#6786)
  planning/behavior_path_avoidance_by_lane_change_module/config/avoidance_by_lane_change.param.yaml
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/manager.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning

#1253 fix(obstacle_avoidance_planner): use update_bounds instead of update_lower/upper_bounds (#6011)
  planning/obstacle_avoidance_planner/src/mpt_optimizer.cpp
Labels: component:planning

#1254 fix(behavior_velocity_run_out): construct predicted path up to max pr…
  planning/behavior_velocity_run_out_module/src/dynamic_obstacle.cpp
Labels: planning

#1255 fix(behavior_velocity_traffic_light): do not use the timed out remain…
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning

#1257 fix(avoidance): same as feat(avoidance): suppress unnatural turn signal #5905
  planning/behavior_path_planner/include/behavior_path_planner/scene_module/avoidance/avoidance_module.hpp
  planning/behavior_path_planner/src/scene_module/avoidance/avoidance_module.cpp
Labels: planning

#1259 fix(behavior_velocity_traffic_light): stop for outdated signals and set prev_state_stop when using time to red signal
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning

#1263 fix(gnss_poser): cherry pick
  sensing/gnss_poser/README.md
  sensing/gnss_poser/config/gnss_poser.param.yaml
  sensing/gnss_poser/include/gnss_poser/gnss_poser_core.hpp
  sensing/gnss_poser/schema/gnss_poser.schema.json
  sensing/gnss_poser/src/gnss_poser_core.cpp
Labels: type:documentation, component:sensing

#1237 chore(ground_segmentation): cherry pick pr6209+5861+6753+5980
  perception/ground_segmentation/CMakeLists.txt
  perception/ground_segmentation/config/ground_segmentation.param.yaml
  perception/ground_segmentation/config/ransac_ground_filter.param.yaml
  perception/ground_segmentation/config/ray_ground_filter.param.yaml
  perception/ground_segmentation/config/scan_ground_filter.param.yaml
  perception/ground_segmentation/docs/scan-ground-filter.md
  perception/ground_segmentation/include/ground_segmentation/scan_ground_filter_nodelet.hpp
  perception/ground_segmentation/launch/ransac_ground_filter.launch.xml
  perception/ground_segmentation/launch/ray_ground_filter.launch.xml
  perception/ground_segmentation/launch/scan_ground_filter.launch.xml
  perception/ground_segmentation/src/ransac_ground_filter_nodelet.cpp
  perception/ground_segmentation/src/ray_ground_filter_nodelet.cpp
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
  perception/ground_segmentation/test/test_ray_ground_filter.cpp
  perception/ground_segmentation/test/test_scan_ground_filter.cpp
  perception/occupancy_grid_map_outlier_filter/src/occupancy_grid_map_outlier_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/filter.cpp
Labels: type:documentation, component:perception, component:sensing

#1243 fix(compare_map_segmentation): vertical check adjust for low height object detection
  perception/compare_map_segmentation/src/voxel_grid_map_loader.cpp
Labels: component:perception

#1265 revert(lane_change): disable terminal path (#6800)
  planning/behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning

#1264 feat(behavior_path_planner_common): add safety target object located …
  planning/behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning

#1267 feat(obstacle_cruise): ignore right beside objects (#6754)
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/polygon_utils.cpp
Labels: component:planning

#1269 fix(behavior_path_planner): node died when change ego behavior
  planning/behavior_path_planner/src/turn_signal_decider.cpp
Labels: planning

#1271 feat(perception_online_evaluator): add use_perception_online_evaluator option and disable it by default (#6861)
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch

#1273 feat(start_planner): tune parameter to improve collision
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
Labels: component:planning
