Repository tier4/autoware_universe, pull requests merged in 2024-01, with the labels that each got.

#1085 fix(avoidance): cherry pick
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/traffic_light_utils.hpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
  planning/behavior_path_planner_common/src/utils/traffic_light_utils.cpp
Labels: component:planning

#1086 feat(behavior_velocity_planner): add new 'dynamic_obstacle_stop' module
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_velocity_dynamic_obstacle_stop_module/CMakeLists.txt
  planning/behavior_velocity_dynamic_obstacle_stop_module/README.md
  planning/behavior_velocity_dynamic_obstacle_stop_module/config/dynamic_obstacle_stop.param.yaml
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-Collision.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-Filtering.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-ImmediatePaths.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/DynamicObstacleStop-StopPoint.drawio.svg
  planning/behavior_velocity_dynamic_obstacle_stop_module/docs/dynamic_obstacle_stop_rviz.png
  planning/behavior_velocity_dynamic_obstacle_stop_module/package.xml
  planning/behavior_velocity_dynamic_obstacle_stop_module/plugins.xml
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/collision.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/collision.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/debug.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/debug.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/footprint.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/footprint.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/manager.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/manager.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/object_filtering.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/object_filtering.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.cpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/scene_dynamic_obstacle_stop.hpp
  planning/behavior_velocity_dynamic_obstacle_stop_module/src/types.hpp
  planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
Labels: component:planning, type:documentation, component:launch

#1088 refactor(tier4_planning_launch): remove duplicate arguments in launch launch
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch

#1090 refactor(motion_utils): cherry picked from a merged PR
  common/interpolation/include/interpolation/spherical_linear_interpolation.hpp
  common/interpolation/src/spherical_linear_interpolation.cpp
  common/motion_utils/include/motion_utils/trajectory/conversion.hpp
  control/pid_longitudinal_controller/include/pid_longitudinal_controller/longitudinal_controller_utils.hpp
  control/pid_longitudinal_controller/src/longitudinal_controller_utils.cpp
  control/pid_longitudinal_controller/test/test_longitudinal_controller_utils.cpp
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/path_utils.hpp
  planning/behavior_path_planner_common/src/utils/path_utils.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/trajectory_utils.hpp
  planning/behavior_velocity_planner_common/src/utilization/trajectory_utils.cpp
  planning/planning_test_utils/include/planning_test_utils/planning_interface_test_manager_utils.hpp
  planning/planning_test_utils/package.xml
  planning/planning_test_utils/src/planning_interface_test_manager.cpp
Labels: component:planning, component:common, component:control

#1087 fix(lane_change): check able to return to current lane
  planning/behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning

#1092 feat(start_planner): cherry pick
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/parking_departure/common_module_data.hpp
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_start_planner_module/images/priority_order.drawio.svg
  planning/behavior_path_start_planner_module/images/start_from_road_lane.drawio.svg
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_parameters.hpp
  planning/behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, type:documentation

#1091 feat(intersection): cherry pick awf #6036, #6042, #6050
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning

#1094 feat(crosswalk): change the TTC formula
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: component:planning

#1095 feat(behavior_path_planner): update behavior path planner
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/README.md
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/scene.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/pull_over_planner_base.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/shift_pull_over.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_goal_planner_module/src/shift_pull_over.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/create_vehicle_footprint.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
  planning/behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/pull_out_planner_base.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_start_planner_module/src/util.cpp
  planning/mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/mission_planner/src/lanelet2_plugins/utility_functions.hpp
Labels: component:planning, type:documentation, component:common

#1096 feat: add sync-awf-latest.yaml
  .github/workflows/sync-awf-latest.yaml
Labels: type:ci

#1101 fix(image_projection_based_fusion): re-organize the parameters for image projection fusion (#6075)
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch

#1100 fix(bpp): cherry pick behavior path module improvement
  common/tier4_debug_rviz_plugin/CMakeLists.txt
  common/tier4_debug_rviz_plugin/icons/classes/StringStampedOverlayDisplay.png
  common/tier4_debug_rviz_plugin/include/tier4_debug_rviz_plugin/string_stamped.hpp
  common/tier4_debug_rviz_plugin/plugins/plugin_description.xml
  common/tier4_debug_rviz_plugin/src/string_stamped.cpp
  planning/behavior_path_avoidance_by_lane_change_module/config/avoidance_by_lane_change.param.yaml
  planning/behavior_path_avoidance_by_lane_change_module/include/behavior_path_avoidance_by_lane_change_module/manager.hpp
  planning/behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_avoidance_by_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/manager.hpp
  planning/behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/config/scene_module_manager.param.yaml
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: component:planning, type:documentation, component:common

#1109 fix(image_projection_based_fusion): re-organize the parameters for image projection fusion (autowarefoundation#6075)
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/camera_lidar_radar_fusion_based_detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
Labels: component:launch

#1110 fix(dynamic_avoidance): remove cerr
  planning/behavior_path_dynamic_avoidance_module/src/scene.cpp
Labels: component:planning

#1112 feat: add enable_all_modules_auto_mode argument to launch files for behavior modules
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_detection_area_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_no_stopping_area_module/src/manager.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
Labels: component:planning, component:launch

#1113 fix(raw_vehicle_cmd_converter): fix parameter files to parse path to csv files
  launch/tier4_vehicle_launch/launch/vehicle.launch.xml
  vehicle/raw_vehicle_cmd_converter/config/raw_vehicle_cmd_converter.param.yaml
  vehicle/raw_vehicle_cmd_converter/launch/raw_vehicle_converter.launch.xml
  vehicle/raw_vehicle_cmd_converter/schema/raw_vehicle_cmd_converter.schema.json
Labels: component:launch, component:vehicle

#1114 fix(external_velocity_limit_selector): revert "refactor(external_velocity_limit_selector): rework parameter (#5238)"
  planning/external_velocity_limit_selector/README.md
  planning/external_velocity_limit_selector/config/default.param.yaml
  planning/external_velocity_limit_selector/config/default_common.param.yaml
  planning/external_velocity_limit_selector/config/external_velocity_limit_selector.param.yaml
  planning/external_velocity_limit_selector/launch/external_velocity_limit_selector.launch.xml
  planning/external_velocity_limit_selector/schema/external_velocity_limit_selector.schema.json
Labels: component:planning, type:documentation

#1115 feat: sync with awf/autoware.universe by force-push
  .github/workflows/create-awf-latest.yml
  .github/workflows/sync-awf-latest.yaml
Labels: type:ci

#1117 feat(behavior_path_planner): update behavior path panner for v0.20.1
  planning/behavior_path_dynamic_avoidance_module/src/scene.cpp
  planning/behavior_path_goal_planner_module/README.md
  planning/behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_searcher_base.hpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, type:documentation

#1120 fix(avoidance): cherry pick new feature
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/static_drivable_area.hpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning

#1121 fix(avoidance): update filtering logic for non-vehicle (#6206)
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning

#1122 feat(imu_corrector): cherry pick diagnostics modification in gyro_bias_estimatior from awf
  sensing/imu_corrector/README.md
  sensing/imu_corrector/config/gyro_bias_estimator.param.yaml
  sensing/imu_corrector/src/gyro_bias_estimator.cpp
  sensing/imu_corrector/src/gyro_bias_estimator.hpp
Labels: type:documentation, component:sensing
