Repository tier4/autoware_universe, pull requests merged in 2024-06, with the labels that each got.

#1313 feat(behavior_path_planner_common): add general method for calculating turn signal for bpp modules v0.19.1
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/docs/behavior_path_planner_turn_signal_design.md
  planning/behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/parameters.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/turn_signal_decider.hpp
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, type:documentation

#1317 fix(multi_object_tracker): calculation of detection delay diagnostics
  perception/multi_object_tracker/src/debugger.cpp
Labels: component:perception

#1316 feat(mrm_handler): mrm recoverable option
  system/mrm_handler/config/mrm_handler.param.yaml
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/schema/mrm_handler.schema.json
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system

#1321 fix(mulit_object_tracker): revert multi object tracker
  perception/multi_object_tracker/CMakeLists.txt
  perception/multi_object_tracker/include/multi_object_tracker/debugger.hpp
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/include/multi_object_tracker/processor/processor.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/bicycle_motion_model.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/ctrv_motion_model.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/cv_motion_model.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/motion_model/motion_model_base.hpp
  perception/multi_object_tracker/include/multi_object_tracker/utils/utils.hpp
  perception/multi_object_tracker/launch/multi_object_tracker.launch.xml
  perception/multi_object_tracker/package.xml
  perception/multi_object_tracker/src/debugger.cpp
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  perception/multi_object_tracker/src/processor/processor.cpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/unknown_tracker.cpp
  perception/multi_object_tracker/src/tracker/motion_model/bicycle_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/ctrv_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/cv_motion_model.cpp
  perception/multi_object_tracker/src/tracker/motion_model/motion_model_base.cpp
Labels: component:perception

#1322 fix(multi_object_tracker): mot convexhull to bbox convert bug
  perception/multi_object_tracker/include/multi_object_tracker/utils/utils.hpp
Labels: component:perception

#1324 fix(staatic_obstacle_avoidance): allow return shift approval even if …
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning

#1325 feat(obstacle_cruise)!: type specified stop deccel limit and enabling abandon to stop
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/utils.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_cruise_planner/src/utils.cpp
Labels: component:planning

#1329 feat(motion_velocity_smoother)!: added force acceleration
  planning/motion_velocity_smoother/include/motion_velocity_smoother/motion_velocity_smoother_node.hpp
  planning/motion_velocity_smoother/include/motion_velocity_smoother/smoother/smoother_base.hpp
  planning/motion_velocity_smoother/package.xml
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  planning/motion_velocity_smoother/src/smoother/smoother_base.cpp
Labels: component:planning

#1327 feat(object_lanelet_filter, vector_map_inside_area_filter): cherry-pick unknown removal feature from awf
  perception/detected_object_validation/config/object_lanelet_filter.param.yaml
  perception/detected_object_validation/config/obstacle_pointcloud_based_validator.param.yaml
  perception/detected_object_validation/config/occupancy_grid_based_validator.param.yaml
  perception/detected_object_validation/include/detected_object_validation/detected_object_filter/object_lanelet_filter.hpp
  perception/detected_object_validation/include/detected_object_validation/detected_object_filter/object_position_filter.hpp
  perception/detected_object_validation/launch/obstacle_pointcloud_based_validator.launch.xml
  perception/detected_object_validation/launch/occupancy_grid_based_validator.launch.xml
  perception/detected_object_validation/package.xml
  perception/detected_object_validation/src/object_lanelet_filter.cpp
  perception/detected_object_validation/test/test_utils.cpp
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/utility/utilities.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/vector_map_filter/vector_map_inside_area_filter.hpp
  sensing/pointcloud_preprocessor/src/utility/utilities.cpp
  sensing/pointcloud_preprocessor/src/vector_map_filter/vector_map_inside_area_filter.cpp
  sensing/pointcloud_preprocessor/test/test_utilities.cpp
Labels: component:perception, component:sensing

#1333 feat: daynamic reconfigurable is_mrm_recoverable parameter
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/package.xml
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system

#1334 fix(start_planner): set minimum velocity to avoid high curvature in trajectroy
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: component:planning

#1335 feat(avoidance): keep enough distance to avoid object in front of red signal (#6898)
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning

#1336 feat(obstacle_cruise)!: type specified stop deccel limit and enabling abandon to stop
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/common_structs.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/node.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/planner_interface.hpp
  planning/obstacle_cruise_planner/include/obstacle_cruise_planner/utils.hpp
  planning/obstacle_cruise_planner/src/node.cpp
  planning/obstacle_cruise_planner/src/planner_interface.cpp
  planning/obstacle_cruise_planner/src/utils.cpp
Labels: component:planning

#1326 fix(goal_planner): check lateral distance for previous output path shape change check
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning

#1337 feat(control_validator): add min velocity for max distance deviation checking
  control/control_validator/config/control_validator.param.yaml
  control/control_validator/include/control_validator/control_validator.hpp
  control/control_validator/src/control_validator.cpp
Labels: component:control

#1340 chore(topic_state_monitor): enrich error log message (#7236)
  system/topic_state_monitor/src/topic_state_monitor_core.cpp
Labels: component:system

#1341 fix(motion_velocity_smoother): make stopping_distance and stopping_velocity be able to work (#6037)
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
Labels: component:planning

#1345 perf(side_shift): fix unupdated prev path
  planning/behavior_path_side_shift_module/include/behavior_path_side_shift_module/scene.hpp
  planning/behavior_path_side_shift_module/src/scene.cpp
Labels: component:planning

#1347 feat(default_ad_api): add log when operation mode change fails
  system/default_ad_api/src/operation_mode.cpp
Labels: component:system

#1346 feat(diagnostic_graph_utils): add logging tool
  system/diagnostic_graph_utils/CMakeLists.txt
  system/diagnostic_graph_utils/launch/logging.launch.xml
  system/diagnostic_graph_utils/src/node/logging.cpp
  system/diagnostic_graph_utils/src/node/logging.hpp
Labels: component:system

#1355 fix(lane_change): prevent empty path when rerouting (#7717)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning

#1357 fix(autoware_behavior_velocity_planner_common): remove lane_id check from arc_lane_util
  planning/behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/arc_lane_util.hpp
  planning/behavior_velocity_planner_common/test/src/test_arc_lane_util.cpp
  planning/behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_virtual_traffic_light_module/src/scene.cpp
Labels: planning

#1350 feat: add leader election converter
  planning/trajectory_repeater/src/trajectory_repeater.cpp
  planning/trajectory_repeater/src/trajectory_repeater.hpp
  system/leader_election_converter/CMakeLists.txt
  system/leader_election_converter/README.md
  system/leader_election_converter/config/leader_election_converter.param.yaml
  system/leader_election_converter/launch/leader_election_converter.launch.xml
  system/leader_election_converter/package.xml
  system/leader_election_converter/schema/leader_election_converter.schema.json
  system/leader_election_converter/src/common/converter/availability_converter.cpp
  system/leader_election_converter/src/common/converter/availability_converter.hpp
  system/leader_election_converter/src/common/converter/log_converter.cpp
  system/leader_election_converter/src/common/converter/log_converter.hpp
  system/leader_election_converter/src/common/converter/mrm_converter.cpp
  system/leader_election_converter/src/common/converter/mrm_converter.hpp
  system/leader_election_converter/src/common/converter/udp_receiver.hpp
  system/leader_election_converter/src/common/converter/udp_sender.hpp
  system/leader_election_converter/src/node/leader_election_converter.cpp
  system/leader_election_converter/src/node/leader_election_converter.hpp
Labels: component:planning, type:documentation, component:system
