Repository tier4/autoware_universe, pull requests merged in 2024-02, with the labels that each got.

#1124 fix(traffic_light): stop if the traffic light signal timed out (#5819)
  planning/behavior_velocity_traffic_light_module/README.md
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Labels: documentation, planning

#1098 refactor(mpc_lateral_controller): add debug info of qp solver (#5459)
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_interface.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_osqp.hpp
  control/mpc_lateral_controller/include/mpc_lateral_controller/qp_solver/qp_solver_unconstraint_fast.hpp
  control/mpc_lateral_controller/src/mpc.cpp
Labels: control

#1123 fix(tracking_object_merger): enable to association unknown class in tracker merger #6182
  perception/tracking_object_merger/config/data_association_matrix.param.yaml
  perception/tracking_object_merger/src/utils/utils.cpp
Labels: component:perception

#1127 fix(avoidance): don't use polygon centroid in shiftable ratio calculation (#6285)
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning

#1118 feat(intersection): cherry pick intersection (#6047 + #6134+ #6143 + #6201 + #6207 + #6272 + #6315)
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
  planning/behavior_velocity_intersection_module/CMakeLists.txt
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/pass-judge-line.drawio.svg
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/decision_result.cpp
  planning/behavior_velocity_intersection_module/src/decision_result.hpp
  planning/behavior_velocity_intersection_module/src/interpolated_path_info.hpp
  planning/behavior_velocity_intersection_module/src/intersection_lanelets.cpp
  planning/behavior_velocity_intersection_module/src/intersection_lanelets.hpp
  planning/behavior_velocity_intersection_module/src/intersection_stoplines.hpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/manager.hpp
  planning/behavior_velocity_intersection_module/src/object_manager.cpp
  planning/behavior_velocity_intersection_module/src/object_manager.hpp
  planning/behavior_velocity_intersection_module/src/result.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
Labels: component:planning, type:documentation

#1128 fix(goal_planner): fix multithread and magin
  planning/behavior_path_goal_planner_module/include/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning

#1131 feat: use tier4/awf-latest for upstream sync
  .github/workflows/sync-upstream.yaml
Labels: type:ci

#1132 feat(goal_planner): cherry pick
  planning/behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_start_planner_module/README.md
  planning/behavior_path_start_planner_module/config/start_planner.param.yaml
Labels: component:planning, type:documentation

#1134 feat(intersection): cherry-pick awf #6328 + #6299 + #6325
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/object_manager.cpp
  planning/behavior_velocity_intersection_module/src/object_manager.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
Labels: component:planning

#1137 fix(static_drivable_area_expansion): fix invalid z-pos (#6357)
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning

#1138 fix(AEB): check pick awf #6346
  control/autonomous_emergency_braking/include/autonomous_emergency_braking/node.hpp
  control/autonomous_emergency_braking/package.xml
  control/autonomous_emergency_braking/src/node.cpp
Labels: component:control

#1140 fix(out_of_lane): ignore overlaps over all lanelets crossed by the ego path
  planning/behavior_velocity_out_of_lane_module/src/footprint.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.hpp
  planning/behavior_velocity_out_of_lane_module/src/overlapping_range.cpp
  planning/behavior_velocity_out_of_lane_module/src/scene_out_of_lane.cpp
Labels: component:planning

#1141 feat(lane_change): terminal lane change and abort behavior
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/path.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning

#1133 feat(avoidance): consider objects on shift side lane (#6252)
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/debug.cpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning

#1135 fix(external_velocity_limit_selector): revert "refactor(external_velocity_limit_selector): rework parameter (#5238)" (#6132)
  planning/external_velocity_limit_selector/README.md
  planning/external_velocity_limit_selector/config/default.param.yaml
  planning/external_velocity_limit_selector/config/default_common.param.yaml
  planning/external_velocity_limit_selector/config/external_velocity_limit_selector.param.yaml
  planning/external_velocity_limit_selector/launch/external_velocity_limit_selector.launch.xml
  planning/external_velocity_limit_selector/schema/external_velocity_limit_selector.schema.json
Labels: component:planning, type:documentation

#1139 fix(raw_vehicle_cmd_converter): fix parameter files to parse path to csv files (#6136)
  launch/tier4_vehicle_launch/launch/vehicle.launch.xml
  vehicle/raw_vehicle_cmd_converter/config/raw_vehicle_cmd_converter.param.yaml
  vehicle/raw_vehicle_cmd_converter/launch/raw_vehicle_converter.launch.xml
  vehicle/raw_vehicle_cmd_converter/schema/raw_vehicle_cmd_converter.schema.json
Labels: component:launch, component:vehicle

#1143 fix(avoidance): cherry pick
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/drivable_area_expansion/static_drivable_area.hpp
  planning/behavior_path_planner_common/src/utils/drivable_area_expansion/static_drivable_area.cpp
Labels: component:planning

#1146 fix(avoidance): limit drivable lane only when the ego in on original lane (#6349)
  planning/behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/utils.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
  planning/behavior_path_avoidance_module/src/utils.cpp
Labels: component:planning

#1145 feat(behavior_path_planner): add enable_all_modules_auto_mode argumen…
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  planning/behavior_path_planner_common/include/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
Labels: component:planning, component:launch

#1144 refactor(blind_spot): find first_conflicting_lane just as intersection module (#6405)
  planning/behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_blind_spot_module/src/scene.hpp
Labels: component:planning

#1148 feat(crosswalk. map_based_prediction): 44.1向けcherry-pick
  perception/map_based_prediction/README.md
  perception/map_based_prediction/config/map_based_prediction.param.yaml
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/map_based_prediction/launch/map_based_prediction.launch.xml
  perception/map_based_prediction/package.xml
  perception/map_based_prediction/schema/map_based_prediction.schema.json
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
  planning/behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/docs/crosswalk_attention_range.svg
  planning/behavior_velocity_crosswalk_module/docs/crosswalk_module.svg
  planning/behavior_velocity_crosswalk_module/docs/debug_markers.png
  planning/behavior_velocity_crosswalk_module/docs/explicit_stop_line.svg
  planning/behavior_velocity_crosswalk_module/docs/far_object_threshold.drawio.svg
  planning/behavior_velocity_crosswalk_module/docs/limitation.svg
  planning/behavior_velocity_crosswalk_module/docs/no-intension.svg
  planning/behavior_velocity_crosswalk_module/docs/stop_line.svg
  planning/behavior_velocity_crosswalk_module/docs/stop_line_distance.svg
  planning/behavior_velocity_crosswalk_module/docs/stop_line_margin.svg
  planning/behavior_velocity_crosswalk_module/docs/stop_margin.svg
  planning/behavior_velocity_crosswalk_module/docs/stuck_vehicle_attention_range.svg
  planning/behavior_velocity_crosswalk_module/docs/stuck_vehicle_detection.svg
  planning/behavior_velocity_crosswalk_module/docs/ttc_vs_ttv.drawio.svg
  planning/behavior_velocity_crosswalk_module/docs/virtual_collision_point.svg
  planning/behavior_velocity_crosswalk_module/docs/virtual_stop_line.svg
  planning/behavior_velocity_crosswalk_module/docs/with_traffic_light.svg
  planning/behavior_velocity_crosswalk_module/docs/without_traffic_light.svg
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_walkway_module/config/walkway.param.yaml
  planning/obstacle_cruise_planner/config/obstacle_cruise_planner.param.yaml
Labels: component:planning, type:documentation, component:perception

#1149 feat(dynamic_avoidance): change magic number (autowarefoundation#6368)
  planning/behavior_path_dynamic_avoidance_module/src/scene.cpp
Labels: component:planning

#1147 feat(crosswalk): add option to slowdown at occluded crosswalks (#6122)
  planning/behavior_velocity_crosswalk_module/CMakeLists.txt
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/occluded_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/occluded_crosswalk.hpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning

#1150 feat(behavior_velocity_planner.traffic_light): use v2i in planning
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/behavior_velocity_planner/launch/behavior_velocity_planner.launch.xml
  planning/behavior_velocity_planner/package.xml
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner/src/node.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/utilization/util.hpp
  planning/behavior_velocity_planner_common/package.xml
  planning/behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_traffic_light_module/src/scene.hpp
Labels: component:planning, component:launch

#1151 fix(blockage_diag): output blockage angle range bug fix (#6445)
  sensing/pointcloud_preprocessor/src/blockage_diag/blockage_diag_nodelet.cpp
Labels: component:sensing

#1154 fix(multi_object_tracking): mot bicycle model revision, tracking_object_merger bugfix
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/bicycle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/big_vehicle_tracker.hpp
  perception/multi_object_tracker/include/multi_object_tracker/tracker/model/normal_vehicle_tracker.hpp
  perception/multi_object_tracker/models.md
  perception/multi_object_tracker/src/data_association/data_association.cpp
  perception/multi_object_tracker/src/tracker/model/bicycle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/big_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/normal_vehicle_tracker.cpp
  perception/multi_object_tracker/src/tracker/model/pedestrian_tracker.cpp
  perception/tracking_object_merger/src/utils/utils.cpp
Labels: type:documentation, component:perception

#1152 feat(traffic_light_arbiter): add signal match validator (#6423)
  perception/traffic_light_arbiter/CMakeLists.txt
  perception/traffic_light_arbiter/README.md
  perception/traffic_light_arbiter/config/traffic_light_arbiter.param.yaml
  perception/traffic_light_arbiter/include/traffic_light_arbiter/signal_match_validator.hpp
  perception/traffic_light_arbiter/include/traffic_light_arbiter/traffic_light_arbiter.hpp
  perception/traffic_light_arbiter/src/signal_match_validator.cpp
  perception/traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: type:documentation, component:perception

#1159 feat(ground_segmentation): use_lane_filter for elevation map
  launch/tier4_perception_launch/launch/obstacle_segmentation/ground_segmentation/ground_segmentation.launch.py
Labels: component:launch

#1160 chore(image_projection_based_fusion): rework parameters (#6169)
  perception/image_projection_based_fusion/README.md
  perception/image_projection_based_fusion/config/pointpainting.param.yaml
  perception/image_projection_based_fusion/config/segmentation_pointcloud_fusion.param.yaml
  perception/image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.xml
Labels: type:documentation, component:perception

#1161 fix(ndt_scan_matcher): fixed an issue where processing speed was slow when using a single map
  localization/ndt_scan_matcher/include/ndt_scan_matcher/map_update_module.hpp
  localization/ndt_scan_matcher/src/map_update_module.cpp
Labels: component:localization

#1163 feat(avoidance): wait next shift approval until the ego reaches shift length threshold (#6501)
  planning/behavior_path_avoidance_module/config/avoidance.param.yaml
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/data_structs.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/parameter_helper.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning

#1165 feat(lane_departure_checker,start_planner): add check for path within lanes for bvspm (autowarefoundation#6366)
  common/tier4_autoware_utils/include/tier4_autoware_utils/geometry/boost_geometry.hpp
  control/lane_departure_checker/include/lane_departure_checker/lane_departure_checker.hpp
  control/lane_departure_checker/src/lane_departure_checker_node/lane_departure_checker.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/utils/parking_departure/geometric_parallel_parking.hpp
  planning/behavior_path_planner_common/package.xml
  planning/behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/geometric_pull_out.hpp
  planning/behavior_path_start_planner_module/include/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_start_planner_module/src/geometric_pull_out.cpp
  planning/behavior_path_start_planner_module/src/shift_pull_out.cpp
  planning/behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: component:planning, component:common, component:control

#1164 feat(intersection): add traffic signal info publisher and detailed occlusion diagnosis (#6491)
  planning/behavior_velocity_intersection_module/src/decision_result.cpp
  planning/behavior_velocity_intersection_module/src/decision_result.hpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/manager.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: component:planning
