Repository tier4/autoware_universe, pull requests merged in 2024-08, with the labels that each got.

#1437 feat(out_of_lane): ignore objects coming from behind ego (#7891)
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
Labels: component:planning

#1438 feat(out_of_lane): also apply lat buffer between the lane and stop pose
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning

#1442 fix(tier4_perception_launch): set `use_image_transport` in launch #8315
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
Labels: component:launch

#1444 fix(static_obstacle_avoidance): remove invalid small shift lines
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning

#1446 fix(crosswalk): fix cherry-pick from autowarefoundation#6015
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
Labels: planning

#1447 feat(motion_velocity_smoother): cherry pick force acceleration and slow driving
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/package.xml
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
Labels: component:planning

#1445 fix(autoware_behavior_path_lane_change_module): avoid empty current lanes
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning

#1451 fix(static_obstacle_avoidance): remove invalid small shift lines (#8344)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning

#1452 fix(autoware_mpc_lateral_controller): add timestamp and frame ID to published trajectory (#8164)
  control/autoware_mpc_lateral_controller/src/mpc.cpp
Labels: component:control

#1440 fix(tier4_perception_launch): radar_lanelet_filtering_range_param_path
  launch/tier4_perception_launch/launch/object_recognition/detection/filter/radar_filter.launch.xml
Labels: component:launch

#1455 fix(traffic_light_classifier): fix traffic light monitor warning (#8412)
  perception/traffic_light_classifier/src/nodelet.cpp
Labels: component:perception

#1456 fix(autoware_universe_utils): fix memory leak of time_keeper
  common/autoware_universe_utils/include/autoware/universe_utils/system/time_keeper.hpp
  common/autoware_universe_utils/src/system/time_keeper.cpp
Labels: component:common

#1458 perf(static_obstacle_avoidance): improve logic to reduce computational cost (#8432)
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning

#1464 perf(autoware_map_based_prediction autoware_universe_utils): improve performance of map_based_prediction
  common/autoware_universe_utils/examples/example_lru_cache.cpp
  common/autoware_universe_utils/include/autoware/universe_utils/system/lru_cache.hpp
  common/autoware_universe_utils/test/src/system/test_lru_cache.cpp
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/path_generator.cpp
Labels: component:common, component:perception

#1467 fix(turn_signal, lane_change, goal_planner): add optional to tackle lane change turn signal and pull over turn signal
  planning/behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/data_manager.hpp
  planning/behavior_path_planner_common/include/behavior_path_planner_common/turn_signal_decider.hpp
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
Labels: component:planning

#1466 chore(map_based_prediction): debug options
  perception/autoware_map_based_prediction/config/map_based_prediction.param.yaml
  perception/autoware_map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
  perception/autoware_map_based_prediction/src/path_generator.cpp
Labels: component:perception

#1469 perf(autoware_map_based_prediction): enhance speed by removing unnecessary calculation
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception

#1463 fix(ring_outlier_filter): bugfix for large delay in perception in xx1 release
  sensing/pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
Labels: component:sensing

#1470 perf(autoware_map_based_prediction): removed duplicate findNearest calculations (#8490)
  perception/autoware_map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception

#1441 feat(lane_change): cherry-pick lane change commits to beta/v0.29.0
  common/autoware_test_utils/src/autoware_test_utils.cpp
  planning/autoware_route_handler/test/test_route_handler.cpp
  planning/autoware_route_handler/test/test_route_handler.hpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/debug_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/markers.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/path.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/markers.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning, type:documentation, component:common

#1443 fix(start/goal_planner): align geometric parall parking start pose with center line (#8326)
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/parking_departure/geometric_parallel_parking.cpp
Labels: component:planning

#1450 perf(goal_planner): reduce processing time
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/freespace_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
Labels: component:planning

#1465 fix(goal_planner): fix lane departure check not working correctly due to uninitialized variable
  control/autoware_lane_departure_checker/include/autoware/lane_departure_checker/lane_departure_checker.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
Labels: component:planning, type:documentation, component:control

#1461 perf(out_of_lane): use rtree to get stop lines and trajectory lanelets
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/test/test_filter_predicted_objects.cpp
Labels: component:planning

#1462 fix(tensorrt_yolox): missing param file arg
  perception/tensorrt_yolox/launch/yolox_s_plus_opt.launch.xml
  perception/tensorrt_yolox/launch/yolox_tiny.launch.xml
Labels: component:perception

#1472 fix(leader_election_converter): use adapi mrm state
  planning/trajectory_repeater/src/trajectory_repeater.cpp
  planning/trajectory_repeater/src/trajectory_repeater.hpp
  system/leader_election_converter/README.md
  system/leader_election_converter/src/common/converter/log_converter.hpp
  system/leader_election_converter/src/common/converter/mrm_converter.cpp
  system/leader_election_converter/src/common/converter/mrm_converter.hpp
Labels: component:planning, type:documentation, component:system

#1473 fix(mrm_stop_operator): use adapi mrm state
  system/mrm_stop_operator/package.xml
  system/mrm_stop_operator/src/mrm_stop_operator.cpp
  system/mrm_stop_operator/src/mrm_stop_operator.hpp
Labels: component:system

#1474 fix(tier4_system_launch): change mrm state name
  launch/tier4_system_launch/launch/system.main.mrm-v0.6.tmp.launch.xml
Labels: component:launch

#1477 feat(lidar_transfusion): update TransFusion-L model
  perception/lidar_transfusion/CMakeLists.txt
  perception/lidar_transfusion/README.md
  perception/lidar_transfusion/config/transfusion.param.yaml
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/pointcloud_densification.hpp
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/preprocess_kernel.hpp
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/voxel_generator.hpp
  perception/lidar_transfusion/include/lidar_transfusion/ros_utils.hpp
  perception/lidar_transfusion/include/lidar_transfusion/transfusion_config.hpp
  perception/lidar_transfusion/include/lidar_transfusion/utils.hpp
  perception/lidar_transfusion/lib/preprocess/pointcloud_densification.cpp
  perception/lidar_transfusion/lib/preprocess/preprocess_kernel.cu
  perception/lidar_transfusion/lib/preprocess/voxel_generator.cpp
  perception/lidar_transfusion/package.xml
  perception/lidar_transfusion/schema/transfusion.schema.json
  perception/lidar_transfusion/src/lidar_transfusion_node.cpp
  perception/lidar_transfusion/test/test_detection_class_remapper.cpp
  perception/lidar_transfusion/test/test_nms.cpp
  perception/lidar_transfusion/test/test_postprocess_kernel.cpp
  perception/lidar_transfusion/test/test_postprocess_kernel.hpp
  perception/lidar_transfusion/test/test_preprocess_kernel.cpp
  perception/lidar_transfusion/test/test_preprocess_kernel.hpp
  perception/lidar_transfusion/test/test_ros_utils.cpp
  perception/lidar_transfusion/test/test_voxel_generator.cpp
  perception/lidar_transfusion/test/test_voxel_generator.hpp
Labels: type:documentation, component:perception

#1453 perf(velocity_smoother): decrease the processing time
  common/qp_interface/include/qp_interface/osqp_csc_matrix_conv.hpp
  common/qp_interface/include/qp_interface/osqp_interface.hpp
  common/qp_interface/include/qp_interface/proxqp_interface.hpp
  common/qp_interface/include/qp_interface/qp_interface.hpp
  common/qp_interface/src/osqp_csc_matrix_conv.cpp
  common/qp_interface/src/osqp_interface.cpp
  common/qp_interface/src/proxqp_interface.cpp
  common/qp_interface/src/qp_interface.cpp
  common/qp_interface/test/test_csc_matrix_conv.cpp
  common/qp_interface/test/test_osqp_interface.cpp
  common/qp_interface/test/test_proxqp_interface.cpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/node.hpp
  planning/autoware_obstacle_cruise_planner/include/autoware/obstacle_cruise_planner/type_alias.hpp
  planning/autoware_obstacle_cruise_planner/src/node.cpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/jerk_filtered_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/l2_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/linf_pseudo_jerk_smoother.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/package.xml
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/jerk_filtered_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/utilization/trajectory_utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
Labels: component:planning, component:common

#1478 revert: "feat(lidar_transfusion): update TransFusion-L model"
  perception/lidar_transfusion/CMakeLists.txt
  perception/lidar_transfusion/README.md
  perception/lidar_transfusion/config/transfusion.param.yaml
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/pointcloud_densification.hpp
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/preprocess_kernel.hpp
  perception/lidar_transfusion/include/lidar_transfusion/preprocess/voxel_generator.hpp
  perception/lidar_transfusion/include/lidar_transfusion/ros_utils.hpp
  perception/lidar_transfusion/include/lidar_transfusion/transfusion_config.hpp
  perception/lidar_transfusion/include/lidar_transfusion/utils.hpp
  perception/lidar_transfusion/lib/preprocess/pointcloud_densification.cpp
  perception/lidar_transfusion/lib/preprocess/preprocess_kernel.cu
  perception/lidar_transfusion/lib/preprocess/voxel_generator.cpp
  perception/lidar_transfusion/package.xml
  perception/lidar_transfusion/schema/transfusion.schema.json
  perception/lidar_transfusion/src/lidar_transfusion_node.cpp
  perception/lidar_transfusion/test/test_detection_class_remapper.cpp
  perception/lidar_transfusion/test/test_nms.cpp
  perception/lidar_transfusion/test/test_postprocess_kernel.cpp
  perception/lidar_transfusion/test/test_postprocess_kernel.hpp
  perception/lidar_transfusion/test/test_preprocess_kernel.cpp
  perception/lidar_transfusion/test/test_preprocess_kernel.hpp
  perception/lidar_transfusion/test/test_ros_utils.cpp
  perception/lidar_transfusion/test/test_voxel_generator.cpp
  perception/lidar_transfusion/test/test_voxel_generator.hpp
Labels: type:documentation, component:perception

#1480 fix(ekf_localizer): fix kalman gain 0 devision
  localization/ekf_localizer/include/ekf_localizer/ekf_localizer.hpp
Labels: component:localization

#1481 feat(autoware_vehicle_cmd_gate): check the timestamp of input topics to avoid using old topics
  control/autoware_vehicle_cmd_gate/README.md
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.hpp
Labels: type:documentation, component:control

#1484 fix: change stop_filter vx 0.1 -> 0.01
  localization/stop_filter/config/stop_filter.param.yaml
Labels: component:localization

#1485 feat(leader_election_converter): add relay to sub script
  system/leader_election_converter/CMakeLists.txt
  system/leader_election_converter/package.xml
  system/leader_election_converter/script/relay_to_sub.py
Labels: component:system

#1486 fix(goal_planner): remove time keeper in non main thread (#8610)
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning

#1488 chore(autoware_pointcloud_preprocessor): change unnecessary warning message to debug (backport #8525)
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
Labels: component:sensing

#1491 fix(reaction_analyzer): fix include hierarchy of tf2_eigen (#8663)
  tools/reaction_analyzer/include/subscriber.hpp
  tools/reaction_analyzer/include/topic_publisher.hpp
Labels: component:tools

#1459 feat(lane_change, avoidance): add force execution and cancel
  planning/autoware_rtc_interface/include/autoware/rtc_interface/rtc_interface.hpp
  planning/autoware_rtc_interface/src/rtc_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

#1460 fix(static_obstacle_avoidance): change avoidance condition (#8433)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning

#1490 fix(static_obstacle_avoidance): cherry-pick AWF #8545, #8551
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/type_alias.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning

#1497 feat(autoware_accel_brake_map_calibrator): conditional actuation data processing based on source
  vehicle/autoware_accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
Labels: component:vehicle

#1498 feat(mrm_handler): input gear command (#8080)
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/launch/mrm_handler.launch.xml
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system
