Repository tier4/autoware_universe, pull requests merged in 2024-10, with the labels that each got.

#1567 chore: fix dependency of mult object tracker
  perception/multi_object_tracker/package.xml
Labels: component:perception

#1570 feat(autonomous_emergency_braking): add sanity chackes (#8998)
  control/autoware_autonomous_emergency_braking/src/node.cpp
Labels: component:control

#1571 feat(autoware_behavior_path_planner_common): disable feature of turning off blinker at low velocity
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
Labels: component:planning

#1578 fix(planning_debug_tools): fix a bug of perception reproducer
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: component:planning

#1579 fix(intersection): set RTC enable (#9040)
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
Labels: component:planning

#1580 chore(path_optimizer): add warn msg for exceptional behavior (#9033)
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
Labels: component:planning

#1568 fix(lane_change): reduce approval chattering
  planning/behavior_path_lane_change_module/README.md
  planning/behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning, type:documentation

#1554 feat(out_of_lane): ignore lanelets beyond the last path point
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
Labels: component:planning

#1574 feat(behavior_velocity_run_out_module): exclude obstacle crossing ego…
  planning/behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/docs/ego_cut_line.svg
  planning/behavior_velocity_run_out_module/src/debug.cpp
  planning/behavior_velocity_run_out_module/src/debug.hpp
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.cpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
Labels: component:planning, type:documentation

#1583 feat(mission_planner): reroute feature for bus stop skip
  planning/autoware_mission_planner/README.md
  planning/autoware_mission_planner/config/mission_planner.param.yaml
  planning/autoware_mission_planner/launch/mission_planner.launch.xml
  planning/autoware_mission_planner/src/mission_planner/mission_planner.cpp
  planning/autoware_mission_planner/src/mission_planner/mission_planner.hpp
Labels: component:planning, type:documentation

#1584 feat(motion_velocity_smoother): cherry pick force acceleration and slow driving
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/node.hpp
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/package.xml
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
Labels: component:planning

#1586 fix(autoware_lidar_transfusion): autoware transfusion changes cherry pick
  perception/autoware_lidar_transfusion/include/autoware/lidar_transfusion/utils.hpp
  perception/autoware_lidar_transfusion/lib/network/network_trt.cpp
  perception/autoware_lidar_transfusion/lib/postprocess/postprocess_kernel.cu
  perception/autoware_lidar_transfusion/lib/ros_utils.cpp
Labels: component:perception, tag:require-cuda-build-and-test

#1581 fix(lane_change): change stopping logic (RT0-33761)
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
Labels: component:planning

#1588 feat(default_ad_api): release adapi v1.5.0 (#8267)
  system/default_ad_api/src/interface.cpp
  system/default_ad_api/test/node/interface_version.py
Labels: component:system

#1590 chore(autoware_pointcloud_preprocessor): change unnecessary warning message to debug (#8525)
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
Labels: component:sensing

#1592 fix(avoidance): don't insert stop line if the ego can't avoid or return (#9089)
  planning/behavior_path_avoidance_module/include/behavior_path_avoidance_module/helper.hpp
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning

#1593 fix: cherry pick PRs to fix invalid access
  common/motion_utils/include/motion_utils/trajectory/trajectory.hpp
  common/tier4_debug_rviz_plugin/CMakeLists.txt
  common/tier4_debug_rviz_plugin/icons/classes/StringStampedOverlayDisplay.png
  common/tier4_debug_rviz_plugin/include/tier4_debug_rviz_plugin/string_stamped.hpp
  common/tier4_debug_rviz_plugin/plugins/plugin_description.xml
  common/tier4_debug_rviz_plugin/src/string_stamped.cpp
  planning/behavior_path_planner/include/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/src/planner_manager.cpp
Labels: component:planning, type:documentation, component:common

#1591 chore(stop_filter): extract stop_filter.param.yaml to autoware_launch (#8681)
  launch/tier4_localization_launch/launch/localization.launch.xml
  launch/tier4_localization_launch/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch.xml
Labels: component:launch

#1599 fix: remove ScopedTimeTrack which causes goal planner crash
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning

#1604 feat(autonomous_emergency_braking): cherry pick latest aeb
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/src/node.cpp
Labels: component:control

#1607 fix(autoware_image_projection_based_fusion): pointpainting bug fix for point projection (#9150)
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
Labels: component:perception, tag:require-cuda-build-and-test

#1608 fix(traffic_light_utils): prevent accessing nullopt (#9163)
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/traffic_light_utils.cpp
Labels: component:planning

#1606 fix(static_obstacle_avoidance): suppress unnecessary warning (#9142)
  planning/behavior_path_avoidance_module/src/scene.cpp
Labels: component:planning

#1611 fix: sp develop remove non approved change
  perception/map_based_prediction/src/map_based_prediction_node.cpp
Labels: component:perception

#1610 fix: predicted path generation logic
  common/tier4_autoware_utils/include/tier4_autoware_utils/system/lru_cache.hpp
  common/tier4_autoware_utils/test/src/system/test_lru_cache.cpp
  perception/map_based_prediction/include/map_based_prediction/map_based_prediction_node.hpp
  perception/map_based_prediction/include/map_based_prediction/path_generator.hpp
  perception/map_based_prediction/src/map_based_prediction_node.cpp
  perception/map_based_prediction/src/path_generator.cpp
  perception/multi_object_tracker/include/multi_object_tracker/multi_object_tracker_core.hpp
  perception/multi_object_tracker/package.xml
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  planning/behavior_path_lane_change_module/README.md
  planning/behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/base_class.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_lane_change_module/include/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner_common/src/turn_signal_decider.cpp
  planning/behavior_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/behavior_velocity_run_out_module/README.md
  planning/behavior_velocity_run_out_module/config/run_out.param.yaml
  planning/behavior_velocity_run_out_module/docs/ego_cut_line.svg
  planning/behavior_velocity_run_out_module/src/debug.cpp
  planning/behavior_velocity_run_out_module/src/debug.hpp
  planning/behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_run_out_module/src/utils.cpp
  planning/behavior_velocity_run_out_module/src/utils.hpp
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
  planning/planning_debug_tools/scripts/perception_replayer/utils.py
Labels: component:planning, type:documentation, component:common, component:perception

#1602 fix(intersection): handle pass judge after red/arrow-signal to ignore NPCs after the signal changed to green again
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_intersection_module/CMakeLists.txt
  planning/behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_intersection_module/docs/pass-judge-line.drawio.svg
  planning/behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_intersection_module/scripts/ttc.py
  planning/behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_intersection_module/src/decision_result.cpp
  planning/behavior_velocity_intersection_module/src/decision_result.hpp
  planning/behavior_velocity_intersection_module/src/interpolated_path_info.hpp
  planning/behavior_velocity_intersection_module/src/intersection_lanelets.cpp
  planning/behavior_velocity_intersection_module/src/intersection_lanelets.hpp
  planning/behavior_velocity_intersection_module/src/intersection_stoplines.hpp
  planning/behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_intersection_module/src/manager.hpp
  planning/behavior_velocity_intersection_module/src/object_manager.cpp
  planning/behavior_velocity_intersection_module/src/object_manager.hpp
  planning/behavior_velocity_intersection_module/src/result.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_occlusion.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_intersection_module/src/scene_intersection_stuck.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_intersection_module/src/util.hpp
  planning/behavior_velocity_intersection_module/src/util_type.hpp
  planning/behavior_velocity_planner/src/node.cpp
  planning/behavior_velocity_planner_common/include/behavior_velocity_planner_common/planner_data.hpp
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning, type:documentation

#1616 feat(behavior_velocity_traffic_light_module): change threshold velocity of pass judge for preventing sudden stop
  planning/behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning
