Repository tier4/autoware_universe, pull requests merged in 2024-09, with the labels that each got.

#1501 fix(static_obstacle_avoidance): use wrong parameter (#8720)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
Labels: component:planning

#1503 fix(bpp): use common steering factor interface for same scene modules (#8675)
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_external_request_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/include/autoware/behavior_path_sampling_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/include/autoware/behavior_path_sampling_planner_module/sampling_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/src/sampling_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

#1502 fix(static_obstacle_avoidance): use wrong parameter (#8720)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
Labels: component:planning

#1500 fix(lane_change): modify lane change requested condition (#8510)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
Labels: component:planning

#1499 fix(static_obstacle_avoidance): cherry-pick #8545, #8551
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/type_alias.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning

#1505 fix(bpp): use common steering factor interface for same scene modules (#8675)
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/include/autoware/behavior_path_dynamic_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_external_request_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/include/autoware/behavior_path_sampling_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/include/autoware/behavior_path_sampling_planner_module/sampling_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_sampling_planner_module/src/sampling_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/include/autoware/behavior_path_side_shift_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

#1504 fix(lane_change): modify lane change requested condition (#8510)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
Labels: component:planning

#1507 fix(tier4_planning_rviz_plugin): memory leak (#7164)
  common/tier4_planning_rviz_plugin/include/path/display_base.hpp
Labels: component:common

#1508 feat(out_of_lane): redesign
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/src/trajectory/trajectory.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/ego_lane.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/footprints.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/object_paths.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane-footprints_other_lanes_overlaps_ranges.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane_areas.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane_slow.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane_stop.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/path_green_light.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/path_red_light.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/ttcs.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/ttcs_avoid.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/debug.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/debug.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/decisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/decisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/footprint.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/footprint.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/lanelets_selection.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/overlapping_range.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/overlapping_range.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/collision_checker.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/src/collision_checker.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/test/test_collision_checker.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/planner_manager.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/planner_manager.hpp
Labels: component:planning, type:documentation, component:common

#1512 fix(pid_longitudinal_controller): fix the same point error (#8758)
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control

#1509 feat(out_of_lane): redesign
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/src/trajectory/trajectory.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/ego_lane.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/footprints.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/object_paths.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane-footprints_other_lanes_overlaps_ranges.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane_areas.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane_slow.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/out_of_lane_stop.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/path_green_light.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/path_red_light.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/ttcs.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/docs/ttcs_avoid.png
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/debug.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/debug.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/decisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/decisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/filter_predicted_objects.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/footprint.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/footprint.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/lanelets_selection.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/overlapping_range.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/overlapping_range.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/collision_checker.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/include/autoware/motion_velocity_planner_common/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/src/collision_checker.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common/test/test_collision_checker.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/planner_manager.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/planner_manager.hpp
Labels: component:planning, type:documentation, component:common

#1514 fix: typo
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  sensing/autoware_pointcloud_preprocessor/launch/vector_map_inside_area_filter_node.launch.xml
Labels: component:planning, component:sensing, tag:require-cuda-build-and-test

#1506 fix(mission_planner): improve condition to check if the goal is within the lane
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/default_planner.hpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.cpp
  planning/autoware_mission_planner/src/lanelet2_plugins/utility_functions.hpp
Labels: component:planning

#1510 feat(dummy_operation_mode_publisher): add an adapi topic
  dummy/dummy_operation_mode_publisher/launch/dummy_operation_mode_publisher.launch.xml
  dummy/dummy_operation_mode_publisher/src/dummy_operation_mode_publisher.cpp
  dummy/dummy_operation_mode_publisher/src/dummy_operation_mode_publisher.hpp
  planning/motion_velocity_smoother/src/motion_velocity_smoother_node.cpp
  system/leader_election_converter/package.xml
  system/leader_election_converter/script/relay_to_sub.py
Labels: component:planning, component:system

#1516 feat(dummy_gear_cmd_publisher): add dummy gear cmd publisher
  dummy/dummy_gear_cmd_publisher/CMakeLists.txt
  dummy/dummy_gear_cmd_publisher/README.md
  dummy/dummy_gear_cmd_publisher/config/dummy_gear_cmd_publisher.param.yaml
  dummy/dummy_gear_cmd_publisher/launch/dummy_gear_cmd_publisher.launch.xml
  dummy/dummy_gear_cmd_publisher/package.xml
  dummy/dummy_gear_cmd_publisher/src/dummy_gear_cmd_publisher.cpp
  dummy/dummy_gear_cmd_publisher/src/dummy_gear_cmd_publisher.hpp
Labels: type:documentation

#1517 fix(motion_velocity_planner): fix duplicated topic name
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/src/node.hpp
Labels: component:planning

#1518 chore: patch tf2 eigen
  tools/reaction_analyzer/include/subscriber.hpp
  tools/reaction_analyzer/include/topic_publisher.hpp
Labels: component:tools

#1519 fix(goal planner): fix scenario fail and data race beta/v0.34
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: component:planning

#1511 feat: implement service for clear MRM behavior
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system

#1522 feat(autoware_motion_utils): set zero velocity after stop in resample trajectory
  common/autoware_motion_utils/src/resample/resample.cpp
  common/autoware_motion_utils/test/src/resample/test_resample.cpp
Labels: component:common

#1523 fix(package.xml): add diagnostic_updater for imu_corrector
  sensing/imu_corrector/package.xml
Labels: sensing

#1525 fix(lane_change): transit rtc status to failure for some condition
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
Labels: component:planning

#1529 modify(leader_election_converter): fix a mistake
  system/leader_election_converter/script/relay_to_sub.py
Labels: component:system

#1526 feat: cherry-pick and add image_segmentation_based_filter for beta/v0.29.0
  common/perception_utils/CMakeLists.txt
  common/perception_utils/include/perception_utils/run_length_encoder.hpp
  common/perception_utils/package.xml
  common/perception_utils/src/run_length_encoder.cpp
  common/tensorrt_common/include/tensorrt_common/tensorrt_common.hpp
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/image_projection_based_fusion/config/segmentation_pointcloud_fusion.param.yaml
  perception/image_projection_based_fusion/docs/segmentation-pointcloud-fusion.md
  perception/image_projection_based_fusion/include/image_projection_based_fusion/segmentation_pointcloud_fusion/node.hpp
  perception/image_projection_based_fusion/package.xml
  perception/image_projection_based_fusion/schema/segmentation_pointcloud_fusion.schema.json
  perception/image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
  perception/tensorrt_yolox/README.md
  perception/tensorrt_yolox/config/yolox_s_plus_opt.param.yaml
  perception/tensorrt_yolox/include/tensorrt_yolox/preprocess.hpp
  perception/tensorrt_yolox/include/tensorrt_yolox/tensorrt_yolox.hpp
  perception/tensorrt_yolox/include/tensorrt_yolox/tensorrt_yolox_node.hpp
  perception/tensorrt_yolox/launch/yolox_s_plus_opt.launch.xml
  perception/tensorrt_yolox/package.xml
  perception/tensorrt_yolox/src/preprocess.cu
  perception/tensorrt_yolox/src/tensorrt_yolox.cpp
  perception/tensorrt_yolox/src/tensorrt_yolox_node.cpp
  perception/tensorrt_yolox/src/yolox_single_image_inference_node.cpp
Labels: type:documentation, component:common, component:launch, component:perception

#1533 feat(aeb): update aeb for betav0.29.0
  .github/CODEOWNERS
  control/autoware_autonomous_emergency_braking/CMakeLists.txt
  control/autoware_autonomous_emergency_braking/README.md
  control/autoware_autonomous_emergency_braking/config/autonomous_emergency_braking.param.yaml
  control/autoware_autonomous_emergency_braking/image/closest-point.drawio.svg
  control/autoware_autonomous_emergency_braking/image/obstacle_filtering_2.drawio.svg
  control/autoware_autonomous_emergency_braking/image/rss_check.drawio.svg
  control/autoware_autonomous_emergency_braking/image/using-predicted-objects.drawio.svg
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/node.hpp
  control/autoware_autonomous_emergency_braking/include/autoware/autonomous_emergency_braking/utils.hpp
  control/autoware_autonomous_emergency_braking/launch/autoware_autonomous_emergency_braking.launch.xml
  control/autoware_autonomous_emergency_braking/package.xml
  control/autoware_autonomous_emergency_braking/src/node.cpp
  control/autoware_autonomous_emergency_braking/src/utils.cpp
  control/autoware_autonomous_emergency_braking/test/test.cpp
  control/autoware_autonomous_emergency_braking/test/test.hpp
  launch/tier4_control_launch/launch/control.launch.py
Labels: type:ci, type:documentation, component:control, component:launch

#1515 feat: implement MRM automatic recovery feature
  launch/tier4_system_launch/launch/system.launch.xml
  system/diagnostic_graph_aggregator/CMakeLists.txt
  system/diagnostic_graph_aggregator/package.xml
  system/diagnostic_graph_aggregator/src/node/recovery.cpp
  system/diagnostic_graph_aggregator/src/node/recovery.hpp
Labels: component:launch, component:system

#1530 feat: crosswalk keep stopping v0.19.1.1
  planning/behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning

#1535 feat: cherry pick point types update
  common/autoware_point_types/include/autoware_point_types/types.hpp
  common/autoware_point_types/test/test_point_types.cpp
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  perception/ground_segmentation/include/ground_segmentation/scan_ground_filter_nodelet.hpp
  perception/ground_segmentation/src/scan_ground_filter_nodelet.cpp
  perception/image_projection_based_fusion/src/pointpainting_fusion/node.cpp
  perception/lidar_apollo_instance_segmentation/src/detector.cpp
  perception/lidar_apollo_segmentation_tvm/src/lidar_apollo_segmentation_tvm.cpp
  perception/raindrop_cluster_filter/src/low_intensity_cluster_filter.cpp
  sensing/livox/livox_tag_filter/src/livox_tag_filter_node/livox_tag_filter_node.cpp
  sensing/pointcloud_preprocessor/CMakeLists.txt
  sensing/pointcloud_preprocessor/config/distortion_corrector_node.param.yaml
  sensing/pointcloud_preprocessor/docs/distortion-corrector.md
  sensing/pointcloud_preprocessor/docs/dual-return-outlier-filter.md
  sensing/pointcloud_preprocessor/docs/ring-outlier-filter.md
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/concatenate_data/concatenate_pointclouds.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/distortion_corrector/distortion_corrector_node.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/downsample_filter/faster_voxel_grid_downsample_filter.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/polygon_remover/polygon_remover.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/time_synchronizer/time_synchronizer_nodelet.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/utility/geometry.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/utility/memory.hpp
  sensing/pointcloud_preprocessor/include/pointcloud_preprocessor/vector_map_filter/vector_map_inside_area_filter.hpp
  sensing/pointcloud_preprocessor/launch/distortion_corrector_node.launch.xml
  sensing/pointcloud_preprocessor/package.xml
  sensing/pointcloud_preprocessor/schema/distortion_corrector_node.schema.json
  sensing/pointcloud_preprocessor/src/blockage_diag/blockage_diag_nodelet.cpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_nodelet.cpp
  sensing/pointcloud_preprocessor/src/concatenate_data/concatenate_pointclouds.cpp
  sensing/pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/pointcloud_preprocessor/src/distortion_corrector/distortion_corrector_node.cpp
  sensing/pointcloud_preprocessor/src/downsample_filter/faster_voxel_grid_downsample_filter.cpp
  sensing/pointcloud_preprocessor/src/downsample_filter/voxel_grid_downsample_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/filter.cpp
  sensing/pointcloud_preprocessor/src/outlier_filter/dual_return_outlier_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/src/time_synchronizer/time_synchronizer_nodelet.cpp
  sensing/pointcloud_preprocessor/src/utility/geometry.cpp
  sensing/pointcloud_preprocessor/src/utility/memory.cpp
  sensing/pointcloud_preprocessor/src/vector_map_filter/lanelet2_map_filter_nodelet.cpp
  sensing/pointcloud_preprocessor/test/test_distortion_corrector.py
  sensing/pointcloud_preprocessor/test/test_distortion_corrector_node.cpp
  sensing/pointcloud_preprocessor/test/test_distortion_corrector_use_imu_false.py
  sensing/pointcloud_preprocessor/test/test_utilities.cpp
  sensing/radar_scan_to_pointcloud2/src/radar_scan_to_pointcloud2_node/radar_scan_to_pointcloud2_node.cpp
Labels: type:documentation, component:common, component:launch, component:perception, component:sensing

#1544 fix: typo
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/examples/plot_map.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/util.hpp
Labels: component:planning

#1545 fix(lane_change): set initial rtc state properly (#8902)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
Labels: component:planning

#1547 fix: parameters
  control/autoware_mpc_lateral_controller/param/lateral_controller_defaults.param.yaml
  planning/autoware_obstacle_stop_planner/config/adaptive_cruise_control.param.yaml
  planning/autoware_obstacle_stop_planner/config/obstacle_stop_planner.param.yaml
  planning/autoware_obstacle_stop_planner/schema/obstacle_stop_planner.schema.json
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_planner/config/behavior_path_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  vehicle/autoware_raw_vehicle_cmd_converter/config/raw_vehicle_cmd_converter.param.yaml
Labels: component:planning, component:control, component:vehicle

#1546 fix(lidar_centerpoint, pointpainting): increase CAPACITY_POINT to avoid crashing
  perception/image_projection_based_fusion/include/image_projection_based_fusion/pointpainting_fusion/pointpainting_trt.hpp
  perception/lidar_centerpoint/include/lidar_centerpoint/centerpoint_trt.hpp
Labels: component:perception

#1549 feat(emergency_handler): delete package (#8917)
  .github/CODEOWNERS
  launch/tier4_system_launch/launch/system.launch.xml
  launch/tier4_system_launch/package.xml
  launch/tier4_system_launch/system_launch.drawio.svg
  system/emergency_handler/CMakeLists.txt
  system/emergency_handler/README.md
  system/emergency_handler/config/emergency_handler.param.yaml
  system/emergency_handler/image/fail-safe-state.drawio.svg
  system/emergency_handler/include/emergency_handler/emergency_handler_core.hpp
  system/emergency_handler/launch/emergency_handler.launch.xml
  system/emergency_handler/package.xml
  system/emergency_handler/schema/emergency_handler.schema.json
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
Labels: type:ci, type:documentation, component:launch, component:system

#1548 feat: add sim_model_delay_articulate_acc_geared for adt model
  simulator/simple_planning_simulator/CMakeLists.txt
  simulator/simple_planning_simulator/include/simple_planning_simulator/simple_planning_simulator_core.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/articulate/sim_model_delay_articulate_acc_geared.hpp
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/sim_model.hpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/articulate/sim_model_delay_articulate_acc_geared.cpp
Labels: component:simulation

#1550 refactor(detected_object_validation): rework parameters (#7750)
  perception/autoware_detected_object_validation/README.md
  perception/autoware_detected_object_validation/config/occupancy_grid_based_validator.param.yaml
  perception/autoware_detected_object_validation/schema/object_lanelet_filter.schema.json
  perception/autoware_detected_object_validation/schema/object_position_filter.schema.json
  perception/autoware_detected_object_validation/schema/obstacle_pointcloud_based_validator.schema.json
  perception/autoware_detected_object_validation/schema/occupancy_grid_based_validator.schema.json
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.cpp
  perception/autoware_detected_object_validation/src/obstacle_pointcloud/obstacle_pointcloud_validator.cpp
  perception/autoware_detected_object_validation/src/occupancy_grid_map/occupancy_grid_map_validator.cpp
  perception/autoware_detected_object_validation/src/position_filter/position_filter.cpp
Labels: type:documentation, component:perception, tag:require-cuda-build-and-test

#1551 feat(system_error_monitor): remove system error monitor (#8929)
  .github/CODEOWNERS
  common/tier4_system_rviz_plugin/src/mrm_summary_overlay_display.cpp
  launch/tier4_system_launch/README.md
  launch/tier4_system_launch/launch/system.launch.xml
  launch/tier4_system_launch/package.xml
  system/system_error_monitor/CMakeLists.txt
  system/system_error_monitor/README.md
  system/system_error_monitor/config/diagnostic_aggregator/_empty.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/control.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/localization.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/map.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/perception.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/planning.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/sensing.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/system.param.yaml
  system/system_error_monitor/config/diagnostic_aggregator/vehicle.param.yaml
  system/system_error_monitor/config/system_error_monitor.param.yaml
  system/system_error_monitor/config/system_error_monitor.planning_simulation.param.yaml
  system/system_error_monitor/include/system_error_monitor/diagnostics_filter.hpp
  system/system_error_monitor/include/system_error_monitor/system_error_monitor_core.hpp
  system/system_error_monitor/launch/system_error_monitor.launch.xml
  system/system_error_monitor/launch/system_error_monitor_node.launch.xml
  system/system_error_monitor/package.xml
  system/system_error_monitor/src/system_error_monitor_core.cpp
Labels: type:ci, type:documentation, component:common, component:launch, component:system

#1555 fix(goal_planner): fix time_keeper race (#8780)
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
Labels: component:planning

#1552 feat(autoware_mpc_lateral_controller): create ADT model as vehicle model for mpc
  control/autoware_mpc_lateral_controller/CMakeLists.txt
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/vehicle_model/vehicle_model_adt_kinematics.hpp
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/autoware_mpc_lateral_controller/src/vehicle_model/vehicle_model_adt_kinematics.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/articulate/sim_model_delay_articulate_acc_geared.cpp
Labels: component:control, component:simulation

#1556 fix(emergency_handler): emergency hazard timestamp
  system/emergency_handler/src/emergency_handler/emergency_handler_core.cpp
Labels: component:system

#1564 feat: add rear_slip_coeff param to adt model
  simulator/simple_planning_simulator/include/simple_planning_simulator/vehicle_model/articulate/sim_model_delay_articulate_acc_geared.hpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/simple_planning_simulator_core.cpp
  simulator/simple_planning_simulator/src/simple_planning_simulator/vehicle_model/articulate/sim_model_delay_articulate_acc_geared.cpp
Labels: component:simulation

#1566 feat(perception_reproducer): update new perception reproducer for debugging the version of beta/v0.19.1
  perception/multi_object_tracker/package.xml
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
  planning/planning_debug_tools/scripts/perception_replayer/utils.py
Labels: component:planning, component:perception
