Repository tier4/autoware_universe, pull requests merged in 2025-09, with the labels that each got.

#2350 feat(polar_voxel_outlier_filter): backporting polar voxel filter #10996 for visibility estimation
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/polar_voxel_outlier_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/outlier-filter.md
  sensing/autoware_pointcloud_preprocessor/docs/polar-voxel-outlier-filter.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/polar_voxel_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/polar_voxel_outlier_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/polar_voxel_outlier_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/polar_voxel_outlier_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_polar_voxel_outlier_filter_node.cpp
Labels: type:documentation, run:build-and-test-differential, backport beta/v0.48

#2353 fix(gpu_monitor): explicitly qualify a function call to stop error from the cppcheck-differential workflow
  system/autoware_system_monitor/include/system_monitor/gpu_monitor/gpu_monitor_base.hpp
  system/autoware_system_monitor/include/system_monitor/gpu_monitor/nvml_gpu_monitor.hpp
  system/autoware_system_monitor/src/gpu_monitor/gpu_monitor_base.cpp
  system/autoware_system_monitor/src/gpu_monitor/nvml_gpu_monitor.cpp
Labels: component:system, run:build-and-test-differential

#2352 feat(pose instability detector): change diag level (#11095)
  localization/autoware_pose_instability_detector/README.md
  localization/autoware_pose_instability_detector/src/pose_instability_detector.cpp
  localization/autoware_pose_instability_detector/test/test.cpp
Labels: type:documentation, run:build-and-test-differential

#2354 fix(hdd monitor): emmc storage device type support
  system/autoware_system_monitor/src/hdd_monitor/hdd_monitor.cpp
Labels: component:system, run:build-and-test-differential

#2357 fix: use the correct jerk computation formula
  planning/planning_validator/autoware_planning_validator_trajectory_checker/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_trajectory_checker/test/test_trajectory_checker.cpp
Labels: run:build-and-test-differential

#2355 fix(static_obstacle_avoidance): fix multiple shift line generation algorithm
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
Labels: run:build-and-test-differential

#2359 feat: scale estimation for gyro
  sensing/autoware_imu_corrector/CMakeLists.txt
  sensing/autoware_imu_corrector/README.md
  sensing/autoware_imu_corrector/config/gyro_bias_estimator.param.yaml
  sensing/autoware_imu_corrector/config/gyro_scale_estimator.param.yaml
  sensing/autoware_imu_corrector/config/imu_corrector.param.yaml
  sensing/autoware_imu_corrector/include/autoware/imu_corrector/gyro_bias_estimation_module.hpp
  sensing/autoware_imu_corrector/include/autoware/imu_corrector/gyro_bias_estimator.hpp
  sensing/autoware_imu_corrector/include/autoware/imu_corrector/imu_corrector_core.hpp
  sensing/autoware_imu_corrector/launch/gyro_bias_estimator.launch.xml
  sensing/autoware_imu_corrector/launch/imu_corrector.launch.xml
  sensing/autoware_imu_corrector/package.xml
  sensing/autoware_imu_corrector/schema/gyro_scale_estimator.schema.json
  sensing/autoware_imu_corrector/schema/imu_corrector.schema.json
  sensing/autoware_imu_corrector/src/gyro_bias_estimation_module.cpp
  sensing/autoware_imu_corrector/src/gyro_bias_estimator.cpp
  sensing/autoware_imu_corrector/src/gyro_bias_estimator.hpp
  sensing/autoware_imu_corrector/src/imu_corrector_core.cpp
  sensing/autoware_imu_corrector/test/test_gyro_bias_estimation_module.cpp
  sensing/autoware_imu_corrector/test/test_gyro_bias_scale_estimation_module.cpp
  sensing/autoware_imu_corrector/test/test_main.cpp
Labels: type:documentation, run:build-and-test-differential

#2363 fix(run_out): fix virtual wall pose (#11267)
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
Labels: run:build-and-test-differential

#2362 feat: enhance bytracker classification management (#10898)
  perception/autoware_bytetrack/config/bytetrack.param.yaml
  perception/autoware_bytetrack/include/autoware/bytetrack/bytetrack.hpp
  perception/autoware_bytetrack/lib/include/byte_tracker.h
  perception/autoware_bytetrack/lib/include/strack.h
  perception/autoware_bytetrack/lib/src/byte_tracker.cpp
  perception/autoware_bytetrack/lib/src/strack.cpp
  perception/autoware_bytetrack/src/bytetrack.cpp
  perception/autoware_bytetrack/src/bytetrack_node.cpp
Labels: component:perception, run:build-and-test-differential

#2366 fix(hdd_monitor,cpu_monitor): use unix sockets for IPC with helper applications
  system/autoware_system_monitor/README.md
  system/autoware_system_monitor/config/cpu_monitor.param.yaml
  system/autoware_system_monitor/config/hdd_monitor.param.yaml
  system/autoware_system_monitor/docs/hdd_reader.md
  system/autoware_system_monitor/docs/msr_reader.md
  system/autoware_system_monitor/docs/ros_parameters.md
  system/autoware_system_monitor/docs/traffic_reader.md
  system/autoware_system_monitor/include/system_monitor/cpu_monitor/intel_cpu_monitor.hpp
  system/autoware_system_monitor/include/system_monitor/hdd_monitor/hdd_monitor.hpp
  system/autoware_system_monitor/reader/hdd_reader/hdd_reader.cpp
  system/autoware_system_monitor/reader/msr_reader/msr_reader.cpp
  system/autoware_system_monitor/src/cpu_monitor/intel_cpu_monitor.cpp
  system/autoware_system_monitor/src/hdd_monitor/hdd_monitor.cpp
  system/autoware_system_monitor/test/config/test_hdd_monitor.param.yaml
  system/autoware_system_monitor/test/src/cpu_monitor/test_intel_cpu_monitor.cpp
Labels: documentation, type:documentation, component:system, run:build-and-test-differential

#2367 feat(diagnostic_graph_utils): use raw level for leaf node (backport #11327)
  system/autoware_diagnostic_graph_utils/src/node/logging.cpp
Labels: run:build-and-test-differential

#2375 fix(diffusion_planner): fixed `const` to `constexpr` (#11367)
  planning/autoware_diffusion_planner/include/autoware/diffusion_planner/conversion/lanelet.hpp
Labels: run:build-and-test-differential

#2373 fix(route_handler): add same lane ID check in getRightLanelet/getLeftLanelet function
  planning/autoware_route_handler/src/route_handler.cpp
Labels: component:planning, run:build-and-test-differential

#2376 fix(gpu_monitor): stop false warning messages reported by gpu_monitor when the GPU is idle
  system/autoware_system_monitor/src/gpu_monitor/nvml_gpu_monitor.cpp
Labels: component:system, run:build-and-test-differential

#2379 feat(obstacle_slow_down, obstacle_cruise): add curve additional margin feature
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/pid_based_planner/pid_based_planner.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/test/test_planning_factor.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/config/obstacle_slow_down.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/test/test_planning_factor.cpp
Labels: run:build-and-test-differential

#2386 fix(crosswalk, traffic_light): correct distance calculation by swapping src and dst (#11393)
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
Labels: run:build-and-test-differential

#2393 fix(co-pilot-auto): should be using private bot key
  .github/workflows/co-pilot-auto-client.yaml
Labels: type:ci

#2391 fix(goal_planner): smooth goal connection for goal_planner (#11381)
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/default_fixed_goal_planner.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/test/test_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_utils.cpp
Labels: run:build-and-test-differential

#2399 feat(run_out): support specifying polygon subtypes for map filtering
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/map_data.cpp
Labels: type:documentation

#2397 feat(intersection): ignore precited path overtaking ego (#11361)
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
Labels: run:build-and-test-differential
