Repository tier4/autoware_universe, pull requests merged in 2025-05, with the labels that each got.

#2011 chore(ring_outlier_filter): cherry-pick #10537
  sensing/autoware_pointcloud_preprocessor/config/ring_outlier_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/schema/ring_outlier_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_node.cpp
Labels: component:sensing, run:build-and-test-differential

#2010 feat(planning_validator): add yaw deviation metric (#10258)
  planning/autoware_planning_validator/README.md
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_pubsub.cpp
Labels: component:planning, type:documentation

#2014 fix: explicitly include autoware_agnocast_wrapper_setup command
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
Labels: component:sensing, run:build-and-test-differential

#2016 chore: merge tier4/main to beta/v0.45
  .github/_CODEOWNERS
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-packages-above-differential.yaml
  .github/workflows/build-test-tidy-pr.yaml
  .github/workflows/clang-tidy-differential.yaml
  .github/workflows/clang-tidy-pr-comments-manually.yaml
  .github/workflows/clang-tidy-pr-comments.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/dispatch-push-event.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/slack-send.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-upstream.yaml
  .pre-commit-config.yaml
  build_depends_humble.repos
  build_depends_nightly.repos
  launch/tier4_autoware_api_launch/package.xml
  mkdocs.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
Labels: component:planning, type:ci, component:launch, run:build-and-test-differential

#2021 fix(autoware_probabilistic_occupancy_grid_map): fix to avoid division…
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/cuda_pointcloud.hpp
Labels: component:perception, run:build-and-test-differential

#2019 fix(pointcloud_preprocessor): restore the previously deleted concatenate_mutex_ for Agnocast
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.hpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/cloud_collector.cpp
Labels: component:sensing, run:build-and-test-differential

#2005 feat(autoware_motion_velocity_planner): point-cloud clustering optimization
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/config/obstacle_slow_down.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/parameters.hpp
Labels: component:planning, run:build-and-test-differential

#2022 fix(autoware_probabilistic_occupancy_grid_map): fix to avoid division…
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/cuda_pointcloud.hpp
Labels: component:perception, run:build-and-test-differential

#2017 fix(autoware_crosswalk_traffic_light_estimator): add process that guard access to empty elements (#10281)
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: component:perception

#2023 fix(segmentation pointcloud fusion): fix launch for selectable camera…
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.py
Labels: component:launch, component:perception, run:build-and-test-differential

#2025 cherry pick some PRs
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
Labels: component:planning, component:sensing

#2027 feat(detection_lane): add detection lane module
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  planning/autoware_rtc_interface/src/rtc_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/CHANGELOG.rst
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/config/detection_lane.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/param/detection_lane_parameters.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/plugins.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/src/structs.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_lane_module/test/test_utils.cpp
Labels: component:planning, type:documentation, component:launch

#2028 feat(rear_obstacle_checker): add new module
  launch/tier4_planning_launch/launch/planning.launch.xml
  planning/autoware_rear_obstacle_checker/CMakeLists.txt
  planning/autoware_rear_obstacle_checker/README.md
  planning/autoware_rear_obstacle_checker/config/rear_obstacle_checker.param.yaml
  planning/autoware_rear_obstacle_checker/launch/rear_obstacle_checker.launch.xml
  planning/autoware_rear_obstacle_checker/package.xml
  planning/autoware_rear_obstacle_checker/param/rear_obstacle_checker_node_parameters.yaml
  planning/autoware_rear_obstacle_checker/src/node.cpp
  planning/autoware_rear_obstacle_checker/src/node.hpp
  planning/autoware_rear_obstacle_checker/src/structs.hpp
  planning/autoware_rear_obstacle_checker/src/utils.hpp
  planning/autoware_rear_obstacle_checker/test/test_surround_obstacle_checker.cpp
Labels: component:planning, type:documentation, component:launch

#2029 fix(intersection): interpolate object polygons precisely
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/scripts/ttc.py
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
Labels: component:planning, run:build-and-test-differential

#2033 fix(autoware_probabilistic_occupancy_grid_map): fix to avoid division (#2021)
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/cuda_pointcloud.hpp
Labels: component:perception

#2034 add lateral jerk validation to pc develope branch
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/include/autoware/control_validator/debug_marker.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/package.xml
  control/autoware_control_validator/script/max_steering_rate_checker.py
  control/autoware_control_validator/src/control_validator.cpp
  control/autoware_control_validator/src/debug_marker.cpp
Labels: type:documentation, component:control

#2036 feat(crosswalk): comfortable stop for uncertain yield judgement
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/include/autoware/behavior_velocity_crosswalk_module/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning

#2030 fix(autoware_motion_velocity_obstacle_stop_module): fix for mishandling lateral-distance
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
Labels: component:planning, tag:require-cuda-build-and-test, run:build-and-test-differential

#2031 fix(detection_area_module,virtual_traffic_light,no_stopping_area): support overlap lane
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#2038 feat(traffic_light): add new matching algorithm and reduce unnecessary dependency
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light_node_container.launch.py
  perception/autoware_traffic_light_category_merger/CMakeLists.txt
  perception/autoware_traffic_light_category_merger/src/traffic_light_category_merger_node.cpp
  perception/autoware_traffic_light_category_merger/src/traffic_light_category_merger_node.hpp
  perception/autoware_traffic_light_selector/CMakeLists.txt
  perception/autoware_traffic_light_selector/README.md
  perception/autoware_traffic_light_selector/config/traffic_light_selector.param.yaml
  perception/autoware_traffic_light_selector/launch/traffic_light_selector.launch.xml
  perception/autoware_traffic_light_selector/package.xml
  perception/autoware_traffic_light_selector/schema/traffic_light_selector.schema.json
  perception/autoware_traffic_light_selector/src/traffic_light_selector_node.cpp
  perception/autoware_traffic_light_selector/src/traffic_light_selector_node.hpp
  perception/autoware_traffic_light_selector/src/traffic_light_selector_utils.cpp
  perception/autoware_traffic_light_selector/src/traffic_light_selector_utils.hpp
  perception/autoware_traffic_light_selector/src/utils.cpp
  perception/autoware_traffic_light_selector/src/utils.hpp
  perception/autoware_traffic_light_selector/test/test_utils.cpp
Labels: type:documentation, component:launch, component:perception, run:build-and-test-differential

#2039 feat(crosswalk): update stop position logic (#10439)
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/docs/stop_distance_from_object_preferred.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/docs/stop_position.svg
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
Labels: component:planning, type:documentation, run:build-and-test-differential

#2040 update to v0.43 stop
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/config/obstacle_slow_down.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/config/obstacle_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/planner_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/include/autoware/motion_velocity_planner_common_universe/utils.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/src/polygon_utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/src/utils.cpp
Labels: component:planning

#2043 chore(simulator.launch): remove params of traffic_light_selector
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: component:launch, run:build-and-test-differential

#2045 feat(obstacle_stop_module): adopt PCL stop and others
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/types.hpp
Labels: component:planning

#2046 fix(autoware_probabilistic_occupancy_grid_map): fixed transform issues and border conditions (#10344)
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/updater/binary_bayes_filter_updater.hpp
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/utils.hpp
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/utils_kernel.hpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_fixed_kernel.cu
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_projective_kernel.cu
  perception/autoware_probabilistic_occupancy_grid_map/lib/utils/utils.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/utils/utils_kernel.cu
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/types.hpp
Labels: component:planning, component:perception

#2042 feat(motion_velocity_planner): cherry-picking of add new run_out module
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/config/run_out.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/collisions.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/decisions.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/dynamic_objects_filtering.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/flow_diagram.svg
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/front_left_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/front_right_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/map_filtering_data.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/objects_of_intersect.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/rear_left_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/rear_right_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/stop_slow_virtual_walls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/plugins.xml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/schema/run_out.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/collision.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/debug.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/decision.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/decision.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/footprints.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/footprints.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/map_data.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/map_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/slowdown.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/slowdown.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/types.hpp
Labels: component:planning, type:documentation, component:launch, run:build-and-test-differential, tag:run-build-and-test-differential

#2047 fix(obstacle_slow_down): fix object_type_specified_params
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/parameters.hpp
Labels: component:planning

#2048 feat(out_of_lane): cherry pick out of lane improvements
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/lanelets_selection.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/lanelets_selection.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
Labels: component:planning

#2050 feat(roc): output error/warn message when it's unsafe
  planning/autoware_rear_obstacle_checker/src/node.cpp
Labels: component:planning

#2032 fix(operation_mode_transition_manager): add timeout of the input
  control/autoware_operation_mode_transition_manager/config/operation_mode_transition_manager.param.yaml
  control/autoware_operation_mode_transition_manager/package.xml
  control/autoware_operation_mode_transition_manager/src/flag_node.cpp
  control/autoware_operation_mode_transition_manager/src/flag_node.hpp
  control/autoware_operation_mode_transition_manager/src/node.cpp
  control/autoware_operation_mode_transition_manager/src/node.hpp
  control/autoware_operation_mode_transition_manager/src/state.cpp
  control/autoware_operation_mode_transition_manager/src/state.hpp
Labels: component:control, run:build-and-test-differential

#2035 feat(collision_detector): time buffer and ignore behind rear axle
  control/autoware_collision_detector/README.md
  control/autoware_collision_detector/config/collision_detector.param.yaml
  control/autoware_collision_detector/include/autoware/collision_detector/debug.hpp
  control/autoware_collision_detector/include/autoware/collision_detector/node.hpp
  control/autoware_collision_detector/package.xml
  control/autoware_collision_detector/src/node.cpp
Labels: type:documentation, component:control, run:build-and-test-differential

#2056 chore: merge tier4/main to beta/v0.46
  .github/_CODEOWNERS
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-packages-above-differential.yaml
  .github/workflows/build-test-tidy-pr.yaml
  .github/workflows/clang-tidy-differential.yaml
  .github/workflows/clang-tidy-pr-comments-manually.yaml
  .github/workflows/clang-tidy-pr-comments.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/dispatch-push-event.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/slack-send.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-upstream.yaml
  build_depends_humble.repos
  build_depends_nightly.repos
  mkdocs.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
Labels: component:planning, type:ci, run:build-and-test-differential

#2058 feat(crosswalk): stop for parked vehicle
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/config/crosswalk.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/include/autoware/behavior_velocity_crosswalk_module/util.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/occluded_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/occluded_crosswalk.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/parked_vehicles_stop.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/parked_vehicles_stop.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/util.cpp
Labels: component:planning, type:documentation, run:build-and-test-differential, tag:run-build-and-test-differential

#2060 feat: implement comfortable stop switcher
  system/autoware_command_mode_switcher/config/default.param.yaml
  system/autoware_command_mode_switcher_plugins/package.xml
  system/autoware_command_mode_switcher_plugins/src/comfortable_stop.cpp
  system/autoware_command_mode_switcher_plugins/src/comfortable_stop.hpp
Labels: component:system

#2064 fix(roc): small update
  planning/autoware_rear_obstacle_checker/config/rear_obstacle_checker.param.yaml
  planning/autoware_rear_obstacle_checker/src/node.cpp
  planning/autoware_rear_obstacle_checker/src/structs.hpp
Labels: component:planning

#2063 feat(behavior_velocity_planner): extend stop line to path bound (#10435)
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/test/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/test/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/utils.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/test/test_utils.cpp
Labels: component:planning, run:build-and-test-differential
