Repository tier4/autoware_universe, pull requests merged in 2025-07, with the labels that each got.

#2150 fix(planning_validator): check the yaw deviation of the initial trajectory
  planning/planning_validator/autoware_planning_validator_trajectory_checker/src/trajectory_checker.cpp
Labels: run:build-and-test-differential

#2140 feat(autoware_multi_object_tracker): unknown as static object (#10771)
  perception/autoware_multi_object_tracker/CMakeLists.txt
  perception/autoware_multi_object_tracker/config/multi_object_tracker_node.param.yaml
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/multiple_vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pass_through_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_and_bicycle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/pedestrian_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/tracker_base.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/unknown_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/model/vehicle_tracker.hpp
  perception/autoware_multi_object_tracker/include/autoware/multi_object_tracker/tracker/motion_model/static_motion_model.hpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/multiple_vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pass_through_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_and_bicycle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/pedestrian_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/unknown_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
  perception/autoware_multi_object_tracker/lib/tracker/motion_model/static_motion_model.cpp
  perception/autoware_multi_object_tracker/schema/multi_object_tracker_node.schema.json
  perception/autoware_multi_object_tracker/src/multi_object_tracker_node.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
  perception/autoware_multi_object_tracker/src/processor/processor.hpp
Labels: component:perception, run:build-and-test-differential

#2143 feat(intersection_occlusion): adjustable occlusion wall position for intersection without traffic_light (#10868)
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/config/intersection.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/decision_result.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
Labels: type:documentation, run:build-and-test-differential

#2144 feat(goal_planner): check pull over lane crossing validity when triggering candidate generation thread (#10784)
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/decision_state.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/decision_state.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/bezier_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/thread_data.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
Labels: run:build-and-test-differential

#2146 chore: cherry pick PRs for static obstacle avoidance module
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/schema/static_obstacle_avoidance.schema.json
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test/test_utils.cpp
Labels: run:build-and-test-differential

#2158 chore: revert pull request that makes a lot of debug log output
  common/osqp_interface/design/osqp_interface-design.md
  common/osqp_interface/include/osqp_interface/csc_matrix_conv.hpp
  common/osqp_interface/include/osqp_interface/osqp_interface.hpp
  common/osqp_interface/src/osqp_interface.cpp
  common/osqp_interface/test/test_osqp_interface.cpp
  control/autoware_mpc_lateral_controller/src/qp_solver/qp_solver_osqp.cpp
  planning/autoware_obstacle_cruise_planner/src/optimization_based_planner/velocity_optimizer.cpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/node.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/state_equation_generator.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/conditional_timer.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_path_smoother/src/elastic_band.cpp
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
Labels: component:planning, type:documentation, component:common, component:control, tag:pre-commit-autoupdate, tag:require-cuda-build-and-test, run:build-and-test-differential

#2153 fix: a launch mistake (#10891)
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
Labels: run:build-and-test-differential

#2155 feat: enhance bytracker classification management (#10898)
  perception/autoware_bytetrack/config/bytetrack.param.yaml
  perception/autoware_bytetrack/include/autoware/bytetrack/bytetrack.hpp
  perception/autoware_bytetrack/lib/include/byte_tracker.h
  perception/autoware_bytetrack/lib/include/strack.h
  perception/autoware_bytetrack/lib/src/byte_tracker.cpp
  perception/autoware_bytetrack/lib/src/strack.cpp
  perception/autoware_bytetrack/src/bytetrack.cpp
  perception/autoware_bytetrack/src/bytetrack_node.cpp
Labels: run:build-and-test-differential

#2159 fix: pedestrian moonwalk bug fix
  perception/autoware_map_based_prediction/src/predictor_vru.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
Labels: component:perception, run:build-and-test-differential

#2161 fix: pedestrian moonwalk fix 0.41
  perception/autoware_map_based_prediction/src/predictor_vru.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/tracker_base.cpp
Labels: component:perception, run:build-and-test-differential

#2162 feat(intersection): cherry-pick #10911 and #10900
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/decision_result.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/intersection_stoplines.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_prepare_data.cpp
Labels: run:build-and-test-differential

#2166 feat(run_out): add option for strict cutting of predicted paths (#10887)
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/schema/run_out.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/debug.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/map_data.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/types.hpp
Labels: type:documentation, run:build-and-test-differential

#2167 feat(control_validator): add yaw deviation
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/src/control_validator.cpp
Labels: type:documentation, run:build-and-test-differential

#2175 feat(goal_planner, static_obstacle_avoidance, intersection): add infomation to the PlanningFactor topic
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/test/test_planning_factor.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/test_data/dynamic_objects_data.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/test_data/route_data.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/test_data/vehicle_odometry_data.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test/test_planning_factor.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test_data/dynamic_objects_data.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test_data/route_data.yaml
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test_data/vehicle_odometry_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/CMakeLists.txt
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test/test_planning_factor.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/dynamic_objects_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/dynamic_objects_for_occlusion_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/occupancy_grid_for_occlusion_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/path_with_lane_id_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/path_with_lane_id_for_occlusion_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/vehicle_odometry_data.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test_data/vehicle_odometry_for_occlusion_data.yaml
Labels: run:build-and-test-differential

#2174 feat(start_planner): add infomation to the PlanningFactor topic
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_planning_factor.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/dynamic_objects_data.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/route_data.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test_data/vehicle_odometry_data.yaml
Labels: run:build-and-test-differential

#2135 feat(velocity_smoother): implemting dynamic lateral acceleration and steering angle rate limit
  planning/autoware_velocity_smoother/config/default_velocity_smoother.param.yaml
  planning/autoware_velocity_smoother/include/autoware/velocity_smoother/smoother/smoother_base.hpp
  planning/autoware_velocity_smoother/src/node.cpp
  planning/autoware_velocity_smoother/src/smoother/analytical_jerk_constrained_smoother/analytical_jerk_constrained_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/smoother_base.cpp
Labels: component:planning, run:build-and-test-differential

#2157 feat(traffic_light_arbiter): prioritize internal TL signal when arrows are present
  perception/autoware_traffic_light_arbiter/README.md
  perception/autoware_traffic_light_arbiter/config/traffic_light_arbiter.param.yaml
  perception/autoware_traffic_light_arbiter/include/autoware/traffic_light_arbiter/signal_match_validator.hpp
  perception/autoware_traffic_light_arbiter/include/autoware/traffic_light_arbiter/traffic_light_arbiter.hpp
  perception/autoware_traffic_light_arbiter/schema/traffic_light_arbiter.schema.json
  perception/autoware_traffic_light_arbiter/src/signal_match_validator.cpp
  perception/autoware_traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: type:documentation

#2179 fix(planning_validator_trajectory_checker): cherry pick #10912
  planning/planning_validator/autoware_planning_validator_trajectory_checker/src/trajectory_checker.cpp
Labels: run:build-and-test-differential

#2183 fix(planning_validator_trajectory_checker): cherry-pick of awf #10799
  planning/planning_validator/autoware_planning_validator/README.md
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_trajectory_checker/src/trajectory_checker.cpp
Labels: type:documentation, run:build-and-test-differential

#2185 fix(boundary_departure): polling subscriber and exception handling
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
Labels: run:build-and-test-differential

#2180 feat(control_evaluator): cherry-pick closest_object_distance_metrics, change metrics to non-absolute and add absolute metrics and etc
  evaluator/autoware_control_evaluator/config/control_evaluator.param.yaml
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/control_evaluator_node.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metric.hpp
  evaluator/autoware_control_evaluator/include/autoware/control_evaluator/metrics/metrics_utils.hpp
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_control_evaluator/package.xml
  evaluator/autoware_control_evaluator/schema/autoware_control_evaluator.schema.json
  evaluator/autoware_control_evaluator/src/control_evaluator_node.cpp
  evaluator/autoware_control_evaluator/src/metrics/deviation_metrics.cpp
  evaluator/autoware_control_evaluator/test/test_control_evaluator_node.cpp
Labels: component:evaluator, run:build-and-test-differential

#2194 feat(tier4_state_rviz_plugin): display unknown value (#10861)
  visualization/tier4_state_rviz_plugin/src/autoware_state_panel.cpp
  visualization/tier4_state_rviz_plugin/src/include/autoware_state_panel.hpp
Labels: run:build-and-test-differential

#2198 feat(diagnostic_graph_aggregator): add initializing flag (#10893)
  system/autoware_diagnostic_graph_aggregator/package.xml
  system/autoware_diagnostic_graph_aggregator/src/common/graph/graph.cpp
  system/autoware_diagnostic_graph_aggregator/src/common/graph/graph.hpp
  system/autoware_diagnostic_graph_aggregator/src/common/graph/levels.cpp
  system/autoware_diagnostic_graph_aggregator/src/common/graph/levels.hpp
  system/autoware_diagnostic_graph_aggregator/src/common/graph/nodes.cpp
  system/autoware_diagnostic_graph_aggregator/src/common/graph/nodes.hpp
  system/autoware_diagnostic_graph_aggregator/src/node/aggregator.cpp
  system/autoware_diagnostic_graph_aggregator/src/node/aggregator.hpp
  system/autoware_diagnostic_graph_aggregator/test/src/test_levels.cpp
  system/autoware_diagnostic_graph_aggregator/test/src/tests/timeline.cpp
  system/autoware_diagnostic_graph_aggregator/test/src/tests/timeline.hpp
Labels: run:build-and-test-differential

#2193 feat(lane_change): cherry pick of awf#10951
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/path.cpp
Labels: type:documentation, run:build-and-test-differential

#2190 feat(control_validator): enhance trajectory validation with previous reference trajectory (#10939)
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/src/control_validator.cpp
  control/autoware_control_validator/test/test_control_validator.cpp
Labels: run:build-and-test-differential

#2191 fix(autoware_system_monitor): cherry-pick : allow variations of arm64 thermal zone type name
  system/autoware_system_monitor/include/system_monitor/system_monitor_utility.hpp
Labels: component:system, run:build-and-test-differential, type:arm64

#2192 fix(static_obstacle_avoidance): ensure sufficient avoidance margin on high-curvature paths for parked vehicle avoidance (#10902)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test/test_utils.cpp
Labels: run:build-and-test-differential

#2204 feat(tier4_autoware_api_launch): add arg for replacing default adapi …
  launch/tier4_autoware_api_launch/launch/autoware_api.launch.xml
Labels: run:build-and-test-differential

#2213 feat(intersection_collision_checker): apply latest improvements
  planning/.pages
  planning/planning_validator/autoware_planning_validator/README.md
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/debug_marker.hpp
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/types.hpp
  planning/planning_validator/autoware_planning_validator/package.xml
  planning/planning_validator/autoware_planning_validator/src/debug_marker.cpp
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/README.md
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/config/intersection_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/intersection_collision_checker.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/types.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/utils.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/package.xml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/param/intersection_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/intersection_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_trajectory_checker/src/trajectory_checker.cpp
Labels: component:planning, type:documentation

#2214 fix(slow_down): improving slow down behavior
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/data_structs.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.hpp
Labels: component:planning, component:common

#2206 feat(control_command_gate): support vehicle_cmd_gate interface (#10917)
  control/autoware_control_command_gate/CMakeLists.txt
  control/autoware_control_command_gate/config/default.param.yaml
  control/autoware_control_command_gate/package.xml
  control/autoware_control_command_gate/src/command/compatibility.cpp
  control/autoware_control_command_gate/src/command/compatibility.hpp
  control/autoware_control_command_gate/src/command/compatibility/emergency_interface.cpp
  control/autoware_control_command_gate/src/command/compatibility/emergency_interface.hpp
  control/autoware_control_command_gate/src/command/compatibility/moderate_stop_interface.cpp
  control/autoware_control_command_gate/src/command/compatibility/moderate_stop_interface.hpp
Labels: run:build-and-test-differential

#2209 chore(boundary_departure): add logging for monitoring (#10969)
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
Labels: run:build-and-test-differential

#2210 fix(boundary_departure): disable when autoware disengaged (#10962)
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
Labels: run:build-and-test-differential

#2215 fix(tier4_perception_launch): add one more camera fusion (cherry-pick #10973)
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_radar_merger.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_image_projection_based_fusion/launch/pointpainting_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/roi_cluster_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/roi_detected_object_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/roi_pointcloud_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/launch/segmentation_pointcloud_fusion.launch.xml
Labels: run:build-and-test-differential

#2216 feat(out_of_lane): cut trajectory footprints behind the current ego front
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/calculate_slowdown_points.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/debug.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/footprint.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/footprint.hpp
Labels: run:build-and-test-differential

#2203 feat(motion_utils, motion_velocity_planner, obstacle_stop): cut_in stop, RSS following, update polygon algorithm
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
Labels: run:build-and-test-differential

#2073 fix(lane_change, behavior_path_planner): fix failure to do lane change (backport #10694, #10819)
  common/autoware_universe_utils/README.md
  control/autoware_autonomous_emergency_braking/README.md
  control/autoware_collision_detector/README.md
  perception/autoware_probabilistic_occupancy_grid_map/pointcloud-based-occupancy-grid-map.md
  perception/autoware_radar_object_tracker/models.md
  perception/autoware_shape_estimation/README.md
  planning/autoware_path_optimizer/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/README.md
  simulator/autoware_carla_interface/README.md
  system/autoware_bluetooth_monitor/README.md
  tools/reaction_analyzer/README.md
Labels: component:planning, type:documentation, component:common, component:control, component:perception, component:system, component:simulation, component:tools, run:build-and-test-differential

#2220 feat(obstacle_slow_down): rework type specific params, split left/right
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/config/obstacle_slow_down.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/types.hpp
Labels: type:documentation, run:build-and-test-differential

#2222 feat(planning_validator): cherry pick PRs
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/types.hpp
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/config/rear_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/param/rear_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.cpp
Labels: run:build-and-test-differential

#2224 fix(radar_tracks_objects_converter): publish topic even if objects array is empty (backport autowarefoundation#11002)
  perception/autoware_radar_tracks_msgs_converter/src/radar_tracks_msgs_converter_node.cpp
Labels: component:perception, run:build-and-test-differential

#2227 feat(planning_validator, intersection_collision_checker): cherry pick improvements
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/node.hpp
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/config/intersection_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/intersection_collision_checker.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/types.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/param/intersection_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/intersection_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/utils.cpp
Labels: run:build-and-test-differential, tag:run-build-and-test-differential

#2225 fix(intersection): remove reference "traffic_light_id" as it is deprecated (#11008)
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
Labels: component:planning, run:build-and-test-differential

#2219 feat(out_of_lane): add objects.extra_width parameter (#10923)
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/config/out_of_lane.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_collisions.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/out_of_lane_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_out_of_lane_module/src/types.hpp
Labels: type:documentation, run:build-and-test-differential

#2228 fix(static_obstacle_avoidance): load missing unstable classification parameter
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/parameter_helper.hpp
Labels: run:build-and-test-differential

#2234 fix(autoware_traffic_light_classifier): move `rclcpp::shutdown();` from child to parent to avoid `rclcpp::exceptions::RCLError`
  perception/autoware_traffic_light_classifier/src/classifier/cnn_classifier.cpp
  perception/autoware_traffic_light_classifier/src/traffic_light_classifier_node.cpp
Labels: run:build-and-test-differential

#2235 fix(roi_cluster_fusion): fix bug in debug mode (cherry-pick #11054)
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: run:build-and-test-differential

#2184 feat: bytetrack update v40
  build_depends.repos
  common/autoware_universe_utils/README.md
  control/autoware_autonomous_emergency_braking/README.md
  control/autoware_collision_detector/README.md
  control/autoware_smart_mpc_trajectory_follower/autoware_smart_mpc_trajectory_follower/training_and_data_check/add_training_data_from_csv.py
  perception/autoware_bytetrack/config/bytetrack.param.yaml
  perception/autoware_bytetrack/include/autoware/bytetrack/bytetrack.hpp
  perception/autoware_bytetrack/lib/include/byte_tracker.h
  perception/autoware_bytetrack/lib/include/strack.h
  perception/autoware_bytetrack/lib/src/byte_tracker.cpp
  perception/autoware_bytetrack/lib/src/strack.cpp
  perception/autoware_bytetrack/src/bytetrack.cpp
  perception/autoware_bytetrack/src/bytetrack_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/pointcloud-based-occupancy-grid-map.md
  perception/autoware_radar_object_tracker/models.md
  perception/autoware_shape_estimation/README.md
  planning/autoware_path_optimizer/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/README.md
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/package.xml
  simulator/autoware_carla_interface/README.md
  system/bluetooth_monitor/README.md
  tools/reaction_analyzer/README.md
Labels: component:planning, type:documentation, component:common, component:control, component:perception, component:system, component:simulation, component:tools, tag:require-cuda-build-and-test, run:build-and-test-differential, tag:run-build-and-test-differential

#2236 fix(static_obstacle_avoidance): correct lane departure check during obstacle avoidance (#11032)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: run:build-and-test-differential

#2239 fix(intersection_collision_checker): cherry pick #11058
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/config/intersection_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/types.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/param/intersection_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/intersection_collision_checker.cpp
Labels: run:build-and-test-differential, tag:run-build-and-test-differential

#2241 fix(boundary_departure): configurable diagnostic level #11064
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
Labels: run:build-and-test-differential

#2238 feat(vehicle_cmd_gate): rename variable naming consistency and add steer rate constraint
  control/autoware_vehicle_cmd_gate/README.md
  control/autoware_vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/autoware_vehicle_cmd_gate/schema/vehicle_cmd_gate.json
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/test/src/test_filter_in_vehicle_cmd_gate_node.cpp
  control/autoware_vehicle_cmd_gate/test/src/test_vehicle_cmd_filter.cpp
Labels: type:documentation, run:build-and-test-differential

#2242 fix(boundary_departure): subscribe to route to determine goal changes #11004
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/type_alias.hpp
Labels: run:build-and-test-differential

#2237 feat(start_planner): adding clothoid trajectory planner (#11040)
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/clothoid_pull_out.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/pull_out_path.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/clothoid_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/data_structs.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/test/test_clothoid_pull_out.cpp
Labels: type:documentation, run:build-and-test-differential

#2240 fix(autoware_behavior_path_static_obstacle_avoidance_module): prevent chattering in avoidance decision
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: run:build-and-test-differential

#2245 feat(tier4_control_launch, control_command_gate): enable to remap control cmd from autoware launch (#11019)
  control/autoware_control_command_gate/launch/control_command_gate.launch.xml
  launch/tier4_control_launch/launch/control.launch.xml
Labels: run:build-and-test-differential

#2247 cherry-pick(boundary_departure): update experiment branch to latest implementation
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/boundary_departure_checker.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/data_structs.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/parameters.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/utils.hpp
  common/autoware_boundary_departure_checker/src/boundary_departure_checker_abnormality.cpp
  common/autoware_boundary_departure_checker/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/config/boundary_departure_prevention.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/schema/boundary_departure_prevention.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.hpp
Labels: component:planning, component:common

#2249 feat(start_planner): improve trajectory generation with consideration of current ego vehicle heading
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: run:build-and-test-differential

#2251 fix(autoware cuda pointcloud preprocessor): trim IMU/twist queues correctly (#11055)
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
Labels: run:build-and-test-differential

#2252 perf(autoware_cuda_pointcloud_preprocessor): execute thrust operations on the node's own CUDA stream (#10998) + deps
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/memory.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/organize_kernels.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/point_types.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/types.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor_node.cpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/organize_kernels.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/outlier_kernels.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/undistort_kernels.cu
  sensing/autoware_cuda_utils/CMakeLists.txt
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/cuda_gtest_utils.hpp
  sensing/autoware_cuda_utils/include/autoware/cuda_utils/thrust_utils.hpp
  sensing/autoware_cuda_utils/package.xml
  sensing/autoware_cuda_utils/test/test_cuda_check_error.cu
  sensing/autoware_cuda_utils/test/test_cuda_unique_ptr.cu
  sensing/autoware_cuda_utils/test/test_cuda_utils.cu
  sensing/autoware_cuda_utils/test/test_main.cpp
  sensing/autoware_cuda_utils/test/test_stream_unique_ptr.cu
  sensing/autoware_cuda_utils/test/test_thrust_utils.cu
Labels: run:build-and-test-differential

#2258 feat(road_user_stop): add road_user_stop module (#11041)
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/config/road_user_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/param/road_user_stop_module_parameters.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/plugins.xml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/debug.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/path_length_buffer.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/road_user_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/road_user_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/utils.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/test/test_utils.cpp
Labels: type:documentation

#2254 feat(run_out): add parameters to select which debug markers to publish
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/config/run_out.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/schema/run_out.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/debug.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
Labels: run:build-and-test-differential

#2262 feat(road_user_stop): add road_user_stop module config
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/config/road_user_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/param/road_user_stop_module_parameters.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/plugins.xml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/debug.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/path_length_buffer.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/road_user_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/road_user_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/utils.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/test/test_utils.cpp
Labels: component:planning, type:documentation, component:launch

#2256 feat(road_user_stop): add road_user_stop module
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/config/road_user_stop.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/param/road_user_stop_module_parameters.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/plugins.xml
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/debug.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/path_length_buffer.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/road_user_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/road_user_stop_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/types.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/src/utils.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_road_user_stop_module/test/test_utils.cpp
Labels: type:documentation, run:build-and-test-differential

#2263 fix(run_out): add missing ament_auto_package in CMakeList (#11096)
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/CMakeLists.txt
Labels: run:build-and-test-differential

#2264 feat(lanelet2_map_visualizer): visualize road borders (#575)
  map/autoware_lanelet2_map_visualizer/src/lanelet2_map_visualization_node.cpp
Labels: component:map
