Repository tier4/autoware_universe, pull requests merged in 2025-03, with the labels that each got.

#1888 chore: sync tier4/main
  .github/_CODEOWNERS
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/comment-on-pr.yaml
  .github/workflows/dispatch-push-event.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/slack-send.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-upstream.yaml
  .pre-commit-config-optional.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
Labels: component:planning, type:ci

#1890 fix(autoware_pointcloud_preprocessor): fix potential double unlock in concatenate node (#10082)
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/collector_matching_strategy.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/combine_cloud_handler.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.hpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/cloud_collector.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_node.cpp
Labels: component:sensing

#1891 fix(segmentation_pointcloud_fusion): set valid pointcloud field for output pointcloud (#10196)
  perception/autoware_image_projection_based_fusion/src/segmentation_pointcloud_fusion/node.cpp
Labels: component:perception

#1892 feat(behavior_planning): add behavior_path_planner_type to launch path_generator (#10217)
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch

#1893 fix(lane_departure_checker): fix trajectory resampling logic to keep …
  control/autoware_lane_departure_checker/src/lane_departure_checker_node/utils.cpp
  control/autoware_lane_departure_checker/test/test_resample_trajectory.cpp
Labels: component:control

#1894 fix(planning, control): reuse stamp of subscribed topic to measure co…
  control/autoware_trajectory_follower_node/src/controller_node.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/behavior_path_planner_node.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/node.cpp
Labels: component:planning, component:control

#1897 fix(static_obstacle_avoidance): ego doesn't keep stopping in unsafe c…
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

#1898 fix(tier4_planning_launch): remap topics for path_generator (#10249)
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
Labels: component:launch

#1902 chore(planning): fix build depends on v0.39
  planning/autoware_static_centerline_generator/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/package.xml
Labels: component:planning

#1901 fix(obstacle_stop): accounting for vehicle bumper length when handling point-cloud stop points (#10250)
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.hpp
Labels: component:planning

#1880 feat(autoware_traffic_light_arbiter): add current time validation (#9…
  perception/traffic_light_arbiter/README.md
  perception/traffic_light_arbiter/config/traffic_light_arbiter.param.yaml
  perception/traffic_light_arbiter/include/traffic_light_arbiter/traffic_light_arbiter.hpp
  perception/traffic_light_arbiter/src/traffic_light_arbiter.cpp
Labels: type:documentation, component:perception

#1904 chore: backport pr9913 to v0.39
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/scene_module_interface.cpp
Labels: component:planning

#1903 Feat/v0.19.2/multi tracker sanitize update
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception

#1907 Feat/v0.19.1/multi tracker sanitize update
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception

#1906 chore: cherry-pick/10235
  control/autoware_mpc_lateral_controller/src/vehicle_model/vehicle_model_bicycle_kinematics.cpp
Labels: component:control

#1912 fix(docker-build-test-tidy-pr.yaml): use `step-security/changed-files` action instead (#10279)
  .github/workflows/build-test-tidy-pr.yaml
Labels: type:ci

#1909 chore: cherry-pick `obstacle cruise planner`
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/config/obstacle_cruise.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/obstacle_cruise_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/parameters.hpp
  system/autoware_default_adapi/src/planning.cpp
Labels: component:planning, type:documentation, component:system

#1905 feat(path_optimizer): additional failure logging and failure mode handling
  common/osqp_interface/design/osqp_interface-design.md
  common/osqp_interface/include/osqp_interface/csc_matrix_conv.hpp
  common/osqp_interface/include/osqp_interface/osqp_interface.hpp
  common/osqp_interface/src/osqp_interface.cpp
  common/osqp_interface/test/test_osqp_interface.cpp
  control/autoware_mpc_lateral_controller/src/qp_solver/qp_solver_osqp.cpp
  planning/autoware_obstacle_cruise_planner/src/optimization_based_planner/velocity_optimizer.cpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/node.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/state_equation_generator.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/conditional_timer.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_path_smoother/src/elastic_band.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
Labels: documentation, control, common, ci, component:planning, type:documentation, component:common, component:control

#1916 fix(autoware_path_optimizer): hotfix for wrong logic triggering MRM on start in 3 seconds
  planning/autoware_path_optimizer/src/node.cpp
Labels: component:planning

#1918 chore: cherry-pick/10245
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
Labels: component:planning

#1920 chore: V0.43 merge tier4 main
  .github/_CODEOWNERS
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/clang-tidy-pr-comments-manually.yaml
  .github/workflows/clang-tidy-pr-comments.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/dispatch-push-event.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/slack-send.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-upstream.yaml
  .pre-commit-config.yaml
  mkdocs.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
Labels: component:planning, type:ci

#1921 fix(goal_planner): ignore use bus_stop_area flag if there are no BusStopArea on the pull over lanes (#10274)
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
Labels: component:planning

#1913 feat: use mrm in any operation mode
  system/mrm_handler/include/mrm_handler/mrm_handler_core.hpp
  system/mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:system

#1930 chore: cherry-pick/10299
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
Labels: component:perception, component:sensing

#1919 feat(path_optimizer): additional failure logging and failure mode handling for beta/x2_gen2/v0.29
  common/osqp_interface/design/osqp_interface-design.md
  common/osqp_interface/include/osqp_interface/csc_matrix_conv.hpp
  common/osqp_interface/include/osqp_interface/osqp_interface.hpp
  common/osqp_interface/src/osqp_interface.cpp
  common/osqp_interface/test/test_osqp_interface.cpp
  control/autoware_mpc_lateral_controller/src/qp_solver/qp_solver_osqp.cpp
  planning/autoware_obstacle_cruise_planner/src/optimization_based_planner/velocity_optimizer.cpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/mpt_optimizer.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/node.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/state_equation_generator.hpp
  planning/autoware_path_optimizer/include/autoware/path_optimizer/utils/conditional_timer.hpp
  planning/autoware_path_optimizer/src/mpt_optimizer.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/autoware_path_smoother/src/elastic_band.cpp
  planning/autoware_velocity_smoother/src/smoother/l2_pseudo_jerk_smoother.cpp
  planning/autoware_velocity_smoother/src/smoother/linf_pseudo_jerk_smoother.cpp
Labels: component:planning, type:documentation, component:common, component:control

#1931 fix(behavior_path_planner, behavior_static_obstacle_avoidance_module): crash during goal changes (#10205)
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/utils.cpp
Labels: component:planning, tag:require-cuda-build-and-test

#1932 fix(compare_map_segmentation): last map update logic (#10351)
  perception/autoware_compare_map_segmentation/src/voxel_grid_map_loader/voxel_grid_map_loader.cpp
Labels: component:perception

#1933 fix(goal_planner): fix margin to objects
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/config/goal_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/images/goal_planner-collision_check_margin.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/decision_state.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/safety_check.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/test/test_safety_check.cpp
Labels: component:planning, type:documentation

#1936 feat(dummy_infrastructure): auto approval when ego stops at stop line #10223
  system/autoware_dummy_infrastructure/config/dummy_infrastructure.param.yaml
  system/autoware_dummy_infrastructure/include/autoware/dummy_infrastructure/dummy_infrastructure_node.hpp
  system/autoware_dummy_infrastructure/launch/dummy_infrastructure.launch.xml
  system/autoware_dummy_infrastructure/package.xml
  system/autoware_dummy_infrastructure/schema/dummy_infrastructure.schema.json
  system/autoware_dummy_infrastructure/src/dummy_infrastructure_node/dummy_infrastructure_node.cpp
Labels: component:system
