Repository tier4/autoware_universe, pull requests merged in 2025-02, with the labels that each got.

#1784 chore: fix sync-awf-latest.yaml
  .github/workflows/sync-awf-latest.yaml
Labels: type:ci

#1783 feat(autoware_behavior_velocity_traffic_light_module): add v2i to behavior_velocity_traffic_light
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.hpp
Labels: component:planning

#1787 feat(planning_test_manager): abstract message-specific functions (#9882)
  planning/autoware_freespace_planner/test/test_freespace_planner_node_interface.cpp
  planning/autoware_obstacle_cruise_planner/test/test_obstacle_cruise_planner_node_interface.cpp
  planning/autoware_obstacle_stop_planner/test/test_autoware_obstacle_stop_planner_node_interface.cpp
  planning/autoware_path_optimizer/test/test_path_optimizer_node_interface.cpp
  planning/autoware_path_smoother/test/test_autoware_path_smoother_node_interface.cpp
  planning/autoware_planning_test_manager/include/autoware_planning_test_manager/autoware_planning_test_manager.hpp
  planning/autoware_planning_test_manager/src/autoware_planning_test_manager.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_node_interface.cpp
  planning/autoware_scenario_selector/test/test_autoware_scenario_selector_node_interface.cpp
  planning/autoware_velocity_smoother/test/test_velocity_smoother_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_external_request_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/test_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/test/test_autoware_behavior_path_planner_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_side_shift_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/test/test_behavior_path_planner_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/src/test_utils.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/test/test_node_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/test/test_node_interface.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/test/src/test_node_interface.cpp
Labels: component:planning

#1769 feat(lane_change): revise current lane objects filtering (#9785)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
Labels: component:planning, type:documentation

#1810 feat: cherry-pick change of beta/v4.0.2
  .github/_CODEOWNERS
  control/autoware_mpc_lateral_controller/README.md
  control/autoware_mpc_lateral_controller/include/autoware/mpc_lateral_controller/mpc.hpp
  control/autoware_mpc_lateral_controller/param/lateral_controller_defaults.param.yaml
  control/autoware_mpc_lateral_controller/src/mpc.cpp
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
  control/autoware_trajectory_follower_node/param/lateral/mpc.param.yaml
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
  planning/autoware_route_handler/include/autoware/route_handler/route_handler.hpp
  planning/autoware_route_handler/src/route_handler.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_avoidance_by_lane_change_module/src/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/config/lane_change.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/delay_lane_change_1.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/delay_lane_change_2.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/delay_lane_change_3.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/delay_lane_change_4.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/images/delay_lane_change_5.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/base_class.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/data.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/structs/path.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/calculation.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/markers.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/include/autoware/behavior_path_lane_change_module/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/calculation.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/markers.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_scene.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/test/test_lane_change_utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_manager_interface.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/objects_filtering.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/path_safety_checker/path_safety_checker_parameters.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/utils/utils.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/marker_utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/objects_filtering.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/path_safety_checker/safety_check.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/utils/utils.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, type:ci, type:documentation, component:control, component:perception

#1817 fix: revert customized hazard status converter
  launch/tier4_system_launch/launch/system.launch.xml
  system/hazard_status_converter/launch/hazard_status_converter.launch.xml
  system/hazard_status_converter/src/converter.cpp
  system/hazard_status_converter/src/converter.hpp
Labels: component:launch, component:system

#1815 fix(autoware_image_projection_based_fusion): modify incorrect index access in pointcloud filtering for out-of-range points (#10087)
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
Labels: component:perception

#1818 feat(mrm_handler): mrm recoverable option
  common/autoware_component_interface_tools/package.xml
  launch/tier4_system_launch/launch/system.launch.xml
  system/autoware_diagnostic_graph_utils/CMakeLists.txt
  system/autoware_diagnostic_graph_utils/package.xml
  system/autoware_diagnostic_graph_utils/src/node/recovery.cpp
  system/autoware_diagnostic_graph_utils/src/node/recovery.hpp
  system/autoware_mrm_handler/config/mrm_handler.param.yaml
  system/autoware_mrm_handler/include/autoware/mrm_handler/mrm_handler_core.hpp
  system/autoware_mrm_handler/package.xml
  system/autoware_mrm_handler/schema/mrm_handler.schema.json
  system/autoware_mrm_handler/src/mrm_handler/mrm_handler_core.cpp
Labels: component:common, component:launch, component:system

#1828 build: remove dependency on component_interface_utils
  common/autoware_component_interface_tools/package.xml
Labels: component:common

#1831 fix(lane_change): remove string literals from stopwatch toc (#10121)
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
Labels: component:planning

#1826 chore: cherry-pick/10061
  perception/autoware_probabilistic_occupancy_grid_map/CMakeLists.txt
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/costmap_2d/occupancy_grid_map_base.hpp
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/updater/binary_bayes_filter_updater.hpp
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/updater/ogm_updater_interface.hpp
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/cuda_pointcloud.hpp
  perception/autoware_probabilistic_occupancy_grid_map/include/autoware/probabilistic_occupancy_grid_map/utils/utils.hpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_base.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/costmap_2d/occupancy_grid_map_fixed.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/updater/binary_bayes_filter_updater.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/updater/log_odds_bayes_filter_updater.cpp
  perception/autoware_probabilistic_occupancy_grid_map/lib/utils/utils.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.cpp
  perception/autoware_probabilistic_occupancy_grid_map/src/pointcloud_based_occupancy_grid_map/pointcloud_based_occupancy_grid_map_node.hpp
Labels: component:perception

#1829 fix(autoware_pointcloud_preprocessor): empty input validation (#10115)
  sensing/autoware_pointcloud_preprocessor/schema/pickup_based_voxel_grid_downsample_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/pickup_based_voxel_grid_downsample_filter_node.cpp
Labels: component:sensing

#1836 chore(motion_velocity_planner_universe): fix build depends (#10122)
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node_universe/package.xml
Labels: component:planning

#1841 chore: cherry-pick 10144
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
  perception/autoware_traffic_light_multi_camera_fusion/README.md
  perception/autoware_traffic_light_multi_camera_fusion/config/traffic_light_multi_camera_fusion.param.yaml
  perception/autoware_traffic_light_multi_camera_fusion/launch/traffic_light_multi_camera_fusion.launch.xml
  perception/autoware_traffic_light_multi_camera_fusion/schema/traffic_light_multi_camera_fusion.schema.json
  perception/autoware_traffic_light_multi_camera_fusion/src/traffic_light_multi_camera_fusion_node.cpp
Labels: type:documentation, component:launch, component:perception

#1848 fix(tier4_perception_launch): add missing parameter for planning simu…
  launch/tier4_perception_launch/launch/traffic_light_recognition/traffic_light.launch.xml
Labels: component:launch

#1851 chore: add grdi map core dependency
  planning/autoware_static_centerline_generator/package.xml
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/package.xml
Labels: component:planning

#1850 feat(autoware_default_adapi): allow route clear while vehicle is stop…
  system/autoware_default_adapi/config/default_adapi.param.yaml
  system/autoware_default_adapi/src/routing.cpp
  system/autoware_default_adapi/src/routing.hpp
Labels: component:system

#1860 fix(route_handler): use non-preferred route segment even if checkpoint is not on preferred lanelet at best (#10138)
  planning/autoware_route_handler/src/route_handler.cpp
Labels: component:planning

#1868 feat(autoware_pointcloud_preprocessor): reuse collectors to reduce creation of collector and timer (#10074)
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.hpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/cloud_collector.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/combine_cloud_handler.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_node.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_concatenate_node_unit.cpp
Labels: component:sensing
