Repository tier4/autoware_universe, pull requests merged in 2025-06, with the labels that each got.

#2067 fix(path_optimizer): undefined behavior when optimizer failure (#10726)
  planning/autoware_path_optimizer/src/node.cpp
Labels: component:planning, run:build-and-test-differential

#2072 fix(cuda_pointcloud_preprocessor): reset data when receiving zero siz…
  sensing/autoware_cuda_pointcloud_preprocessor/include/autoware/cuda_pointcloud_preprocessor/organize_kernels.hpp
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/common_kernels.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/cuda_pointcloud_preprocessor.cu
  sensing/autoware_cuda_pointcloud_preprocessor/src/cuda_pointcloud_preprocessor/organize_kernels.cu
Labels: component:sensing, run:build-and-test-differential, tag:run-build-and-test-differential

#2074 fix(run_out): guard against decreasing ego trajectory times (#10746)
  control/autoware_smart_mpc_trajectory_follower/autoware_smart_mpc_trajectory_follower/training_and_data_check/add_training_data_from_csv.py
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
Labels: component:planning, component:control, run:build-and-test-differential

#2081 fix(perception): cherry-pick fixes for perception components
  perception/autoware_map_based_prediction/src/predictor_vru.cpp
  perception/autoware_multi_object_tracker/lib/association/association.cpp
  perception/autoware_multi_object_tracker/lib/object_model/shapes.cpp
  perception/autoware_multi_object_tracker/lib/tracker/model/vehicle_tracker.cpp
Labels: component:perception, run:build-and-test-differential

#2082 fix(roi_pointcloud_fusion): add remap output option (#10655)
  perception/autoware_image_projection_based_fusion/config/roi_pointcloud_fusion.param.yaml
  perception/autoware_image_projection_based_fusion/docs/roi-pointcloud-fusion.md
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/utils/utils.hpp
  perception/autoware_image_projection_based_fusion/schema/roi_pointcloud_fusion.schema.json
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/utils/utils.cpp
  perception/autoware_image_projection_based_fusion/test/test_utils.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#2085 fix(perception): cherry-pick fixes for perception enhancement
  perception/autoware_detected_object_validation/CMakeLists.txt
  perception/autoware_detected_object_validation/config/object_lanelet_filter.param.yaml
  perception/autoware_detected_object_validation/object-lanelet-filter.md
  perception/autoware_detected_object_validation/schema/object_lanelet_filter.schema.json
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.cpp
  perception/autoware_detected_object_validation/src/lanelet_filter/lanelet_filter.hpp
  perception/autoware_detected_object_validation/test/lanelet_filter/test_lanelet_filter.cpp
  perception/autoware_detection_by_tracker/src/detection_by_tracker_node.cpp
  perception/autoware_euclidean_cluster/README.md
  perception/autoware_euclidean_cluster/config/voxel_grid_based_euclidean_cluster.param.yaml
  perception/autoware_euclidean_cluster/include/autoware/euclidean_cluster/voxel_grid_based_euclidean_cluster.hpp
  perception/autoware_euclidean_cluster/lib/voxel_grid_based_euclidean_cluster.cpp
  perception/autoware_euclidean_cluster/src/voxel_grid_based_euclidean_cluster_node.cpp
  perception/autoware_euclidean_cluster/test/test_voxel_grid_based_euclidean_cluster.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#2088 feat(autoware_crosswalk_traffic_light_estimator): cherry-pick to select using ped detect signals
  perception/autoware_crosswalk_traffic_light_estimator/README.md
  perception/autoware_crosswalk_traffic_light_estimator/config/crosswalk_traffic_light_estimator.param.yaml
  perception/autoware_crosswalk_traffic_light_estimator/include/autoware_crosswalk_traffic_light_estimator/node.hpp
  perception/autoware_crosswalk_traffic_light_estimator/schema/crosswalk_traffic_light_estimator.schema.json
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#2091 chore: apply v2i related changes to autoware_behavior_velocity_traffic_light_module (copy)
  .github/workflows/clang-tidy-differential.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
Labels: type:ci, run:build-and-test-differential

#2084 fix(static_obstacle_avoidance): module doesn't generate detection area properly (#10747)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning, run:build-and-test-differential

#2099 fix(multi_object_tracker): correct area calculation for cylinder shape in getArea function (#10790)
  perception/autoware_multi_object_tracker/lib/object_model/types.cpp
Labels: component:perception, run:build-and-test-differential

#2094 chore: use latest rear collision checker
  launch/tier4_planning_launch/launch/planning.launch.xml
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
  planning/planning_validator/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/CMakeLists.txt
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/config/rear_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/package.xml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/param/rear_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/plugins.xml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.hpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/structs.hpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.hpp
Labels: component:planning, component:launch

#2101 Develop/beta/v0.41 x2 pc apply steer limit
  control/autoware_vehicle_cmd_gate/README.md
  control/autoware_vehicle_cmd_gate/config/vehicle_cmd_gate.param.yaml
  control/autoware_vehicle_cmd_gate/schema/vehicle_cmd_gate.json
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.hpp
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_gate.cpp
  control/autoware_vehicle_cmd_gate/test/src/test_filter_in_vehicle_cmd_gate_node.cpp
  control/autoware_vehicle_cmd_gate/test/src/test_vehicle_cmd_filter.cpp
Labels: type:documentation, component:control

#2102 feat: add diagnostic for pointcloud preprocessor
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/crop_box_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/config/distortion_corrector_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/config/ring_outlier_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.ipp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/crop_box_filter/crop_box_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/diagnostics/crop_box_diagnostics.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/diagnostics/diagnostics_base.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/diagnostics/distortion_corrector_diagnostics.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/diagnostics/format_utils.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/diagnostics/latency_diagnostics.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/diagnostics/pass_rate_diagnostics.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/distortion_corrector/distortion_corrector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/distortion_corrector/distortion_corrector_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/ring_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/src/crop_box_filter/crop_box_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector.cpp
  sensing/autoware_pointcloud_preprocessor/src/distortion_corrector/distortion_corrector_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/ring_outlier_filter_node.cpp
Labels: component:sensing

#2104 feat(run_out): option to preserve parts of ignored predicted paths
  control/autoware_vehicle_cmd_gate/src/vehicle_cmd_filter.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/schema/run_out.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/types.hpp
Labels: component:planning, type:documentation, component:control

#2107 fix(autoware_traffic_light_occlusion_predictor): remove unnecessary comment out to use traffic_light_recognition by camera
  perception/autoware_traffic_light_occlusion_predictor/launch/traffic_light_occlusion_predictor.launch.xml
Labels: component:perception

#2109 fix: change the execution order of map_height_fitter cmake
  map/map_height_fitter/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_planner_node/package.xml
Labels: component:planning, component:map

#2111 Develop/beta/v0.41 x2 pc latency checker
  launch/tier4_system_launch/launch/system.launch.xml
  system/autoware_sensor_to_control_latency_checker/CMakeLists.txt
  system/autoware_sensor_to_control_latency_checker/config/sensor_to_control_latency_checker.param.yaml
  system/autoware_sensor_to_control_latency_checker/include/autoware_sensor_to_control_latency_checker/sensor_to_control_latency_checker_node.hpp
  system/autoware_sensor_to_control_latency_checker/launch/sensor_to_control_latency_checker.launch.xml
  system/autoware_sensor_to_control_latency_checker/package.xml
  system/autoware_sensor_to_control_latency_checker/src/sensor_to_control_latency_checker_node.cpp
  vehicle/autoware_raw_vehicle_cmd_converter/README.md
  vehicle/autoware_raw_vehicle_cmd_converter/include/autoware_raw_vehicle_cmd_converter/node.hpp
  vehicle/autoware_raw_vehicle_cmd_converter/launch/raw_vehicle_converter.launch.xml
  vehicle/autoware_raw_vehicle_cmd_converter/src/node.cpp
Labels: type:documentation, component:launch, component:system, component:vehicle

#2110 fix(intersection): additional fix for 10682
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
Labels: component:planning, run:build-and-test-differential

#2112 chore(rcc): cherry pick small changes
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/config/rear_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/param/rear_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.hpp
Labels: component:planning

#2119 fix: pointpainting mising param
  perception/autoware_image_projection_based_fusion/src/pointpainting_fusion/node.cpp
Labels: component:perception

#2123 feat(autoware_lidar_centerpoint): Add intensity model
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/preprocess/pointcloud_densification.hpp
  perception/autoware_lidar_centerpoint/include/autoware/lidar_centerpoint/preprocess/preprocess_kernel.hpp
  perception/autoware_lidar_centerpoint/lib/centerpoint_trt.cpp
  perception/autoware_lidar_centerpoint/lib/preprocess/pointcloud_densification.cpp
  perception/autoware_lidar_centerpoint/lib/preprocess/preprocess_kernel.cu
  perception/autoware_lidar_centerpoint/lib/preprocess/voxel_generator.cpp
Labels: component:perception

#2125 fix(pid): fix a bug that acceleration feedback does not go in the correct direction when reverse
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control, run:build-and-test-differential

#2128 fix(smart_mpc): fix imperative mood by cherry picking 3cbb9f4
  control/autoware_smart_mpc_trajectory_follower/autoware_smart_mpc_trajectory_follower/training_and_data_check/add_training_data_from_csv.py
Labels: component:control, run:build-and-test-differential

#2118 fix(run_out): fix numerical stability in run_out interpolation (#10808)
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/slowdown.cpp
Labels: component:planning, run:build-and-test-differential

#2127 fix(pid): fix a bug that acceleration feedback does not go in the correct direction when reverse
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control, run:build-and-test-differential

#2116 fix(run_out): guard against decreasing ego trajectory times (#10746)
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
Labels: component:planning, run:build-and-test-differential

#2133 update insertOrientation and update polygo
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_planner_common_universe/src/polygon_utils.cpp
Labels: component:planning, component:common

#2139 feat(intersection_collision_checker): cherry pick
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/scene.cpp
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/debug_marker.hpp
  planning/planning_validator/autoware_planning_validator/include/autoware/planning_validator/plugin_interface.hpp
  planning/planning_validator/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/planning_validator/autoware_planning_validator/package.xml
  planning/planning_validator/autoware_planning_validator/src/node.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/CMakeLists.txt
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/README.md
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/config/intersection_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/images/left_turn_target_lanelets.png
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/images/right_turn_target_lanelets.png
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/intersection_collision_checker.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/types.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/include/autoware/planning_validator_intersection_collision_checker/utils.hpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/package.xml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/param/intersection_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/intersection_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_intersection_collision_checker/src/utils.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/rear_collision_checker.hpp
Labels: component:planning, type:documentation

#2141 feat(control_validator): add yaw_deviation
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/src/control_validator.cpp
Labels: type:documentation, component:control

#2142 feat(autoware_command_mode_switcher_plugins): publish hazard lights command
  system/autoware_command_mode_switcher_plugins/package.xml
  system/autoware_command_mode_switcher_plugins/src/comfortable_stop.cpp
  system/autoware_command_mode_switcher_plugins/src/comfortable_stop.hpp
Labels: component:system, run:build-and-test-differential

#2117 fix(goal_planner): pr10694 + pr10776 + pr10784
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/decision_state.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/pull_over_planner/pull_over_planner_base.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/decision_state.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/bezier_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/geometric_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/pull_over_planner/shift_pull_over.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/thread_data.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_lane_change_module/src/interface.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner/include/autoware/behavior_path_planner/planner_manager.hpp
  planning/behavior_path_planner/autoware_behavior_path_planner/src/planner_manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_planner_common/include/autoware/behavior_path_planner_common/interface/scene_module_interface.hpp
Labels: component:planning

#2148 feat(control_mode_rviz_plugin): add rviz plugin for visualizing control mode
  visualization/tier4_control_mode_rviz_plugin/CMakeLists.txt
  visualization/tier4_control_mode_rviz_plugin/README.md
  visualization/tier4_control_mode_rviz_plugin/include/control_mode_display.hpp
  visualization/tier4_control_mode_rviz_plugin/package.xml
  visualization/tier4_control_mode_rviz_plugin/plugins/plugin_description.xml
  visualization/tier4_control_mode_rviz_plugin/src/control_mode_display.cpp
Labels: type:documentation, run:build-and-test-differential
