Repository tier4/autoware_universe, pull requests merged in 2025-04, with the labels that each got.

#1938 fix(autoware_static_centerline_generator): cherry-pick changes to support modifications made to autoware.core
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
Labels: component:planning

#1927 feat: publish error diagnostic graph and visualize in rviz
  system/diagnostic_graph_utils/launch/logging.launch.xml
  system/diagnostic_graph_utils/package.xml
  system/diagnostic_graph_utils/src/node/logging.cpp
  system/diagnostic_graph_utils/src/node/logging.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/CMakeLists.txt
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/README.md
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/package.xml
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/plugins/plugins_description.xml
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/src/jsk_overlay_utils.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/src/jsk_overlay_utils.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/src/string_stamped_overlay_display.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/src/string_stamped_overlay_display.hpp
Labels: type:documentation, component:system

#1950 feat: multi tracker sanitize update
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception

#1949 feat(autoware_multi_object_tracker): update overlapped tracker removing process in multi obj tracker (#10347)
  perception/autoware_multi_object_tracker/src/processor/processor.cpp
Labels: component:perception

#1915 feat: beta/v0.29 mult obj tracker updates
  perception/multi_object_tracker/src/processor/processor.cpp
Labels: component:perception

#1948 fix(start_planner): fix segmentation fault when generating backward path
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/util.cpp
Labels: component:planning

#1947 feat: cherry pick pr10160+10334+10333+10369 for irregular_object_detector pipeline
  launch/tier4_perception_launch/launch/object_recognition/detection/detection.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_irregular_object_detector.launch.py
  launch/tier4_perception_launch/launch/object_recognition/detection/detector/camera_lidar_irregular_object_detector.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/camera_lidar_radar_merger.launch.xml
  launch/tier4_perception_launch/launch/object_recognition/detection/merger/lidar_merger.launch.xml
  launch/tier4_perception_launch/launch/perception.launch.xml
  perception/autoware_image_projection_based_fusion/config/roi_pointcloud_fusion.param.yaml
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_pointcloud_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/utils/geometry.hpp
  perception/autoware_image_projection_based_fusion/launch/roi_pointcloud_fusion.launch.xml
  perception/autoware_image_projection_based_fusion/schema/roi_pointcloud_fusion.schema.json
  perception/autoware_image_projection_based_fusion/src/roi_pointcloud_fusion/node.cpp
  perception/autoware_image_projection_based_fusion/src/utils/geometry.cpp
Labels: component:launch, component:perception, run:build-and-test-differential

#1922 feat(command_mode_decider): command mode decider change
  system/autoware_command_mode_decider/CMakeLists.txt
  system/autoware_command_mode_decider/launch/decider.launch.xml
  system/autoware_command_mode_decider/src/command_mode_conversion.cpp
  system/autoware_command_mode_decider/src/command_mode_decider_redundancy.cpp
  system/autoware_command_mode_decider/src/command_mode_decider_redundancy.hpp
  system/autoware_command_mode_switcher/launch/switcher.launch.xml
Labels: component:system

#1925 feat: add command mode param path
  launch/tier4_control_launch/launch/control.launch.xml
  launch/tier4_system_launch/launch/system.launch.xml
Labels: component:launch, run:build-and-test-differential

#1952 feat: implement comfortable stop switcher
  system/autoware_command_mode_switcher/package.xml
  system/autoware_command_mode_switcher/src/plugins/comfortable_stop.cpp
  system/autoware_command_mode_switcher/src/plugins/comfortable_stop.hpp
Labels: component:system, run:build-and-test-differential

#1966 hotfix: disable transition filter 1
  control/autoware_control_command_gate/src/command/filter.hpp
  control/autoware_control_command_gate/src/command/selector.cpp
  control/autoware_control_command_gate/src/command/selector.hpp
  control/autoware_control_command_gate/src/control_command_gate.cpp
  control/autoware_control_command_gate/src/control_command_gate.hpp
  system/autoware_command_mode_switcher/src/command_mode_switcher.cpp
Labels: run:build-and-test-differential

#1969 chore: merge tier4/main into alpha/v0.44
  .github/_CODEOWNERS
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/clang-tidy-pr-comments-manually.yaml
  .github/workflows/clang-tidy-pr-comments.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/dispatch-push-event.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/slack-send.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-upstream.yaml
  .pre-commit-config.yaml
  mkdocs.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
Labels: component:planning, type:ci

#1964 feat: cherry-pick autoware_agnocast_wrapper
  build_depends.repos
  common/autoware_agnocast_wrapper/CMakeLists.txt
  common/autoware_agnocast_wrapper/README.md
  common/autoware_agnocast_wrapper/cmake/agnocast_wrapper_config_extras.cmake
  common/autoware_agnocast_wrapper/include/autoware/agnocast_wrapper/autoware_agnocast_wrapper.hpp
  common/autoware_agnocast_wrapper/package.xml
Labels: type:documentation, component:common, run:build-and-test-differential

#1972 fix: add manual mode but not push commands_
  system/autoware_command_mode_switcher/src/command_mode_switcher.cpp
Labels: component:system

#1973 fix: comfortable stop min jerk
  system/autoware_command_mode_switcher/src/plugins/comfortable_stop.cpp
Labels: component:system

#1974 fix: turn off hazard lights
  control/autoware_stop_mode_operator/src/stop_mode_operator.cpp
Labels: component:control

#1976 ci: use Code Build for build-and-test-differentianl-cuda
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-test-tidy-pr.yaml
Labels: run:build-and-test-differential

#1954 fix(autoware_path_optimizer): incorrect application of input velocity due to badly mapping output trajectory to input trajectory
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/test/src/trajectory/test_trajectory.cpp
  planning/autoware_path_optimizer/src/node.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/config/static_obstacle_avoidance.param.yaml
Labels: component:planning, component:common, tag:run-build-and-test-differential

#1977 ci: update build_depends.repos to match pilot-auto beta/v0.41
  build_depends.repos
Labels: run:build-and-test-differential

#1980 feat(traffic_light): restart suppression at traffic light stop line
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.hpp
Labels: component:planning, run:build-and-test-differential

#1958 feat: apply agnocast to pointcloud_before_sync topics
  launch/tier4_sensing_launch/launch/sensing.launch.xml
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.cpp
  perception/autoware_compare_map_segmentation/src/voxel_based_compare_map_filter/node.hpp
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/cloud_collector.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/combine_cloud_handler.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/concatenate_data/concatenate_and_time_sync_node.hpp
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/filter.hpp
  sensing/autoware_pointcloud_preprocessor/package.xml
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/cloud_collector.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/combine_cloud_handler.cpp
  sensing/autoware_pointcloud_preprocessor/src/concatenate_data/concatenate_and_time_sync_node.cpp
  sensing/autoware_pointcloud_preprocessor/src/filter.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_concatenate_node_unit.cpp
Labels: component:launch, component:perception, component:sensing, run:build-and-test-differential

#1944 fix(autoware_crosswalk_traffic_light_estimator): add process that guard access to empty elements (#10281)
  perception/autoware_crosswalk_traffic_light_estimator/src/node.cpp
Labels: component:perception, run:build-and-test-differential

#1981 feat: remove in lane stop switcher and export plugin base and refactor
  system/autoware_command_mode_switcher/CMakeLists.txt
  system/autoware_command_mode_switcher/include/autoware_command_mode_switcher/common/command_plugin.hpp
  system/autoware_command_mode_switcher/include/autoware_command_mode_switcher/common/command_status.hpp
  system/autoware_command_mode_switcher/launch/switcher.launch.xml
  system/autoware_command_mode_switcher/package.xml
  system/autoware_command_mode_switcher/src/command_mode_switcher.cpp
  system/autoware_command_mode_switcher/src/common/command_container.hpp
  system/autoware_command_mode_switcher/src/common/command_plugin.cpp
  system/autoware_command_mode_switcher/src/common/command_status.cpp
  system/autoware_command_mode_switcher/src/common/manual.hpp
  system/autoware_command_mode_switcher/src/common/selector_interface.hpp
  system/autoware_command_mode_switcher/src/plugins/autonomous.hpp
  system/autoware_command_mode_switcher/src/plugins/comfortable_stop.hpp
  system/autoware_command_mode_switcher/src/plugins/emergency_stop.hpp
  system/autoware_command_mode_switcher/src/plugins/local.hpp
  system/autoware_command_mode_switcher/src/plugins/main_ecu_in_lane_stop_0_3g.cpp
  system/autoware_command_mode_switcher/src/plugins/main_ecu_in_lane_stop_0_3g.hpp
  system/autoware_command_mode_switcher/src/plugins/main_ecu_in_lane_stop_0_6g.cpp
  system/autoware_command_mode_switcher/src/plugins/main_ecu_in_lane_stop_0_6g.hpp
  system/autoware_command_mode_switcher/src/plugins/pull_over.hpp
  system/autoware_command_mode_switcher/src/plugins/remote.hpp
  system/autoware_command_mode_switcher/src/plugins/stop.hpp
  system/autoware_command_mode_switcher/src/plugins/sub_ecu_in_lane_stop_0_3g.cpp
  system/autoware_command_mode_switcher/src/plugins/sub_ecu_in_lane_stop_0_3g.hpp
Labels: component:system

#1984 fix: remove sub ecu nullptr access
  system/autoware_command_mode_switcher/src/command_mode_switcher.cpp
Labels: component:system

#1979 fix(simple_object_merger): add approximatefilter (#10462)
  perception/autoware_simple_object_merger/src/simple_object_merger_node.cpp
  perception/autoware_simple_object_merger/src/simple_object_merger_node.hpp
Labels: component:perception, run:build-and-test-differential, tag:run-build-and-test-differential

#1987 ci: use tier4 runner for build-test-tidy-pr
  .github/workflows/build-test-tidy-pr.yaml
Labels: type:ci, run:build-and-test-differential

#1989 ci: use tier4 runner for build-and-test-differential
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-test-tidy-pr.yaml
Labels: type:ci, run:build-and-test-differential

#1991 ci: use tier4 runner for clang-tidy-differential
  .github/workflows/clang-tidy-differential.yaml
Labels: type:ci

#1978 feat: should be using NvInferRuntime.h (#10399)
  perception/autoware_tensorrt_common/src/tensorrt_common.cpp
Labels: component:perception, run:build-and-test-differential

#1992 chore: merge tier4/main to beta/v0.44
  .github/_CODEOWNERS
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/build-and-test-differential-arm64.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-packages-above-differential.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/clang-tidy-differential.yaml
  .github/workflows/clang-tidy-pr-comments-manually.yaml
  .github/workflows/clang-tidy-pr-comments.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/dispatch-push-event.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/slack-send.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-upstream.yaml
  .pre-commit-config.yaml
  build_depends_humble.repos
  build_depends_nightly.repos
  launch/tier4_autoware_api_launch/package.xml
  mkdocs.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/config/traffic_light.param.yaml
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/package.xml
Labels: component:planning, type:ci, component:launch, run:build-and-test-differential

#1994 ci: use tier4 runner for build-test-tidy-pr
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test-packages-above-differential.yaml
  .github/workflows/build-test-tidy-pr.yaml
  .github/workflows/clang-tidy-differential.yaml
Labels: type:ci, run:build-and-test-differential

#1929 fix: backport pr10224 v0.39.0
  system/hazard_status_converter/CMakeLists.txt
  system/hazard_status_converter/launch/hazard_status_converter.launch.xml
  system/hazard_status_converter/package.xml
  system/hazard_status_converter/src/converter.cpp
  system/hazard_status_converter/src/converter.hpp
  system/hazard_status_converter/src/mode_interface.cpp
  system/hazard_status_converter/src/mode_interface.hpp
Labels: component:system, tag:run-build-and-test-differential

#1998 fix(autoware_system_monitor): quick fix by cherry-picking 677447f
  system/autoware_system_monitor/src/process_monitor/process_monitor.cpp
Labels: component:system, run:build-and-test-differential

#1995 feat(planning_validator): check for sudden shift in planning trajectory
  planning/autoware_planning_validator/README.md
  planning/autoware_planning_validator/config/planning_validator.param.yaml
  planning/autoware_planning_validator/include/autoware/planning_validator/parameters.hpp
  planning/autoware_planning_validator/include/autoware/planning_validator/planning_validator.hpp
  planning/autoware_planning_validator/include/autoware/planning_validator/utils.hpp
  planning/autoware_planning_validator/launch/planning_validator.launch.xml
  planning/autoware_planning_validator/msg/PlanningValidatorStatus.msg
  planning/autoware_planning_validator/src/planning_validator.cpp
  planning/autoware_planning_validator/src/utils.cpp
  planning/autoware_planning_validator/test/src/test_parameter.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_functions.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_helper.hpp
  planning/autoware_planning_validator/test/src/test_planning_validator_node_interface.cpp
  planning/autoware_planning_validator/test/src/test_planning_validator_pubsub.cpp
  system/autoware_system_diagnostic_monitor/config/planning.yaml
Labels: component:planning, type:documentation, component:system, run:build-and-test-differential

#1997 feat(motion_velocity_planner): add new run_out module (#10388)
  common/autoware_universe_utils/include/autoware/universe_utils/geometry/geometry.hpp
  common/autoware_universe_utils/src/geometry/geometry.cpp
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/CMakeLists.txt
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/README.md
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/config/run_out.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/collisions.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/decisions.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/dynamic_objects_filtering.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/flow_diagram.svg
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/front_left_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/front_right_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/map_filtering_data.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/objects_of_intersect.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/rear_left_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/rear_right_ego_ls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/docs/stop_slow_virtual_walls.png
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/plugins.xml
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/schema/run_out.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/collision.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/collisions.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/debug.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/decision.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/decision.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/footprints.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/footprints.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/map_data.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/map_data.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/objects_filtering.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/run_out_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/slowdown.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/slowdown.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/src/types.hpp
Labels: component:planning, type:documentation, component:common, component:launch, run:build-and-test-differential

#1999 feat(blind_spot): extend attention area to straight lanelet
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/util.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/test/test_util.cpp
Labels: run:build-and-test-differential

#2000 fix(mvp_run_out): set proper target package name when exporting plugin
  planning/motion_velocity_planner/autoware_motion_velocity_run_out_module/CMakeLists.txt
Labels: component:planning, run:build-and-test-differential

#1983 feat(control_validator, tier4_diagnostics): sync upstream
  control/autoware_control_validator/README.md
  control/autoware_control_validator/config/control_validator.param.yaml
  control/autoware_control_validator/include/autoware/control_validator/control_validator.hpp
  control/autoware_control_validator/launch/control_validator.launch.xml
  control/autoware_control_validator/msg/ControlValidatorStatus.msg
  control/autoware_control_validator/package.xml
  control/autoware_control_validator/src/control_validator.cpp
  control/autoware_control_validator/test/test_control_validator.cpp
  launch/tier4_control_launch/launch/control.launch.xml
Labels: type:documentation, component:control, component:launch, run:build-and-test-differential

#1993 feat(tier4_vehicle_launch): add redundancy option
  launch/tier4_vehicle_launch/launch/vehicle.launch.xml
Labels: component:launch, run:build-and-test-differential
