Repository tier4/autoware_universe, pull requests merged in 2025-01, with the labels that each got.

#1748 feat: publish error diagnostic graph and visualize in rviz
  system/diagnostic_graph_utils/launch/logging.launch.xml
  system/diagnostic_graph_utils/package.xml
  system/diagnostic_graph_utils/src/node/logging.cpp
  system/diagnostic_graph_utils/src/node/logging.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/CMakeLists.txt
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/README.md
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/package.xml
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/plugins/plugins_description.xml
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/src/jsk_overlay_utils.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/src/jsk_overlay_utils.hpp
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/src/string_stamped_overlay_display.cpp
  visualization/autoware_overlay_rviz_plugin/autoware_string_stamped_overlay_rviz_plugin/src/string_stamped_overlay_display.hpp
Labels: type:documentation, component:system

#1751 fix: enable trigger publish when delay_compensation is false
  perception/multi_object_tracker/src/multi_object_tracker_core.cpp
Labels: component:perception

#1749 add planning_factor_interface to behavior_velocity_planner
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/include/autoware/behavior_velocity_blind_spot_module/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_detection_area_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_drivable_lane_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_no_stopping_area_module/src/scene_no_stopping_area.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/scene_occlusion_spot.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_occlusion_spot_module/src/scene_occlusion_spot.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/include/autoware/behavior_velocity_planner_common/scene_module_interface.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_planner_common/src/scene_module_interface.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_rtc_interface/include/autoware/behavior_velocity_rtc_interface/scene_module_interface_with_rtc.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_rtc_interface/src/scene_module_interface_with_rtc.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_speed_bump_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_speed_bump_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_speed_bump_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_stop_line_module/test/test_scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_template_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_template_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_template_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_virtual_traffic_light_module/src/scene.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/manager.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.hpp
Labels: component:planning

#1750 feat(autoware_detected_object_validation): set validate distance in t…
  perception/detected_object_validation/config/obstacle_pointcloud_based_validator.param.yaml
  perception/detected_object_validation/include/detected_object_validation/obstacle_pointcloud_based_validator/obstacle_pointcloud_based_validator.hpp
  perception/detected_object_validation/src/obstacle_pointcloud_based_validator.cpp
Labels: component:perception

#1759 add planning_factor_interface to behavior_velocity_planner_run_out
  planning/behavior_velocity_planner/autoware_behavior_velocity_run_out_module/src/scene.cpp
Labels: component:planning

#1760 Feat/development branch planning factor bvp crosswalk
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_walkway_module/src/scene_walkway.cpp
Labels: component:planning

#1765 add planning_factor_interface to behavior_velocity_planner_intersections
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/decisions.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_blind_spot_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_merge_from_private_road.cpp
Labels: component:planning

#1762 fix(behavior_velocity_planner): fix unregister process
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/manager.cpp
  planning/behavior_velocity_planner_common/src/scene_module_interface.cpp
Labels: component:planning

#1775 fix(static_obstacle_avoidance): change implementation the logic to remove invalid small shift lines (#8721)
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/shift_line_generator.cpp
Labels: component:planning

#1778 feat(redundancy_relay_manager): add redundancy relay manager node
  system/autoware_redundancy_relay_manager/CMakeLists.txt
  system/autoware_redundancy_relay_manager/README.md
  system/autoware_redundancy_relay_manager/config/redundancy_relay_manager.param.yaml
  system/autoware_redundancy_relay_manager/launch/redundancy_relay_manager.launch.xml
  system/autoware_redundancy_relay_manager/package.xml
  system/autoware_redundancy_relay_manager/schema/redundancy_relay_manager.schema.json
  system/autoware_redundancy_relay_manager/src/redundancy_relay_manager_node.cpp
  system/autoware_redundancy_relay_manager/src/redundancy_relay_manager_node.hpp
Labels: type:documentation, component:system

#1744 fix(behavior_velocity_run_out_module): fix slow_down jerk filter
  planning/behavior_velocity_run_out_module/src/scene.cpp
  planning/behavior_velocity_run_out_module/src/scene.hpp
Labels: planning

#1777 fix(recovery_node): recover from MRM even duaring manual driving
  system/diagnostic_graph_utils/src/node/recovery.cpp
  system/diagnostic_graph_utils/src/node/recovery.hpp
Labels: component:system

#1713 fix(pid_longitudinal_controller): fix overrun distance calculation against goal position
  control/autoware_pid_longitudinal_controller/src/pid_longitudinal_controller.cpp
Labels: component:control

#1780 chore: sync beta/v0.41 from tier4/main
  .github/_CODEOWNERS
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/comment-on-pr.yaml
  .github/workflows/dispatch-push-event.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/slack-send.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-upstream.yaml
  .pre-commit-config-optional.yaml
Labels: type:ci

#1781 fix(static_obstacle_avoidance): improve turn signal output timing when the ego returns original lane
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/debug.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/include/autoware/behavior_path_static_obstacle_avoidance_module/scene.hpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/debug.cpp
  planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/src/scene.cpp
Labels: component:planning

#1772 fix(mpc_lateral_controller): prevent unstable steering command while stopped v0.29.0 1
  control/autoware_mpc_lateral_controller/src/mpc_lateral_controller.cpp
Labels: component:control
