Repository tier4/autoware_universe, pull requests merged in 2025-08, with the labels that each got.

#2250 fix(roi_cluster_fusion): fix typo (#10833)
  perception/autoware_image_projection_based_fusion/config/roi_cluster_fusion.param.yaml
  perception/autoware_image_projection_based_fusion/docs/roi-cluster-fusion.md
  perception/autoware_image_projection_based_fusion/include/autoware/image_projection_based_fusion/roi_cluster_fusion/node.hpp
  perception/autoware_image_projection_based_fusion/schema/roi_cluster_fusion.schema.json
  perception/autoware_image_projection_based_fusion/src/roi_cluster_fusion/node.cpp
Labels: type:documentation, component:perception, run:build-and-test-differential

#2261 fix(map_based_prediction): pedestrian crossing intention estimation logic (#11084)
  perception/autoware_map_based_prediction/include/map_based_prediction/data_structure.hpp
  perception/autoware_map_based_prediction/include/map_based_prediction/predictor_vru.hpp
  perception/autoware_map_based_prediction/src/predictor_vru.cpp
Labels: run:build-and-test-differential

#2268 chore: keep runner
  workflow_sync_setting.yaml
Labels: type:ci

#2276 revert(boundary_departure): remove unmerged changes
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/boundary_departure_checker.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/data_structs.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/parameters.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/utils.hpp
  common/autoware_boundary_departure_checker/src/boundary_departure_checker_abnormality.cpp
  common/autoware_boundary_departure_checker/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/config/boundary_departure_prevention.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/package.xml
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/schema/boundary_departure_prevention.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/type_alias.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.hpp
Labels: component:planning, component:common

#2273 fix(pointcloud_preprocessor): handle empty pointclouds in pickup_base (#11003)
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/src/downsample_filter/pickup_based_voxel_grid_downsample_filter_node.cpp
  sensing/autoware_pointcloud_preprocessor/test/test_pickup_based_voxel_grid_downsample_filter_node.cpp
Labels: run:build-and-test-differential

#2271 fix(operation_mode_transition_manager): modify the engage condition
  control/autoware_operation_mode_transition_manager/src/state.cpp
Labels: run:build-and-test-differential

#2272 fix(boundary_departure): merging multiple close by departure points (…
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/data_structs.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/parameters.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/utils.hpp
  common/autoware_boundary_departure_checker/src/boundary_departure_checker_abnormality.cpp
  common/autoware_boundary_departure_checker/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/config/boundary_departure_prevention.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/schema/boundary_departure_prevention.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.hpp
Labels: run:build-and-test-differential

#2274 feat(boundary_departure): configurable departure points and type base…
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/boundary_departure_checker.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/data_structs.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/parameters.hpp
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/utils.hpp
  common/autoware_boundary_departure_checker/src/boundary_departure_checker_abnormality.cpp
  common/autoware_boundary_departure_checker/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/config/boundary_departure_prevention.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/schema/boundary_departure_prevention.schema.json
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.hpp
Labels: run:build-and-test-differential

#2280 fix(boudary_departrure): off time buffer for departure points for pc beta branch
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/config/boundary_departure_prevention.param.yaml
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.hpp
Labels: component:planning

#2275 feat(boundary_departure): slow down computation (#11085)
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/slow_down_interpolator.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.hpp
Labels: run:build-and-test-differential

#2270 fix(mpc): update time from start in the predicted trajectory (#10753)
  control/autoware_mpc_lateral_controller/src/mpc_utils.cpp
Labels: run:build-and-test-differential

#2283 feat(autoware_pointcloud_preprocessor): cherry picking _polar_voxel_outlier_filter
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/polar_voxel_outlier_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/outlier-filter.md
  sensing/autoware_pointcloud_preprocessor/docs/polar-voxel-outlier-filter.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/polar_voxel_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/polar_voxel_outlier_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/polar_voxel_outlier_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/polar_voxel_outlier_filter_node.cpp
Labels: run:build-and-test-differential

#2285 feat(autoware_system_monitor): publish msgs for system_monitor API
  system/autoware_system_monitor/include/system_monitor/cpu_monitor/cpu_monitor_base.hpp
  system/autoware_system_monitor/include/system_monitor/cpu_monitor/intel_cpu_monitor.hpp
  system/autoware_system_monitor/include/system_monitor/cpu_monitor/raspi_cpu_monitor.hpp
  system/autoware_system_monitor/include/system_monitor/gpu_monitor/gpu_monitor_base.hpp
  system/autoware_system_monitor/include/system_monitor/gpu_monitor/nvml_gpu_monitor.hpp
  system/autoware_system_monitor/include/system_monitor/hdd_monitor/hdd_monitor.hpp
  system/autoware_system_monitor/include/system_monitor/mem_monitor/mem_monitor.hpp
  system/autoware_system_monitor/include/system_monitor/net_monitor/net_monitor.hpp
  system/autoware_system_monitor/src/cpu_monitor/cpu_monitor_base.cpp
  system/autoware_system_monitor/src/cpu_monitor/intel_cpu_monitor.cpp
  system/autoware_system_monitor/src/cpu_monitor/raspi_cpu_monitor.cpp
  system/autoware_system_monitor/src/gpu_monitor/gpu_monitor_base.cpp
  system/autoware_system_monitor/src/gpu_monitor/nvml_gpu_monitor.cpp
  system/autoware_system_monitor/src/hdd_monitor/hdd_monitor.cpp
  system/autoware_system_monitor/src/mem_monitor/mem_monitor.cpp
  system/autoware_system_monitor/src/net_monitor/net_monitor.cpp
Labels: run:build-and-test-differential

#2288 feat(autoware_cuda_pointcloud_preprocessor): cherry picking cpu_polar_voxel_outlier_filter
  sensing/autoware_pointcloud_preprocessor/CMakeLists.txt
  sensing/autoware_pointcloud_preprocessor/config/polar_voxel_outlier_filter_node.param.yaml
  sensing/autoware_pointcloud_preprocessor/docs/outlier-filter.md
  sensing/autoware_pointcloud_preprocessor/docs/polar-voxel-outlier-filter.md
  sensing/autoware_pointcloud_preprocessor/include/autoware/pointcloud_preprocessor/outlier_filter/polar_voxel_outlier_filter_node.hpp
  sensing/autoware_pointcloud_preprocessor/launch/polar_voxel_outlier_filter_node.launch.xml
  sensing/autoware_pointcloud_preprocessor/schema/polar_voxel_outlier_filter_node.schema.json
  sensing/autoware_pointcloud_preprocessor/src/outlier_filter/polar_voxel_outlier_filter_node.cpp
Labels: type:documentation

#2286 feat(perception_online_evaluator): add functionality to publish perception analytics info
  evaluator/autoware_perception_online_evaluator/CMakeLists.txt
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/parameters.hpp
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/perception_analytics_calculator.hpp
  evaluator/autoware_perception_online_evaluator/include/autoware/perception_online_evaluator/perception_analytics_publisher_node.hpp
  evaluator/autoware_perception_online_evaluator/launch/perception_analytics_publisher.launch.xml
  evaluator/autoware_perception_online_evaluator/param/perception_analytics_publisher.defaults.yaml
  evaluator/autoware_perception_online_evaluator/src/perception_analytics_calculator.cpp
  evaluator/autoware_perception_online_evaluator/src/perception_analytics_publisher_node.cpp
  launch/tier4_perception_launch/launch/perception.launch.xml
  launch/tier4_simulator_launch/launch/simulator.launch.xml
Labels: run:build-and-test-differential

#2291 feat(autoware_command_mode_swicher_plugins): publish velocity limit again in stopping
  system/autoware_command_mode_switcher_plugins/src/comfortable_stop.cpp
Labels: run:build-and-test-differential

#2294 feat(autoware_behavior_velocity_traffic_light_module): enhance rviz for v2i
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/debug.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.hpp
Labels: run:build-and-test-differential

#2295 fix(start_planner): incorrect function call (#11107)
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/clothoid_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/shift_pull_out.cpp
Labels: run:build-and-test-differential

#2306 chore: cherry pick PRs
  planning/behavior_velocity_planner/autoware_behavior_velocity_crosswalk_module/src/scene_crosswalk.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_traffic_light_module/src/scene.cpp
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/README.md
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/config/rear_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/param/rear_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.cpp
Labels: type:documentation

#2307 feat(perception_filter): add perception filter feature for specific product
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_planning_evaluator/launch/planning_evaluator.launch.xml
  launch/tier4_control_launch/launch/control.launch.xml
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  planning/autoware_perception_filter/CMakeLists.txt
  planning/autoware_perception_filter/README.md
  planning/autoware_perception_filter/config/perception_filter.param.yaml
  planning/autoware_perception_filter/include/autoware/perception_filter/perception_filter_core.hpp
  planning/autoware_perception_filter/include/autoware/perception_filter/perception_filter_node.hpp
  planning/autoware_perception_filter/include/autoware/perception_filter/perception_filter_utils.hpp
  planning/autoware_perception_filter/launch/perception_filter.launch.xml
  planning/autoware_perception_filter/package.xml
  planning/autoware_perception_filter/src/core/perception_filter_core.cpp
  planning/autoware_perception_filter/src/node.cpp
  planning/autoware_perception_filter/src/utils/perception_filter_utils.cpp
  planning/autoware_rtc_interface/src/rtc_interface.cpp
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
Labels: type:documentation

#2298 feat: change planning output topic name to /planning/trajectory (#11135)
  common/autoware_component_interface_specs_universe/include/autoware/component_interface_specs_universe/planning.hpp
  control/autoware_control_performance_analysis/README.md
  control/autoware_control_performance_analysis/launch/control_performance_analysis.launch.xml
  control/autoware_control_validator/launch/control_validator.launch.xml
  control/autoware_lane_departure_checker/README.md
  control/autoware_lane_departure_checker/launch/lane_departure_checker.launch.xml
  control/autoware_obstacle_collision_checker/launch/obstacle_collision_checker.launch.xml
  control/autoware_operation_mode_transition_manager/README.md
  control/autoware_operation_mode_transition_manager/launch/autonomous_mode_transition_flag_node.launch.xml
  control/autoware_operation_mode_transition_manager/launch/operation_mode_transition_manager.launch.xml
  control/autoware_predicted_path_checker/launch/predicted_path_checker.launch.xml
  control/autoware_pure_pursuit/launch/pure_pursuit.launch.xml
  control/autoware_smart_mpc_trajectory_follower/scripts/pympc_trajectory_follower.py
  control/autoware_trajectory_follower_node/launch/simple_trajectory_follower.launch.xml
  evaluator/autoware_control_evaluator/launch/control_evaluator.launch.xml
  evaluator/autoware_planning_evaluator/launch/planning_evaluator.launch.xml
  launch/tier4_control_launch/launch/control.launch.xml
  launch/tier4_planning_launch/launch/planning.launch.xml
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_cruise_module/src/optimization_based_planner/optimization_based_planner.cpp
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
  simulator/autoware_simple_planning_simulator/launch/simple_planning_simulator.launch.py
  system/autoware_component_state_monitor/config/topics.yaml
  tools/reaction_analyzer/param/reaction_analyzer.param.yaml
Labels: run:build-and-test-differential

#2313 chore: remove dkoldaev from reviewers
  .cspell.json
  .github/workflows/sync-workflows.yaml
Labels: type:ci

#2300 fix(boundary_departure): refactor merge_departure_intervals function to avoid crashes #11129
  common/autoware_boundary_departure_checker/include/autoware/boundary_departure_checker/data_structs.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/utils.cpp
Labels: run:build-and-test-differential

#2310 feat(rear_collision_checker): add parameter to make collision detection behavior configurable (#11151)
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/README.md
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/config/rear_collision_checker.param.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/param/rear_collision_checker_node_parameters.yaml
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.cpp
Labels: type:documentation, run:build-and-test-differential

#2321 fix(path_optimizer): fix out_of_range die
  planning/autoware_path_optimizer/src/utils/geometry_utils.cpp
Labels: run:build-and-test-differential

#2328 feat(planning_factor_rviz_plugin): change some property (#11218)
  visualization/tier4_planning_factor_rviz_plugin/src/planning_factor_rviz_plugin.cpp
  visualization/tier4_planning_factor_rviz_plugin/src/planning_factor_rviz_plugin.hpp
Labels: run:build-and-test-differential

#2327 fix(goal_planner): generate goal candidates using lane boundary to fix wrong validation (#11224)
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_searcher.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/test/test_util.cpp
Labels: run:build-and-test-differential

#2332 refactor(launch): topic remapping for object recognition and point cloud input to planning/control module
  launch/tier4_control_launch/launch/control.launch.xml
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/behavior_planning/behavior_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/lane_driving/motion_planning/motion_planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/parking.launch.xml
  planning/planning_validator/autoware_planning_validator/launch/planning_validator.launch.xml
Labels: run:build-and-test-differential

#2333 fix(intersection): hold collision stop pose (#11247)
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/decision_result.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.cpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection.hpp
  planning/behavior_velocity_planner/autoware_behavior_velocity_intersection_module/src/scene_intersection_collision.cpp
Labels: run:build-and-test-differential

#2335 feat(obstacle_stop, motion_velocity_planner_common, motion_utils): update pointcloud stop
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/obstacle_slow_down_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_slow_down_module/src/parameters.hpp
Labels: run:build-and-test-differential

#2340 feat(perception_filter): add perception filter feature for specific p…
  evaluator/autoware_planning_evaluator/launch/planning_evaluator.launch.xml
  launch/tier4_control_launch/launch/control.launch.xml
  launch/tier4_planning_launch/launch/planning.launch.xml
  launch/tier4_planning_launch/launch/scenario_planning/scenario_planning.launch.xml
  planning/autoware_perception_filter/CMakeLists.txt
  planning/autoware_perception_filter/README.md
  planning/autoware_perception_filter/config/perception_filter.param.yaml
  planning/autoware_perception_filter/include/autoware/perception_filter/perception_filter_core.hpp
  planning/autoware_perception_filter/include/autoware/perception_filter/perception_filter_node.hpp
  planning/autoware_perception_filter/include/autoware/perception_filter/perception_filter_utils.hpp
  planning/autoware_perception_filter/launch/perception_filter.launch.xml
  planning/autoware_perception_filter/package.xml
  planning/autoware_perception_filter/src/core/perception_filter_core.cpp
  planning/autoware_perception_filter/src/node.cpp
  planning/autoware_perception_filter/src/utils/perception_filter_utils.cpp
  planning/autoware_rtc_interface/src/rtc_interface.cpp
Labels: type:documentation

#2346 fix(rear_collision_checker): correct deviation judgment logic from current driving lane (#11286)
  planning/planning_validator/autoware_planning_validator_rear_collision_checker/src/utils.cpp
Labels: run:build-and-test-differential

#2341 feat(goal_planner): improve lane change coordination by monitoring lane change completion
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/CMakeLists.txt
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/goal_searcher.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/lane_change.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/thread_data.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/include/autoware/behavior_path_goal_planner_module/util.hpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/package.xml
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/goal_planner_module.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/lane_change.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/thread_data.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/src/util.cpp
  planning/behavior_path_planner/autoware_behavior_path_goal_planner_module/test/test_lane_change.cpp
Labels: run:build-and-test-differential

#2347 feat(start_planner): prioritize planner type with list
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/README.md
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/config/start_planner.param.yaml
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/images/priority_order.drawio.svg
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/data_structs.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/include/autoware/behavior_path_start_planner_module/start_planner_module.hpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/clothoid_pull_out.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/data_structs.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/manager.cpp
  planning/behavior_path_planner/autoware_behavior_path_start_planner_module/src/start_planner_module.cpp
Labels: type:documentation, run:build-and-test-differential

#2348 fix(boundary_departure): backport PRs to reduce possibility of random node crash
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.cpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/boundary_departure_prevention_module.hpp
  planning/motion_velocity_planner/autoware_motion_velocity_boundary_departure_prevention_module/src/parameters.hpp
Labels: run:build-and-test-differential

#2339 chore: turn signal decider fix cherry-pick
  planning/behavior_path_planner/autoware_behavior_path_planner_common/src/turn_signal_decider.cpp
Labels: tag:require-cuda-build-and-test, run:build-and-test-differential
